/* #jsoneditor {
  width: 100%;
  height: 400px;
} */
.paragraph-align {
  color: #464457;
  font-weight: 600;
}
.btn-success.active{
  color: #fff !important;
  background-color: #518c24 !important;
  border-color: #518c24 !important;
}
.section_title {
  display: block;
  padding: 0;
  margin: 0 0 1.75rem 0;
  font-size: 1.3rem;
  font-weight: 600;
  color: #b50404ad;
}
.back_icon_align {
  vertical-align: unset !important;
}
.kt-portlet .kt-portlet__head .kt-portlet__head-label .kt-portlet__head-title {
   margin: 0;
   padding: 0;
   font-size: 1.2rem;
   font-weight: 500;
   color:  #464457;
}

:host ::ng-deep json-editor,
:host ::ng-deep json-editor .jsoneditor,
:host ::ng-deep json-editor > div,
:host ::ng-deep json-editor jsoneditor-outer {
  height: 400px 
}
/* :host ::ng-deep .jsoneditor-menu{
  background-color: #000000bd;
  border: 1px solid black;
} */

:host ::ng-deep .jsoneditor .jsoneditor-menu{
  background-color: #000000bd;
  border: 1px solid black;
}

:host ::ng-deep .jsoneditor-contextmenu .jsoneditor-menu{
  background-color: white;
  border: 1px solid black;
  color: black;
}

:host ::ng-deep .jsoneditor{
  border: 1px solid hsla(236, 23%, 14%, 0.322) !important;
}
