<!--end::Content-->
<div class="kt-grid kt-grid--hor kt-grid--root">
  <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--ver kt-page">
    <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor kt-wrapper" id="kt_wrapper">
      <!--begin::Portlet-->
      <div class="kt-portlet kt-portlet--last kt-portlet--head-lg kt-portlet--responsive-mobile" id="kt_page_portlet">
        <div class="kt-portlet__head">
          <div class="kt-portlet__head-label">
            <span class="kt-portlet__head-icon">
              <i class="kt-font-brand fa fa-list-ul"></i>
            </span>
            <h3 class="kt-portlet__head-title">
              Update Options
            </h3>
          </div>
          <div class="kt-portlet__head-toolbar">
            <div class="kt-portlet__head-wrapper">
              <div class="">
                <a href="javascript:void(0)" (click)="goBack()" class="btn btn-clean btn-sm" data-skin="dark" data-toggle="kt-tooltip" data-placement="top" title="Back to Previous Page">
                  <i class="fas fa-chevron-left"></i>
                  Back
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="kt-portlet__body">
          <div class="kt-form" id="kt_form">
            <div class="row">
              <!-- <div class="col-xl-1"></div> -->
              <div class="col-xl-12">
                <div class="kt-section kt-section--first">
                  <div class="kt-section__body">
                    <div class="paragraph-align">
                      <p class="a">Options are applied globally to all the agents, irrespective of the tags, as a part of the
                        config refresh cycle.</p>
                      <p>It is recommended to leave the options to their default values.</p>
                    </div>
                  </div>       
              <div>
                <json-editor [options]="options" [data]="data"></json-editor>
              </div>
            </div>
              
              <div class="kt-portlet__foot ">
                <div class="kt-form__actions kt-form__actions--center">
                  <button type="submit" (click)="onSubmit()" class="btn btn-success active">
                    <span>Upload</span>
                    <i class="fa fa-level-up-alt"></i>
                  </button>
                  <button type="reset" style="margin-left:5px;" (click)="goBack()" class="btn btn-secondary">Cancel</button>
                </div>
              </div>
            <!-- </div> -->
            
          </div>
        </div>
      </div>
        </div>
      </div>
      <!--end::Portlet-->
    </div>
  </div>
</div>
<!--end::Content-->
