<!-- begin:: Content -->
<div class="kt-grid kt-grid--hor kt-grid--root">
  <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--ver kt-page">
    <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor kt-wrapper" id="kt_wrapper">
      <!--begin::Portlet-->
      <div class="kt-portlet kt-portlet--last kt-portlet--responsive-mobile" id="kt_page_portlet">
        <div class="kt-portlet__head kt-portlet__head--lg">
          <div class="kt-portlet__head-label">
            <span class="kt-portlet__head-icon">
              <i class="kt-font-brand fab fa-keycdn"></i>
            </span>
            <h3 class="kt-portlet__head-title">
              Threat Intel API Keys
            </h3>
          </div>
          <div class="kt-portlet__head-toolbar">
            <div class="kt-portlet__head-wrapper">
              <a href="javascript:void(0);" (click)="goBack()" class="btn btn-clean btn-sm" data-skin="dark" data-toggle="kt-tooltip" data-placement="top" title="Back to Previous Page">
                <i class="fas fa-chevron-left back_icon_align"></i>
                Back
              </a>
            </div>
          </div>
        </div>
        <div class="kt-portlet__body">
          <form class="kt-form" id="kt_form" [formGroup]="intelKeys" (ngSubmit)="onSubmit()">
            <div class="row">
              <div class="col-xl-1"></div>
              <div class="col-xl-12">
                <div class="kt-section kt-section--first">
                  <div class="kt-section__body">
                    <div class="paragraph-align">
                      <p>PolyLogyx ESP ships with support for connectors to multiple Threat Intelligence resources. This
                        provides an effective way of identifying potentially malicious files in your Endpoint Fleet.</p>
                      <p>To use these connectors, you must have a valid API key. The Public/Free API keys to these resources may be
                        severely restrictive and it is <b>strictly recommended</b> that only private API keys are used. On a match
                        being found, the threat report returned from the Intel source is submitted as part of the alert.</p>
                    </div>
                    <h3 class="section_title">Threat Intelligence Feed:</h3>
                    <div class="form-group row required">
                      <label class="col-sm-2 col-form-label form--label">
                        <a class="black" href="https://exchange.xforce.ibmcloud.com/" target="_blank">IBM X-Force Key</a>
                      </label>
                      <div class="col-10">
                        <input type="text" id="IBMxForceKey" name="ibmkey" [(ngModel)]="ibmkey" formControlName="ibmkey" (input)="removeError('ibmxforcekeyError')" class="form-control" value="{{ibmkey}}" [ngClass]="{ 'is-invalid': submitted && f.ibmkey.errors }" />
                        <div *ngIf="submitted && f.ibmkey.errors" class="invalid-feedback">
                          <div *ngIf="f.ibmkey.errors.required">Error On IBMxForceKey Field</div>
                        </div>
                        <div *ngIf="ibmxforcekeyError" class="invalid-feedback" style="display:block;">
                          <p>{{ibmxforcekeyError}}</p>
                        </div>
                      </div>
                    </div>
                    <div class="form-group row required">
                      <label class="col-sm-2 col-form-label form--label">
                        <a class="black" href="https://exchange.xforce.ibmcloud.com/" target="_blank">IBM X-Force Pass</a>
                      </label>
                      <div class="col-10">
                        <input type="text" id="IBMxForcePass" name="ibmpass" [(ngModel)]="ibmpass" (input)="removeError('ibmxforcepassError')" formControlName="ibmpass" class="form-control" value="{{ibmpass}}" [ngClass]="{ 'is-invalid': submitted && f.ibmpass.errors }" />
                        <div *ngIf="submitted && f.ibmpass.errors" class="invalid-feedback">
                          <div *ngIf="f.ibmpass.errors.required">Error On IBMxForcePass Field</div>
                        </div>
                        <div *ngIf="ibmxforcepassError" class="invalid-feedback" style="display:block;">
                          <p>{{ibmxforcepassError}}</p>
                        </div>
                      </div>
                    </div>
                    <div class="form-group row required">
                      <label class="col-sm-2 col-form-label form--label">
                        <a class="black" href="https://developers.virustotal.com/v2.0/reference" target="_blank">VirusTotal Key</a>
                      </label>
                      <div class="col-10">
                        <input type="text" id="vt_key" name="virustotalkey" [(ngModel)]="virustotalkey" formControlName="virustotalkey" (input)="removeError('virustotalError')" class="form-control" value="{{virustotalkey}}" [ngClass]="{ 'is-invalid': submitted && f.virustotalkey.errors }" />
                        <div *ngIf="submitted && f.virustotalkey.errors" class="invalid-feedback">
                          <div *ngIf="f.virustotalkey.errors.required">Error On Virus Total Key Field</div>
                        </div>
                        <div *ngIf="virustotalError" class="invalid-feedback" style="display:block;">
                          <p>{{virustotalError}}</p>
                        </div>
                      </div>
                    </div>
                    <div class="form-group row required">
                      <label class="col-sm-2 col-form-label form--label">
                        <a class="black" href="https://otx.alienvault.com/api" target="_blank">AlienVault OTX Key</a>
                      </label>
                      <div class="col-10">
                        <input type="text" id="otx_key" name="alienvaultkey" [(ngModel)]="alienvaultkey" (input)="removeError('alienvaultkeyError')" formControlName="alienvaultkey" class="form-control" value="{{alienvaultkey}}" [ngClass]="{ 'is-invalid': submitted && f.alienvaultkey.errors }" />
                        <div *ngIf="submitted && f.alienvaultkey.errors" class="invalid-feedback">
                          <div *ngIf="f.alienvaultkey.errors.required">Error On AlienVault OTX Key Field</div>
                        </div>
                        <div *ngIf="alienvaultkeyError" class="invalid-feedback" style="display:block;">
                          <p>{{alienvaultkeyError}}</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="kt-portlet__foot">
                  <div class="kt-form__actions kt-form__actions--center">
                    <button type="submit" class="btn btn-success"><i class="fa fa-sync-alt"></i>
                      <span>Update</span>
                    </button>
                    <button type="reset" style="margin-left: 5px;" class="btn btn-secondary" (click)="clearForm()">Cancel</button>
                  </div>
                </div>
              </div>
              <div class="col-xl-1"></div>
            </div>
          </form>
        </div>
      </div>
      <!--end::Portlet-->
    </div>
  </div>
</div>
<!-- end:: Content -->
