<div class="kt-grid kt-grid--hor kt-grid--root">
  <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--ver kt-page">
    <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor kt-wrapper" id="kt_wrapper">
      <!-- begin:: Content -->
      <div class="row">
        <div class="col-lg-12">
        <!--begin::Portlet-->
        <div class="kt-portlet kt-portlet--last kt-portlet--responsive-mobile" id="kt_page_portlet">
          <div class="kt-portlet__head kt-portlet__head--lg">
            <div class="kt-portlet__head-label">
              <span class="kt-portlet__head-icon">
                <i class="kt-font-brand fab fa-cuttlefish"></i>
              </span>
              <h3 class="kt-portlet__head-title">
                Carves
              </h3>
              <!-- <popover-content #myPopover
              title="Popover title"
              placement="left"

         >
  <b>Very</b> <span style="color: #C21F39">Dynamic</span> <span style="color: #00b3ee">Reusable</span>
  <b><i><span style="color: #ffc520">Popover With</span></i></b> <small>Html support</small>.
</popover-content>

<button [popover]="myPopover">element on which this popover is applied.</button> -->
              <div class="info-icon">

                <a href="javascript:void(0);" tabindex="0" class="help" role="button" data-toggle="popover"
                aria-label="Send a live query for a file acquisition from endpoint. Eg: select * from carves where path like '/some/path/%' and carve=1;">
                  <span class="badge badge-pill badge-light fa fa-info" data-placement="top" title="info"> </span>
                </a>
              </div>
            </div>
            <div class="kt-portlet__head-toolbar">
              <div class="kt-portlet__head-wrapper">
                <a href="javascript:void(0);" (click)="goBack()" class="btn btn-clean btn-sm" data-skin="dark" data-toggle="kt-tooltip" data-placement="top" title="Back to Previous Page">
                  <i class="fas fa-chevron-left back_icon_align"></i>
                  Back
                </a>
              </div>
            </div>
          </div>

          <!-- <div class="kt-portlet__body"> -->
            <!--begin::Carves-->
            <div class="kt-portlet__body">
            <!-- <div *ngIf="carves_data?.length != 0"> -->
            <div class="col-lg-12 row">
              <div class="col-lg-6">
              </div>
              <div class="col-lg-6">
                <label *ngIf="Progress_value > 0 && Progress_value <= 99">File Downloading......</label>
                <!-- <label *ngIf="Progress_value == 100">File Download Completed</label> -->
                <div class="progress mb-4" *ngIf="Progress_value > 0 && Progress_value <= 99" style="height:20px">
                   <div class="progress-bar progress-bar-striped bg-success" role="progressbar" [style.width.%]="Progress_value" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">{{this.Progress_value}}% </div>
                </div>
               </div>
            <div class="carves_result">
              <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-hover table-checkable" >
                <thead style="text-align: center;color: #212529">
                  <tr>
                  <th >Host</th>
                  <th>Session</th>
                  <th style="width: 150px;">Carve Size</th>
                  <th style="width: 200px;">File</th>
                  <th style="width: 150px;">Blocks Acquired</th>
                  <th>Status</th>
                  <th>Created At</th>
                  <th></th>
                </tr>
                </thead>
                <tbody style="text-align: center;">
                  <tr *ngFor="let carve of carves_data">
                    <td><a [routerLink]="['/hosts/', carve.node_id]">{{ carve.hostname }}</a></td>
                    <td><code>{{ carve.session_id }}</code></td>
                    <td>{{getCarvesize(carve.carve_size)}}
                    <td><a style="color:#5867dd;" (click)="downloadCarve($event,carve.hostname)" id="{{ carve.session_id }}" >{{ carve.archive }}</a></td>
                    <td>{{ carve.block_count }}</td>
                    <td>{{ carve.status }}</td>
                    <td>{{ carve.created_at | date:'long'}}</td>

                    <td>
                      <button (click)="deleteCarve($event)" class="btn btn-outline-danger btn-sm" id="{{ carve.session_id }}">
                        Delete
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            <!-- </div> -->
          </div>
            <div class="" *ngIf="carves_data?.length == 0">
              <p class="txt-clr">No files acquired.</p>
            </div>
            <!--end::Carves-->
          <!-- </div> -->
        </div>
        <!--end::Portlet-->
        </div>
      </div>
      <!-- end:: Content -->
    </div>
  </div>
</div>
