.car_delete:hover {
  color: crimson;
}

.table thead th {
  /* font-weight: 700; */
  font-weight: 500;
  border-bottom-width: 1px;
  padding-top: 1rem;
  padding-bottom: 1rem; 
  font-family: "Poppins";
}
.back_icon_align {
vertical-align: unset !important;
}
.txt-clr{
color: indianred;
text-align: center;
/* margin-bottom: 0px; */
font-weight: 400;
}
.kt-portlet .kt-portlet__head .kt-portlet__head-label .kt-portlet__head-title {
 margin: 0;
 padding: 0;
 font-size: 1.2rem;
font-weight: 500;
 color:  #464457;
}
a {
cursor:pointer;
}
tbody {
font-size: 13px;
font-weight: 300;
font-family: Poppins;
line-height: 1.5;
width: 200%;

}
.badge {
display: inline-block;
padding: .5em .75em;
font-size: 85%;
font-weight: 700;
line-height: 1;
text-align: center;
white-space: nowrap;
vertical-align: baseline;
border-radius: .25rem;
transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
}


.help{
  position:relative;
  box-sizing:border-box;
  width:20px;
  height:20px;
  background:#808080;
  border:0;
  padding:0;
  border-radius:50%;
  font-size:12px;
  font-weight:700;
  color:#fff;
  cursor:pointer;
}
.help:hover:before,
.help:focus:before{
  content:'';
  position:absolute;
  width:0;
  height:0;
  border:4px solid transparent;
  border-right-color:#808080;
  border-right-color:rgba(0,0,0,.5);
  border-left:0;
  top:0;
  bottom:0;
  margin:auto 0;
  left:20px;
}
.help:hover:after,
.help:focus:after{
  content:attr(aria-label);
  position:absolute;
  top:-6px;
  left: 24px;
  height:32px;
  line-height:32px;
  padding:0 10px;
  font-weight:400;
  text-align:left;
  background:#808080;
  background:rgba(0,0,0,.5);
  border-radius:3px;
  white-space:nowrap;
  color:#fff;
}


/* COLORS */
/* BUTTONS */
/* .btn {
  align-items: center;
  background-color: white;
  border: 1px solid #cdd2d6;
  box-sizing: border-box;
  color: #000;
  display: flex;
  height: 45px;
  letter-spacing: 2px;
  padding: 0.8em 1em;
  transition: all 0.3s ease;
}
.btn:hover {
  background-color: #05a8ff;
  border-color: #05a8ff;
  color: #fff;
} */
/* TOOLTIP */
.tooltip {
  position: relative;
  overflow: hidden;
}
.tooltip:hover {
  overflow: visible;
}
.tooltip:hover .tooltip-content {
  opacity: 1;
}
.tooltip .tooltip-content {
  background: #05a8ff;
  box-shadow: 0 5px 25px 5px rgba(205, 210, 214, 0.8);
  box-sizing: border-box;
  color: #fff;
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 1px;
  max-width: 200px;
  min-width: 145px;
  padding: 1em;
  position: absolute;
  opacity: 0;
  transition: all 0.3s ease;
}
.tooltip .tooltip-content::after {
  background: #05a8ff;
  content: "";
  height: 10px;
  position: absolute;
  transform: rotate(45deg);
  width: 10px;
}
.tooltip.top .tooltip-content {
  bottom: calc(100% + 1.5em);
  left: 50%;
  transform: translateX(-50%);
}
.tooltip.top .tooltip-content::after {
  bottom: -5px;
  left: 50%;
  margin-left: -5px;
}
.tooltip.bottom .tooltip-content {
  bottom: calc(-100% - 1.8em);
  left: 50%;
  transform: translateX(-50%);
}
.tooltip.bottom .tooltip-content::after {
  top: -5px;
}
.tooltip.right .tooltip-content {
  left: calc(100% + 1.5em);
  top: 50%;
  transform: translateY(-50%);
}
.tooltip.right .tooltip-content::after {
  left: -5px;
  margin-top: -5px;
  top: 50%;
}
.tooltip.left .tooltip-content {
  right: calc(100% + 1.5em);
  top: 50%;
  transform: translateY(-50%);
}
.tooltip.left .tooltip-content::after {
  right: -5px;
  margin-top: -5px;
  top: 50%;
}
