.body-fluid {
    height: 100px !important;
    }
    .align-top-alerts {
    margin-top: -1rem;
    }
    .down-font {
    font-size: medium;
    /* color: #7a798a; */
    color: #424246;
    font-weight: 500;
    }
    .btn {
    font-weight: 600;
    }
    .cust-btn {
    font-weight: 400 !important;
    }
    .btn.btn-clean {
    padding: .65rem 0rem;
    border: 0;
    background: transparent;
    color: #667096 !important;
    }
    .btn.btn-clean:hover {
    color: #184ba1 !important;
    background: transparent;
    }
    .btn:focus, .btn.focus {
    box-shadow: none !important;
    }
    .btn.btn-clean i {
    color: #667096;
    }
    .nav-tabs.nav-tabs-line.nav.nav-tabs .nav-link, .nav-tabs.nav-tabs-line a.nav-link {
    background: transparent;
    color: #424246;
    }
    .kt-widget26__desc {
    color: #454357 !important;
    }
    .alerts-color-otx:hover .kt-widget26__desc {
    color: #78c351 !important;
    }
    .alerts-color-ibm:hover .kt-widget26__desc {
    color: #91d9f6 !important;
    }
    .alerts-color-rule:hover .kt-widget26__desc {
    color: #e87373 !important;
    }
    .alerts-color-virus:hover .kt-widget26__desc {
    color: #3c5ff6 !important;
    }
    .table-inner-delete {
    visibility:hidden;
    }
    .kt-portlet__body-alerts:hover .table-inner-delete {
    visibility:visible;
    }
    .kt-portlet__body-alerts:hover .text-overlap {
    width: 140px;
    }
    .kt-portlet__body-alerts:hover .text-overlap-text {
    height: 50px;
    width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    }
    .kt-portlet__body-alerts:hover .text-overlap-img {
    height: 30px;
    width: 30px;
    margin-top: -10px;
    margin-left: -40px;
    }
    .kt-portlet__body-alerts:hover .severity-dash {
    position: absolute;
    top: 0px;
    float: right;
    right: -5px;
    z-index: 50;
    padding: 0px;
    -webkit-transform: translate(-10px, 0);
    -moz-transform: translate(-10px, 0);
    -ms-transform: translate(-10px, 0);
    -o-transform: translate(-10px, 0);
    transform: translate(-10px, 0);
    background: rgba(255, 255, 255, 0.4);
    }
    .kt-portlet__body-alerts:hover .severity-dash {
    display: block;
    margin: 5px;
    background: rgba(255, 255, 255, 0.4);
    width: 50%;
    height: 74%;
    text-align: left;
    padding: 10px;
    -webkit-box-shadow: 0 0 50px 0 rgba(82,63,105,0.15);
    box-shadow: 0 0 50px 0 rgba(82,63,105,0.15);
    -webkit-border-radius: 4px 0 0 4px;
    -moz-border-radius: 40px 0 0 4px;
    border-radius: 4px 0 0 4px;
    /* -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s; */
    animation-duration: 1s;
    animation-name: slideout;
    }
    @keyframes slideout {
    from {
    margin-right: 0;
    /* width: 10%; */
    }

    to {
    margin-right: 5px;
    /* width: 100%; */
    }
    }

    #pie-chart-platform-count, #pie-chart-query-count, #pie-chart-online-offline svg {
    height: 100%;
    width: 100%;
    padding-right:5px
    }

    #divchart{
        width:360px;
        height:220px;
    }
    #divchart1{
        position: relative;
        margin: auto;
        height: 230px;
        width: 321px;
    }
    .kt-portlet__body-div{
        background:#acb2bb2b;
        padding:10px
      }