<!-- begin:: Content -->
<div class="kt-content  kt-grid__item kt-grid__item--fluid" id="kt_content">
  <div class="row">
    <div class="col-lg-12">
      <!--begin::Portlet-->
      <div class="kt-portlet kt-portlet--last kt-portlet--head-lg kt-portlet--responsive-mobile" id="kt_page_portlet">

        <div class="kt-portlet__body">
          <form id="kt_form" class="kt-form form-horizontal" method="POST">
            <div class="row">
              <div class="col-xl-1"></div>
              <div class="col-xl-10">
                <div class="kt-section kt-section--first">
                  <div class="kt-section__body">
                    {{ form.csrf_token() }}
                    <div class="form-group row">
                      {{ form.value.label(class_="col-3 col-form-label") }}
                      <div class="col-9">
                        {{ form.value(placeholder="Enter tags here, one tag per line", class_="form-control") }}
                      </div>
                    </div>
                  </div>
                </div>
                <!-- <div class="kt-separator kt-separator--border-dashed kt-separator--space-lg"></div> -->

                <div class="kt-portlet__foot">
                  <div class="kt-form__actions kt-form__actions--center">

                    <button type="submit" class="btn btn-success">Add</button>

                  </div>
                </div>
              </div>
              <div class="col-xl-1"></div>
            </div>
          </form>
        </div>
      </div>
      <!--end::Portlet-->
    </div>
  </div>
</div>
<!-- end:: Content -->
