[Unit]
Description=The Polylogyx osquery Daemon
After=network.service syslog.service

[Service]
TimeoutStartSec=30
EnvironmentFile=/etc/default/plgx_osqueryd
ExecStartPre=/bin/sh -c "if [ ! -f $FLAG_FILE ]; then touch $FLAG_FILE; fi"
ExecStartPre=/bin/sh -c "if [ -f $LOCAL_PIDFILE ]; then mv $LOCAL_PIDFILE $PIDFILE; fi"
ExecStart=/usr/bin/plgx_osqueryd \
  --flagfile $FLAG_FILE

Restart=on-failure
KillMode=control-group
KillSignal=SIGTERM

[Install]
WantedBy=multi-user.target
