<link rel="stylesheet" href="/static/css/tab.css">
<link href="/static/css/jsoneditor/jsoneditor.min.css" rel="stylesheet" type="text/css">

<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.6/ace.js"></script>
<script src="/static/js/jsoneditor/jsoneditor-minimalist.min.js"></script>

<!--Begin:: Modal-->
<div class="modal left fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" style="display: none; position: fixed; background-color: hsla(0, 0%, 0%, 0.45)">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="">View Alerted Entry</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body kt-scroll" data-scroll="false" data-height="200" data-scrollbar-shown="true">
        <!--begin:: Widgets/Tasks -->

        <form class="kt-form" id="kt_form">
          <div class="row">
            <!-- <div class="col-xl-2"></div> -->
            <div class="col-xl-12">
              <div class="kt-section kt-section--first">
                <div class="kt-section__body">
                  <div id="jsoneditor"></div>
                  <pre id="output"><notextile></notextile></pre>
                </div>
              </div>
              <!-- <div class="kt-separator kt-separator--border-dashed kt-separator--space-lg"></div> -->
            </div>
            <!-- <div class="col-xl-2"></div> -->
          </div>
        </form>
        <!--end:: Widgets/Tasks -->
      </div>
      <div class="modal-footer align-center">
        <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!--End:: Modal-->
<!-- begin:: Content -->
<div class="kt-portlet kt-portlet--mobile kt-portlet--responsive-mobile">
  <div class="kt-portlet__head kt-portlet__head--lg">
    <div class="kt-portlet__head-label">
      <span class="kt-portlet__head-icon">
        <i class="kt-font-brand fas fa-exclamation-triangle"></i>
      </span>
      <h3 class="kt-portlet__head-title">
        Alerts Table
      </h3>
    </div>
    <div class="kt-portlet__head-toolbar">
      <div class="kt-portlet__head-wrapper">

      </div>
    </div>
  </div>
  <div class="kt-portlet__body">

    <!--begin: Datatable -->
    <div class="">
      <table class="table table-hover table-checkable" id="node_table">
        <thead >
          <tr>
            <th>
              <span>Node</span>
            </th>
            <th>
              <span>Query</span>
            </th>
            <th>
              <span>Alert Type</span>
            </th>
            <th>
              <span>Source</span>
            </th>
            <th>
              <span>Rule Name</span>
            </th>
            <th>
              <span>Severity</span>
            </th>
            <th>
              <span>Created</span>
            </th>
            <th>
              <span>Alert Entry</span>
            </th>
            <th>
              <span>Investigate</span>
            </th>
          </tr>
        </thead>
        <tbody>
          {% for alert in alerts %}
          <tr class="">
            <td nowrap>
              <a href="{{ url_for('manage.get_node', node_id=alert.node_id) }}">{{ alert.node.display_name }}</a>
            </td>
            <td nowrap>
              <code>{{ alert.query_name }}</code>
            </td>
            <td>
              {{ alert.type }}
            </td>
            <td>
              {{ alert.source }}
            </td>
            <td>
              {% if alert.type=='rule'%}<code>{{alert.rule.name}}</code>{% endif %}
            </td>
            <td>
              {{ alert.severity }}
            </td>
            <td>
              {{ alert.created_at }}
            </td>
            <td>
              {% if alert.message %}
              <a class="" href="javascript:void(0);" onclick="openAlertData(  '{{ alert.message | to_json   }}')">View
                Alerted Entry</a>
              {% endif %}
            </td>
            <td>
              <a href="{{ url_for('manage.alert_data', alert_id=alert.id) }}">Investigate</a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>

    </div>
    <!--end: Datatable -->


  </div>
</div>

<!-- end:: Content -->

<script>
  var container = document.getElementById('jsoneditor');
  var options = {
    modes: ['view'],
    mode: 'view',
    ace: ace
  };
  var editor = new JSONEditor(container, options, {});

  function openAlertData(data) {

    var tmpData = JSON.parse(data);

    var formattedData = JSON.stringify(tmpData, null, '\t');


    editor.set(tmpData);

    $("#myModal").modal({
      backdrop: false
    });
    $('#myModal').modal('show');
  }


  $('#' + table_id + ' tbody').on('click', 'td.details-control', function() {
    var tr = $(this).closest('tr');
    var row = elem_table.row(tr);
    var idx = $.inArray(tr.attr('id'), detailRows);

    if (row.child.isShown()) {
      tr.removeClass('details');
      row.child.hide();

      // Remove from the 'open' array
      detailRows.splice(idx, 1);
    } else {
      tr.addClass('details');
      row.child(format(row.data())).show();

      // Add to the 'open' array
      if (idx === -1) {
        detailRows.push(tr.attr('id'));
      }
    }
  });
  var detailRows = [];
  elem_table.on('draw', function() {
    $.each(detailRows, function(i, id) {
      $('#' + id + ' td.details-control').trigger('click');
    });
  });
</script>
