.conf-icon {
  color: #326fb8;
  font-size: 1.5em;
}

.fa-size {
  font-size: 20px !important;
}

.conf-table-val {
  line-height: 1.4em;
}

.box-clicked {
  border: 2px solid cornflowerblue !important;
}

pre code {
  word-break: break-word !important;
}

.conf-box {
  text-align: center;
  border: 1px solid #d6d6e6;
  padding-top: 20px;
  /* box-shadow: 1px 2px 2px 1px rgba(0, 0, 0, 0.1); */
  max-width: 300px;
  border-radius: 10px;
  height: 130px;
  width: 150px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 20px;
  margin-top: 10px;
}

*, ::after, ::before {
  box-sizing: border-box;
}

pre {
  white-space: pre-wrap;
  /* Since CSS 2.1 */
  white-space: -moz-pre-wrap;
  /* Mozilla, since 1999 */
  white-space: -pre-wrap;
  /* Opera 4-6 */
  white-space: -o-pre-wrap;
  /* Opera 7 */
  word-wrap: break-word;
  /* Internet Explorer 5.5+ */
}

.right-conf-card {
  border-radius: 0px;
  border: 0px;
}

.card-header.conf-div {
  background-color: white;
  border-bottom: 0px;
  /* border-top: 1px solid rgba(0, 0, 0, .125); */
}

.card-header:first-child {
  border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
}

.card {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, .125);
  border-radius: .25rem;
}

code {
  font-size: 100%;
  color: #e83e8c;
  word-break: break-word;
}

table {
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  -webkit-border-horizontal-spacing: 10px;
  -webkit-border-vertical-spacing: 10px;
  border-collapse: collapse;
  white-space: normal;
  line-height: normal;
  font-weight: normal;
  font-size: medium;
  font-style: normal;
  color: -internal-quirk-inherit;
  text-align: start;
  font-variant: normal;
  display: table;
  border-color: grey;
}

.val-link:after {
  content: "\f068";
  font-family: "Fontawesome";
  float: right;
  margin-left: 15px;
  font-weight: 900;
}

td, th {
  display: table-cell;
  vertical-align: inherit;
}

.conf-table-val {}

.val-link.collapsed:after {
  content: "\f067";
}

.right-conf {
  display: none;
}
.right-conf-query {
  display: none;
}

.right-content-conf {
  /* border-left: 1px dotted lightgray; */
}

.show {
  display: block;
}
