<div class="kt-grid kt-grid--hor kt-grid--root">
  <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--ver kt-page">
    <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor kt-wrapper" id="kt_wrapper">
<div class="kt-portlet kt-portlet--mobile">
<!-- start:: Content -->
<form class="kt-form">
<div class="kt-portlet__head kt-portlet__head--lg">
<div class="kt-portlet__head-label">
  <span class="kt-portlet__head-icon">
    <i class="kt-font-brand fa fa-desktop "></i>
  </span>
  <h3 class="kt-portlet__head-title">Config</h3>
</div>
<div class="kt-portlet__head-toolbar">
  <div class="kt-portlet__head-wrapper">
    <div class="kt-portlet__head-actions">

        <ul class="nav nav-pills nav-fill nav-background" role="tablist">
          <li class="nav-item" style="cursor: pointer;" (click)="onClick(1)">
            <div class="nav-link cursor-tab" id="windows" [ngClass]="{'active': tab==='tab1'}" data-toggle="tab" (click)="showDataAsPerPlatformSelection(config.data.windows.x86_64['1']['queries'],config.data.windows.x86_64['1']['filters'],'windows','x86_64','shallow',config.data.windows.x86_64['1']['status'])" id="Windows" data-skin="dark" data-toggle="kt-tooltip" data-placement="top" title="Windows Platforms">
              <img alt="Logo" src="./assets/media/logo/windows.svg" height="20px" width="20px"/>
              Windows(x64)
            </div>
          </li>
          <li class="nav-item" style="cursor: pointer;" (click)="onClick(2)">
            <div class="nav-link" id="Windows_x86" [ngClass]="{'active': tab==='tab2'}" data-toggle="tab" (click)="showDataAsPerPlatformSelection(config.data.windows.x86['0']['queries'],config.data.windows.x86['0']['filters'],'windows','x86','default',config.data.windows.x86['0']['status'])"  data-skin="dark" data-toggle="kt-tooltip" data-placement="top" title="Windows Platforms">
              <img alt="Logo" src="./assets/media/logo/windows.svg" height="20px" width="20px"/>
              Windows(x86)
            </div>
          </li>
          <li class="nav-item" style="cursor: pointer;" (click)="onClick(3)">
            <div class="nav-link"id="Linux"  [ngClass]="{'active': tab==='tab3'}" data-toggle="tab" (click)="showDataAsPerPlatformSelection(config.data.linux.x86_64['0']['queries'],config.data.linux.x86_64['0']['filters'],'linux','x86_64','default',config.data.linux.x86_64['0']['status'])" id="Linux" data-skin="dark" data-toggle="kt-tooltip" data-placement="top" title="Linux Platforms">
              <img alt="Logo" src="./assets/media/logo/Linux1.svg" height="20px" width="20px"/>
              Linux
            </div>
          </li>
          <li class="nav-item" style="cursor: pointer;" (click)="onClick(4)">
            <div class="nav-link" [ngClass]="{'active': tab==='tab4'}" data-toggle="tab" (click)="showDataAsPerPlatformSelection(config.data.darwin.x86_64['0']['queries'],config.data.darwin.x86_64['0']['filters'],'darwin','x86_64','default',config.data.darwin.x86_64['0']['status'])" id="Darwin" data-skin="dark" data-toggle="kt-tooltip" data-placement="top" title="Apple Platforms">
              <i class="fab fa-2x fa-apple" style=""></i>
              macOS
            </div>
          </li>
        </ul>

    </div>
  </div>
</div>
</div>

<div class="kt-portlet__body" style="background:#fafafa80;">



<!-- begin:: Table -->
<div class="kt-portlet kt-portlet--mobile">
  <div class="kt-portlet__head">
    <div class="kt-portlet__head-label">
      <h3 class="kt-portlet__head-title">Queries</h3>
    </div>
    <div  *ngIf="id =='showbutton'" class="" id="mitre" style="float: left;margin-left: 55%;margin: auto;">
    
    <span class="nav-item" style="cursor: pointer;" (click)="onClick_1(1)">
      <button class="btn pull-right nav-link cursor-tab btn pull-right " data-toggle="tab" [ngClass]="{'active': tab_shallow==='tab11'}"id="win_shallow" (click)="showDataAsPerPlatformSelection(config.data.windows.x86_64['1']['queries'],config.data.windows.x86_64['1']['filters'],'windows','x86_64','shallow',config.data.windows.x86_64['1']['status'])" data-skin="dark" data-toggle="kt-tooltip"style="min-width: 77px;float: right;margin-right: -150%;padding: .65rem 1rem;">
        <i  *ngIf="shallow_status==false"id="shallow_check" class="fa fa-sm fa-circle active" style="color:red"></i>
        <i  *ngIf="shallow_status==true"id="shallow_check" class="fa fa-sm fa-circle active" style="color:green"></i>
          <span id="text_shallow">Shallow </span>
          <!-- <span *ngIf="config_button =='shallow'" id="text_shallow">(D)</span> -->
      </button>
    </span>
      <span class="nav-item" style="cursor: pointer;" (click)="onClick_1(2)">
  <button type="submit" class="btn pull-right  nav-link btn pull-right  "  data-toggle="tab" id="win_deep" [ngClass]="{'active': tab_shallow ==='tab12'}" (click)="showDataAsPerPlatformSelection(config.data.windows.x86_64['2']['queries'],config.data.windows.x86_64['2']['filters'],'windows','x86_64','deep',config.data.windows.x86_64['2']['status'])" data-skin="dark" data-toggle="kt-tooltip" style="min-width: 77px;float: right;margin-right: -225%;padding: .65rem 1rem;">
    <i *ngIf="deep_status==false" id="shallow_check" class="fa fa-sm fa-circle active" style="color:red"></i>
    <i *ngIf="deep_status==true"id="shallow_check" class="fa fa-sm fa-circle active" style="color:green"></i>
    <a>Deep</a>
    <!-- <span *ngIf="config_button =='deep'" id="text_deep">(D)</span> -->
  </button>
  </span>

</div>
    <div class="kt-portlet__head-toolbar">
      <div class="kt-portlet__head-wrapper">
        <div class="kt-portlet__head-actions">

        </div>
      </div>
    </div>
  </div>
  <div class="kt-portlet__body config_body2">
    <div class="ph-item">
    <div class="ph-col-12">
    <div class="ph-picture"></div>
    <div class="ph-row">
      <div class="ph-col-4 big"></div>
      <div class="ph-col-8 empty big"></div>
      <div class="ph-col-6 big"></div>
      <div class="ph-col-6 empty big"></div>
      <div class="ph-col-2 big"></div>
      <div class="ph-col-10 empty big"></div>
      <div class="ph-col-6 big"></div>
      <div class="ph-col-6 empty big"></div>
      </div>
        <div class="ph-picture"></div>
      <div class="ph-row">
        <div class="ph-col-4 big"></div>
        <div class="ph-col-8 empty big"></div>
        <div class="ph-col-6 big"></div>
        <div class="ph-col-6 empty big"></div>
        <div class="ph-col-2 big"></div>
        <div class="ph-col-10 empty big"></div>
        <div class="ph-col-6 big"></div>
        <div class="ph-col-6 empty big"></div>
        </div>
        <div class="ph-row">
          <div class="ph-col-4 big"></div>
          <div class="ph-col-8 empty big"></div>
          <div class="ph-col-6 big"></div>
          <div class="ph-col-6 empty big"></div>
          <div class="ph-col-2 big"></div>
          <div class="ph-col-10 empty big"></div>
          <div class="ph-col-6 big"></div>
          <div class="ph-col-6 empty big"></div>
          </div>
        </div>
      </div>
  </div>
  <div class="config_body" style="display: none;">
  <div class="kt-portlet__body" >
    <table class="table table-hover table-checkable table-outer-remove" id="">
      <thead >
        <tr>
          <th>Select</th>
          <th>Name</th>
          <!-- <th>Execution Time</th> -->
          <th>Interval</th>
          <th *ngIf="id =='showbutton' && shallow_status==false && shallow_deep_id_button=='shallow'" style="text-align: center;" >
            <input id="shallow_deep_check" (click)="update_shallow_deep('windows','x86_64','shallow')" class="checkboxClass" type="checkbox" >&nbsp;
             <label id="shallow_deep_check_label" for="shallow_deep_check">Make it Active</label> 
            </th>
          <th *ngIf="id =='showbutton' && shallow_status==true && shallow_deep_id_button=='shallow'" style="text-align: center;">
            <input id="shallow_deep_check"  class="checkboxClass" type="checkbox" checked="checked" disabled="">&nbsp;
             <label id="shallow_deep_check_label" for="shallow_deep_check">Active</label> 
            </th>
            <th *ngIf="id =='showbutton' && deep_status==false && shallow_deep_id_button=='deep'" style="text-align: center;">
              <input id="shallow_deep_check" (click)="update_shallow_deep('windows','x86_64','deep')" class="checkboxClass" type="checkbox" >&nbsp;
               <label id="shallow_deep_check_label" for="shallow_deep_check">Make it Active</label> 
              </th>
            <th *ngIf="id =='showbutton' && deep_status==true && shallow_deep_id_button=='deep'" style="text-align: center;">
              <input id="shallow_deep_check"  class="checkboxClass" type="checkbox" checked="checked" disabled="">&nbsp;
               <label id="shallow_deep_check_label" for="shallow_deep_check">Active</label> 
              </th>

        </tr>
      </thead>

        <tbody id="tbody" >
          <tr *ngFor="let config_val of config_data| keyvalue;">
            <td><input id="status" class="checkboxClass"  name="status" type="checkbox" (ngModelChange)="get_changed_data(config_data)" [ngModelOptions]="{standalone: true}" [(ngModel)]="config_val.value.status"></td>
            <td><input class="configinputClass" name="name" disabled="true"  value="{{config_val.key}}" /></td>
            <td><input class="inputClass" type="number" id="interval" min="1"  name="interval"  (ngModelChange)="get_changed_data(config_data)" [ngModelOptions]="{standalone: true}"  [(ngModel)]="config_val.value.interval" /></td>

          </tr>
        </tbody>
    </table>
  </div>
</div>

</div>
<!-- End:: Table -->
</div>

<div class="kt-portlet kt-portlet--mobile displayNone" id="display">
  <div class="kt-portlet__head">
    <div class="kt-portlet__head-label">
      <h3 class="kt-portlet__head-title"><strong></strong> Additional Config and Filters</h3>
    </div>
  </div>

  <div class="kt-portlet__body" id=" ">
    <div>
<json-editor [options]="options" [data]="filters"></json-editor>
</div>
  <div class="kt-portlet__foot">
    <button type="submit" (click)="onSubmit()" class="btn btn-success pull-right" id="buttonvisible" ><i class="fa fa-sync-alt"></i>
      <span>Update</span>
    </button>
  </div>
</div>

</div>
</form>
<!-- end:: Content -->
</div>
</div>
</div>
</div>
