
  .bor-input {
    border: transparent 0px solid;
}
.box-width {
  width: 160px;
}
#jsoneditor {
  width: 100%;
  height: 800px;
}
.paragraph-align {
  color: #464457;
  font-weight: 600;
}
.section_title {
  display: block;
  padding: 0;
  margin: 0 0 1.75rem 0;
  font-size: 1.3rem;
  font-weight: 600;
  color: #b50404ad;
}
.kt-portlet .kt-portlet__head .kt-portlet__head-label .kt-portlet__head-title {
   margin: 0;
   padding: 0;
   font-size: 1.2rem;
   /* font-weight: 600; */
   color:  #504f60;
}


.configinputClass {
  border: 0px;
  width: 100%;
  color: #1d1d2d;
  background-color: #dadada;
  font-size: 13px;
  
}

.inputClass {
  border: 0px;
  width: 50%;
}
.table td {
  font-size: 13px;
  padding: .75rem;
  vertical-align: top;
  border-top: 1px solid #ebedf2;
}

.nav-background {
  background-color: #fff;
}

.kt-portlet__head-title{
  font-size: 14px;
-moz-osx-font-smoothing: grayscale;
}
.table th{
  font-size: 13px;
}
.nav-pills .nav-item .nav-link {
 
  margin: 0 0 0 0px !important;
  font-size: 15px !important
}
.link:active, .nav-pills .nav-item .nav-link.active, .nav-pills .nav-item .nav-link.active:hover {
  background-color: #eef1ff !important;
  color: #184ba1;
  font-size: 15px;
}
.active {
  background-color: #eef1ff !important;
  color: #184ba1;
  }

/* 
.enabled {
  background-color: #184ba1;
} */

:host ::ng-deep json-editor,
:host ::ng-deep json-editor .jsoneditor,
:host ::ng-deep json-editor > div,
:host ::ng-deep json-editor jsoneditor-outer {
  height: 500px;
}

:host ::ng-deep .jsoneditor-contextmenu .jsoneditor-menu{
  background-color: white;
  border: 1px solid black;
  color: black;
}

:host ::ng-deep .jsoneditor{
  border: 1px solid hsla(236, 23%, 14%, 0.322) !important;
}
