{% extends "layout.html" %}

<style>

    .center_div {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .border {
        border-radius: 20px;
        padding: 10px;
    }




</style>
{% block content %}

<div class="container">
    <div class="body-content" style="padding-bottom:40px;overflow-y:scroll;height:100vh">

        <div class="row  ">

            <div style="margin-left: 100px;">
                <div class="row ">
                    <div class="logo app__logo">
                        <a href="https://osquery.io" target="_blank">
                            <svg class="logo__icon" height="px" version="1.1" viewBox="0 0 80 80" width="80px"
                                 xmlns="http://www.w3.org/2000/svg"><title>osquery</title>
                                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                    <g>
                                        <polygon fill="#A596FF" points="0 0 20 20 40 20 20 0"></polygon>
                                        <polygon fill="#00125F" points="20 20 0 40 20 40 40 20"></polygon>
                                        <polygon fill="#A596FF" points="80 0 80 20 60 40 60 20"></polygon>
                                        <polygon fill="#00125F" points="60 20 60 40 40 20 40 0"></polygon>
                                        <polygon fill="#A596FF" points="80 80 60 80 40 60 60 60"></polygon>
                                        <polygon fill="#00125F" points="60 60 40 60 60 40 80 40"></polygon>
                                        <polygon fill="#A596FF" points="0 80 0 60 20 40 20 60"></polygon>
                                        <polygon fill="#00125F" points="20 60 20 40 40 60 40 80"></polygon>
                                    </g>
                                </g>
                            </svg>
                        </a>
                    </div>

                </div>
                <div style="font-weight: 600">
                    Query
                </div>
            </div>


            <i style="font-size: 40px;margin-left: 50px; margin-top: 20px;" class="ti-plus"></i>

            <p style="font-size: 40px;margin-top: 20px; margin-left: 50px;">&#x2255;</p>


            <div class="" style="margin-left:30px;">

                <div class="row text-center" style="margin-left: 30px;">
                    <img style="height: 80px" src="/static/images/polylogyx.png">
                </div>

                <div style="margin-top:5px;font-weight: 600;">
                    Visibility & Control
                </div>
            </div>

        </div>


        <h5 style="margin-top: 20px;"
            class="text-center">Polylogyx endpoint agent combines the power of <a href="https://osquery.io"
                                                                                  target="_blank">osquery</a> to deliver a
            single query and response agent</h5>
        <div class="row" style="margin-top: 50px;">


            <div class="col-sm-4">
                <button id="btn_download_exe" class="my-btn downloadCode" onclick="downloadFile(this)"
                        value="plgx_cpt.exe"
                        href="/manage/downloads/plgx_win_extn.ext.exe">
                    <i class="fa fa-download"></i>Windows CPT INSTALLER
                </button>
            </div>
            <div class="col-sm-4">
                <button id="btn_download_exe_cpt" class="my-btn downloadCode" onclick="downloadFile(this)"
                        value="certificate.crt"
                        href="/manage/downloads/plgx_win_extn.ext.exe">
                    <i class="fa fa-download"></i>CERTIFICATE
                </button>
            </div>
            <div class="col-sm-4">
                <button class="my-btn downloadCode" onclick="downloadFile(this)"
                        value="linux_cpt.sh"
                        href="/manage/downloads/plgx_win_extn.ext.exe">
                    <i class="fa fa-download"></i>LINUX CPT INSTALLER
                </button>
            </div>
        </div>

        <p style="margin-top:20px" class="text-center"><b>CPT : Client Provisioning Tool</b></p>


        </p>
        <ul style="margin-top:60px;">
            <li>
                <h2 class="text-center">Windows Installation</h2>
                <p style="margin-top:40px" class="text-center"><h6><span style="color:RED">NOTE:</span> Download CPT
                installer
                and Certificate both for
                installation. Use the respective command from terminal for installation.</h6>
                <pre style="  word-wrap: break-word; white-space: pre-wrap;" class="text-center">
               <p style="background-color:#ccc;">c:\user\downloads\>plgx_cpt.exe -p -i < SERVER_IP(x.x.x.x) >  -k < Full path to the certificate file ></p>
          </pre>
                <p style="margin-top:-30px;" class="text-center"><h6>CPT installer will do everything for you. In case
                you want
                to
                download the files separately, you can download using below download options.</h6>
                </p>
                <div class="row justify-content-center">
                    <button style="width: 100%" onclick="downloadFile(this)" value="_cleanup.bat"
                            href="/manage/downloads/plgx_win_extn.ext.exe"
                            type="submit" class="btn btn-success btn-sm border col-sm-4 col-offset-4"><i
                            class="fa fa-download"></i>
                        Cleanup File
                    </button>
                </div>
                <div class="row  justify-content-center" style="margin-top: 20px;">


                    <div class="col-sm-5" style="margin-left: 10px;  ">


                        <div class="row center-block">
                            <button style="width: 100%" onclick="downloadFile(this)" value="osquery.msi"
                                    href="/manage/downloads/plgx_win_extn.ext.exe"
                                    type="submit" class="btn btn-info btn-sm border"><i class="fa fa-download"></i>
                                Osquery MSI
                            </button>
                        </div>
                        <div class="row">
                            <button style="width: 100%;margin-top:10px;" onclick="downloadFile(this)"
                                    value="osquery.flags"
                                    href="/manage/downloads/plgx_win_extn.ext.exe"
                                    type="submit" class="btn btn-warning btn-sm border"><i class="fa fa-download"></i>
                                Osquery Flags
                            </button>
                        </div>
                    </div>
                    <div style="padding-right:10px; border-right: 1px solid #ccc;">
                    </div>
                    <div class="col-sm-5" style="margin-left: 10px;  ">


                        <div class="row justify-content-center">
                            <button style="width: 100%" onclick="downloadFile(this)" value="plgx_win_extension.ext.exe"
                                    href="/manage/downloads/plgx_win_extn.ext.exe"
                                    type="submit" class="btn btn-info btn-sm border"><i class="fa fa-download"></i>
                                Extension Binary
                            </button>
                        </div>

                        <div class="row center-block" style="margin-top:10px;">
                            <button style="width: 100%" onclick="downloadFile(this)" value="secret.txt"
                                    href="/manage/downloads/plgx_win_extn.ext.exe"
                                    type="submit" class="btn btn-warning btn-sm border"><i class="fa fa-download"></i>
                                Secret Key
                            </button>
                        </div>

                    </div>


                </div>

            </li>
            <li style="margin-top:60px;">
                <h2 class="text-center">Linux Based Installation</h2>
                <p  style="margin-top:40px;" class="text-center"><h6><span style="color:RED">NOTE:</span> Download CPT
                installer
                for
                installation. Use the respective command from terminal for installation using sudo.</h6>
                <pre style="  word-wrap: break-word; white-space: pre-wrap;" class="text-center">
               <p style="background-color:#ccc;">sudo bash linux_cpt.sh -ip=< SERVER_IP(x.x.x.x) >  -port=9000</p>
          </pre>

                <p style="margin-top:-30px;" class="text-center"><h6>CPT installer will do everything for you. In case
                you want
                to
                download the files separately, you can download using below download options.</h6>
                </p>
                <div class="row justify-content-center">
                    <button style="width: 100%" onclick="downloadFile(this)" value="osquery-4.0.2_1.linux_x86_64.tar.gz"
                            href="/manage/downloads/plgx_win_extn.ext.exe"
                            type="submit" class="btn btn-success btn-sm border col-sm-4 col-offset-4"><i
                            class="fa fa-download"></i>
                        Osquery Bundle
                    </button>
                </div>
                <div class="row  justify-content-center" style="margin-top: 20px;">


                    <div class="col-sm-5" style="margin-left: 10px;  ">


                        <div class="row center-block">
                            <button style="width: 100%" onclick="downloadFile(this)" value="osquery_linux.flags"
                                    href="/manage/downloads/plgx_win_extn.ext.exe"
                                    type="submit" class="btn btn-info btn-sm border"><i class="fa fa-download"></i>
                                Osquery Flags
                            </button>
                        </div>

                    </div>
                    <div style="padding-right:10px; border-right: 1px solid #ccc;">
                    </div>
                    <div class="col-sm-5" style="margin-left: 10px;  ">


                        <div class="row justify-content-center">
                            <button style="width: 100%" onclick="downloadFile(this)" value="secret.txt"
                                    href="/manage/downloads/plgx_win_extn.ext.exe"
                                    type="submit" class="btn btn-info btn-sm border"><i class="fa fa-download"></i>
                                Secret File
                            </button>
                        </div>


                    </div>


                </div>
            </li>
        </ul>


        <div class="row justify-content-center" style="margin-top: 40px;">

            <button id="btn_view_api_key" class=" col-sm-2 btn btn-success btn-sm border" onclick="showAPIKey();"
            ><i class="menu-icon fa fa-eye"></i>View REST API Key
            </button>


            <pre id="api-key" style="display:none; " class="text-center">
               <p style="background-color:#ccc;">API KEY : {{ x_access_token }}</p>
          </pre>
        </div>

    </div>

    <style>
            .my-btn {
                padding-top: 10px;
                padding-bottom: 10px;

                border-radius: 50px;
                background: #5f9635;
                color: white;
                font-size: 19px;
                width: 100%;
                margin: 0;
                transition: 300ms;
            }

            .my-btn:hover {
                background: rgb(40, 40, 40);
                transition: 300ms;
            }

    </style>

</div>

<script>
        function downloadFile(elem) {

            window.open(
                '/manage/downloads/' + elem.value,
                '_blank' // <- This is what makes it open in a new window.
            );
        }

function showAPIKey(){
document.getElementById('api-key').style.display='block';
document.getElementById('btn_view_api_key').style.display='none';


}

</script>
</div>
{% endblock %}
