{% extends "layout.html" %}
{% block content %}

    <div class="body-content">
        <div class="row">
            <div class="col-md-9">
                <h1>options</h1>

                {% if options %}

                {% for option in option | sort(attribute='name') %}
                {% include "_option.html" %}
                {% endfor %}

                {% else %}
                <p>No options defined. You may <a href="{{ url_for('manage.add_config') }}">create a new option</a>.
                {% endif %}

            </div>

            <nav class="col-md-3 bs-docs-sidebar">
                <ul class="nav nav-stacked fixed" id="sidebar">
                {% if options %}
                    {% for option in options | sort(attribute='name') %}
                    <li><a href="#option-{{ option.id }}">{{ option.name }}</a></li>
                    {% endfor %}
                {% endif %}
                </ul>
            </nav>

        </div>
    </div>

{% endblock %}
