{% extends "layout.html" %}
{% block page_title %}
PolyLogyx - Queries
{% endblock %}

{% block content %}
<style type="text/css">
  .active {
    background-color: #f7f8fa;
  }
  .no-mar-botom{
    margin-bottom: 0px;
  }
  .desc-background-query {
    font-size: 100%;
    color: #e83e8c;
    word-break: break-word;
    font-family: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
  }
  .head-table-query {
    font-weight: 600 !important;
  }
  .portlet-body_align {
    height: 680px;
    margin-bottom:0px;
    border: 15px solid #ebedf2;
    padding: 10px;
  }
  .portlet-body_align__table {
    margin-bottom:0px;
    border: 15px solid #ebedf2;
  }
</style>
<!-- begin:: Content -->
<div class="kt-content kt-grid__item kt-grid__item--fluid">
  <div class="kt-portlet kt-portlet--mobile kt-portlet--responsive-mobile no-mar-botom">
    <div class="kt-portlet__head kt-portlet__head--lg">
      <div class="kt-portlet__head-label">
        <span class="kt-portlet__head-icon">
          <i class="kt-font-brand fa fa-layer-group"></i>
        </span>
        <h3 class="kt-portlet__head-title">
          Queries
        </h3>
      </div>
      <div class="kt-portlet__head-toolbar">
        <div class="kt-portlet__head-wrapper">
          <div class="">
            <a href="{{ url_for('manage.add_query') }}" class="btn btn-outline-success btn-icon-sm">
              <i class="fa fa-plus-square"></i>
              Add Query
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="kt-portlet__body">
      {% if queries %}
      <!--Begin:: Content -->
      <div class="kt-content">
        <div class="row">
          <div class="col-md-4">
            <!--begin::Portlet-->
            <div class="kt-portlet no-mar-botom portlet-body_align">
              <div class="kt-portlet__body" style="padding: 0px;">
                <!--begin: Search Table -->
                <div class="">
                  <div class="kt-input-icon kt-input-icon--left" style="margin-bottom: 10px;">
                    <input type="text" class="form-control" placeholder="Search Queries here..." id="search_query_name">
                    <span class="kt-input-icon__icon kt-input-icon__icon--left">
                      <span><i class="la la-search"></i></span>
                    </span>
                  </div>
                </div>
                <!--end: Search Table -->

                <!--begin::Notifications-->
                <div class=""  style="height: 565px; overflow-x:scroll; margin-bottom:25px;">
                  {% for query in queries | sort (attribute='name') %}
                    <div class="kt-notification conf-div" id="search_query-name-list" style="cursor:pointer; " data-skin="dark" data-toggle="kt-tooltip" data-placement="top" title="{{query.name}}">
                      <a data-target="{{query.id}}" class="kt-notification__item conf-link-query">
                        <div class="kt-notification__item-icon">
                          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" class="kt-svg-icon">
                            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                              <rect id="bound" x="0" y="0" width="24" height="24" />
                              <path
                                d="M10.5,5 L20.5,5 C21.3284271,5 22,5.67157288 22,6.5 L22,9.5 C22,10.3284271 21.3284271,11 20.5,11 L10.5,11 C9.67157288,11 9,10.3284271 9,9.5 L9,6.5 C9,5.67157288 9.67157288,5 10.5,5 Z M10.5,13 L20.5,13 C21.3284271,13 22,13.6715729 22,14.5 L22,17.5 C22,18.3284271 21.3284271,19 20.5,19 L10.5,19 C9.67157288,19 9,18.3284271 9,17.5 L9,14.5 C9,13.6715729 9.67157288,13 10.5,13 Z"
                                id="Combined-Shape" fill="#000000" />
                              <rect id="Rectangle-7-Copy-2" fill="#000000" opacity="0.3" x="2" y="5" width="5" height="14" rx="1" />
                            </g>
                          </svg>
                        </div>
                        <div class="kt-notification__item-details">
                          <div class="kt-notification__item-title">
                            {{query.name}}
                          </div>
                        </div>
                      </a>
                    </div>
                  {% endfor %}
                </div>
                <!--End::Notifications-->

              </div>
            </div>
            <!--end::Portlet-->
          </div>
          <div class="col-md-8">
            <!--begin::Portlet-->
            {% for query in queries %}
              <div  class="right-conf-query kt-portlet no-mar-botom portlet-body_align__table" id="{{query.id}}">
                <div class="kt-portlet__head">
          				<div class="kt-portlet__head-label">
          					<span class="kt-portlet__head-icon">
                      <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" class="kt-svg-icon">
                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                          <rect id="bound" x="0" y="0" width="24" height="24" />
                          <path
                            d="M10.5,5 L20.5,5 C21.3284271,5 22,5.67157288 22,6.5 L22,9.5 C22,10.3284271 21.3284271,11 20.5,11 L10.5,11 C9.67157288,11 9,10.3284271 9,9.5 L9,6.5 C9,5.67157288 9.67157288,5 10.5,5 Z M10.5,13 L20.5,13 C21.3284271,13 22,13.6715729 22,14.5 L22,17.5 C22,18.3284271 21.3284271,19 20.5,19 L10.5,19 C9.67157288,19 9,18.3284271 9,17.5 L9,14.5 C9,13.6715729 9.67157288,13 10.5,13 Z"
                            id="Combined-Shape" fill="#000000" />
                          <rect id="Rectangle-7-Copy-2" fill="#000000" opacity="0.3" x="2" y="5" width="5" height="14" rx="1" />
                        </g>
                      </svg>
          					</span>
                    <h3 class="kt-portlet__head-title">
                      {{query.name}}
                    </h3>
          				</div>
          				<div class="kt-portlet__head-toolbar">
          					<div class="kt-portlet__head-actions">
          						<a href="{{ url_for('manage.query', query_id=query.id) }}" class="btn btn-clean btn-sm btn-icon btn-icon-md" data-skin="dark" data-toggle="kt-tooltip" data-placement="top" title="Edit Query">
          							<i class="far fa-edit"></i>
          						</a>
          						<!-- <a href="#" class="btn btn-clean btn-sm btn-icon btn-icon-md" data-skin="dark" data-toggle="kt-tooltip" data-placement="top" title="Delete Query">
          							<i class="far fa-trash-alt"></i>
          						</a> -->
          						<!-- <a href="#" class="btn btn-clean btn-sm btn-icon btn-icon-md">
          							<i class="flaticon-more-1"></i>
          						</a> -->
          					</div>
          				</div>
          			</div>
                <div class="right-conf-card kt-portlet__body" style="height: 565px; overflow-x:scroll; margin-bottom:25px; padding: 1.25rem;">
                  <div id="query-{{query.id}}">
                    <div class="">
                      <table class="table table-striped- table-bordered table-hover table-checkable">
                        <tbody>
                          <tr>
                            <td class="head-table-query">Query</td>
                            <td class="conf-table-val">
                              <div class="sql hljs desc-background-query">
                                  <span class="hljs-keyword">{{query.sql}}</span>
                              </div>
                            </td>
                          </tr>
                          <tr>
                            <td class="head-table-query">Interval</td>
                            <td class="conf-table-val">
                              <div class="desc-background-query">{{query.interval}}</div>
                            </td>
                          </tr>
                          <tr>
                            <td class="head-table-query">Platform</td>
                            <td class="conf-table-val">
                              <div class="desc-background-query">{{ query.platform or 'all' }}
                              <!-- <span class="col-md-1"></span> -->
                              <button class="btn btn-success btn-sm" onclick="runAdHoc({{ query.id }})">Run Live</button>
                              </div>
                            </td>
                          </tr>
                          <tr>
                            <td class="head-table-query">Description</td>
                            <td class="conf-table-val">
                              <span class="desc-background-query truncate_query">{{query.description}}</span>
                            </td>
                          </tr>
                          {% if query.version %}
                          <tr>
                            <td class="head-table-query">Version</td>
                            <td>{{ query.version or '' }}</td>
                          </tr>
                          {% endif %}
                          {% if query.value %}
                          <tr>
                            <td class="head-table-query">Value</td>
                            <td>{{ query.value or '' }}</td>
                          </tr>
                          {% endif %}
                          <tr>
                            <td class="head-table-query">Packs</td>
                            <td>
                              {% for _pack in query.packs %}
                              <span class="label">
                                <a href="{{ url_for('manage.packs') }}#{{ _pack.name }}">{{ _pack.name }}</a>
                              </span>
                              {% endfor %}
                            </td>
                          </tr>
                          {% if not hide_query_tags %}
                          <tr>
                            <td class="head-table-query">Tags</td>
                            <td>
                              <input multiple class="form-control bootstrap-tagsinput active" data-role="tagsinput" placeholder="Add tags to schedule this query" value="{{ query.tags | map(attribute='value') | sort | join(',') }}" data-uri="{{ url_for('manage.tag_query', query_id=query.id) }}" >
                            </td>
                          </tr>
                          {% endif %}
                          <tr>
                            <td class="head-table-query">Snapshot</td>
                            {% if query.snapshot %}
                              <td>{{ query.snapshot }}</td>
                            {% else %}
                              <td>False</td>
                            {% endif %}
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            {% endfor %}
            <!--end::Portlet-->
          </div>
        </div>
      </div>
       {% else %}
        <div class="kt-content">
          <div class="container">
            <div class="row">
              <p style="margin-top:50px;">No queries created. Click on add query to create one</p>
            </div>
          </div>
        </div>
      {% endif %}
      <!--Begin:: Content -->

    </div>
  </div>
</div>
<!-- end:: Content -->


<link href="/static/css/pack.css" rel="stylesheet" type="text/css">

<script type="text/javascript">
  $(document).ready(function() {
    $(".right-conf-query").first().addClass('show');

    (function() {
      var showChar = 200;
      var ellipsestext = "...";

      $(".truncate_query").each(function() {
        var content = $(this).html();
        if (content.length > showChar) {
          var c = content.substr(0, showChar);
          var h = content;
          var html = '<div class="truncate-text" style="display:block">' + c + '<span class="moreellipses">' + ellipsestext + '&nbsp;<a href="" class="moreless more">Read more</a></span></span></div><div class="truncate-text" style="display:none">' + h + '<a href="" class="moreless less">&nbsp;Read less</a></span></div>';
          $(this).html(html);
        }
      });

      $(".moreless").click(function() {
        var thisEl = $(this);
        var cT = thisEl.closest(".truncate-text");
        var tX = ".truncate-text";

        if (thisEl.hasClass("less")) {
          cT.prev(tX).toggle();
          cT.slideToggle();
        } else {
          cT.toggle();
          cT.next(tX).fadeToggle();
        }
        return false;
      });
    })();

  });
  $('.conf-link-query').on('click', function() {
    $('.conf-div').removeClass('active');
    $(this).parent().addClass('active');

    var div_id = "#" + $(this).data('target');
    $('.right-conf-query').removeClass('show');
    $(div_id).addClass('show');


  });

    $( ".conf-div" ).first().addClass('active');

</script>
<script>
$(document).ready(function(){
  $("#search_query_name").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#search_query-name-list *").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});
</script>
{% endblock %}
