<!-- begin:: Content -->
<div class="kt-grid kt-grid--hor kt-grid--root">
  <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--ver kt-page">
    <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor kt-wrapper" id="kt_wrapper">
      <!-- begin:: Page -->
      <div class="" style="background-color:white">
        <div class="">
          <div class="">
          <!--begin::Portlet/Readme-->
            <div class="kt-portlet kt-portlet--responsive-mobile" style="margin-bottom: 0px;">
              <div class="kt-portlet__head">
                <div class="kt-portlet__head-label">
                  <span class="kt-portlet__head-icon">
                    <i class="kt-font-brand fa fa-book-open"></i>
                  </span>
                  <h3 class="kt-portlet__head-title">Readme</h3>
                </div>
              </div>
              <div class="kt-portlet__body read-color">
                <form class="kt-form" id="kt_form">
                  <div class="row">
                  <!-- <div class="col-xl-1"></div> -->
                    <div class="col-lg-12">
                      <div class="kt-section">
                        <div class="kt-section__body read_align">
                        <!-- Begin:: readme -->
                          <div id="readme" class="head-color">
                            <h2>{{ProjectName}} Endpoint Security Platform (ESP) - Community Edition</h2>
                            <p id="top">Welcome to {{ProjectName}} Endpoint Security Platform (ESP). {{ProjectName}} ESP provides deep visibility into endpoints using osquery based agent. To enhance the visibility on Windows platform, {{ProjectName}} provides a Windows extension to the osquery.</p>
                            <ul>
                              <li>Information about osquery can be found at <a href="https://osquery.io" target="_blank">https://osquery.io</a>
                              </li>
                              <li>Information regarding {{ProjectName}} osquery Extension can be found <a href="https://github.com/polylogyx/osq-ext-bin" target="_blank" data-skin="dark" data-toggle="kt-tooltip" data-placement="top" title="https://github.com/polylogyx/osq-ext-bin">here</a>.
                              </li>
                              <li>Information regarding {{ProjectName}} ESP Documentation can be found <a href="https://github.com/polylogyx/platform-docs" target="_blank" data-skin="dark" data-toggle="kt-tooltip" data-placement="top" title="https://github.com/polylogyx/platform-docs">here</a>.
                              </li>
                              <li>Information for {{ProjectName}} REST API in order to programmatically interact with the platform can be found at <a href="javascript:void(0);" (click)="downloadFile($event,'plgx_RESTapi_v1.pdf')" data-skin="dark" data-toggle="kt-tooltip" data-placement="top" title="">API Documentation</a>.
                              </li>
                            </ul>
                            <p>Finally, you have any unanswered questions, feel free to mail us at <a target="_blank" href="mailto:support@eclecticiq.com">support@eclecticiq.com</a> or join us on osquery slack. We can be found in the channel <i>#polylogyx-extension</i>.</p>
                            <h3>{{ProjectName}} Client Provisioning Tool</h3>
                              {{ProjectName}} Client Provisioning Tool (CPT) is a utility that simplifies the installation of osquery and {{ProjectName}} extension on Windows operating system by taking away the cumbersome steps of installing osquery manually. This tool requires <a href="javascript:void(0);" (click)="downloadFile($event,'certificate.crt')" data-skin="dark" data-toggle="kt-tooltip" data-placement="top" title="Download Certificate">server certificate</a> to run.
                              <p>After the successful execution of the installation, following line will be displayed.</p>
                              <pre> [+] === {{ProjectName}} osquery agent installed Successfully ===</pre>
                              <p>At this point, the endpoint should be visible in the <a [routerLink]="['/hosts']" target="_blank" data-skin="dark" data-toggle="kt-tooltip" data-placement="top" title="">Hosts</a> page.</p>
                              <p>CPT tool can also be used to uninstall the previous installation</p>
                              <pre> plgx_cpt -u d</pre>
                              <p>For more CPT options run the tool without any parameters</p>
                              <h3>{{ProjectName}} ESP {{Version}} ships with following agent binaries</h3>
                              <div class="table-responsive">
                                <table class="table">
                                  <thead  >
                                    <tr>
                                      <th>OS</th>
                                      <th>Binary Name</th>
                                      <th>Version</th>
                                      <th>MD5 checksum</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <tr>
                                      <td>Windows</td>
                                      <td>plgx_cpt.exe</td>
                                      <td>{{Windows_plgx_cpt_exe["version"]}}</td>
                                      <td>{{Windows_plgx_cpt_exe["MD5_checksum"]}}</td>
                                    </tr>
                                    <tr>
                                      <td>Linux</td>
                                      <td>plgx_cpt</td>
                                      <td>{{Linux_plgx_cpt["version"]}}</td>
                                      <td>{{Linux_plgx_cpt["MD5_checksum"]}}</td>
                                    </tr>
                                    <tr>
                                      <td>Darwin</td>
                                      <td>plgx_cpt.sh</td>
                                      <td style="padding-left:3%">{{Darwin_plgx_cpt_sh["version"]}}</td>
                                      <td>{{Darwin_plgx_cpt_sh["MD5_checksum"]}}</td>
                                    </tr>
                                    <tr>
                                      <td>Windows(x64)</td>
                                      <td>plgx_osqueryd.exe</td>
                                      <td >{{Windows_x64_plgx_osqueryd_exe["version"]}}</td>
                                      <td>{{Windows_x64_plgx_osqueryd_exe["MD5_checksum"]}}</td>
                                    </tr>
                                    <tr>
                                      <td>Windows(x64)</td>
                                      <td>plgx_win_extension.ext.exe</td>
                                      <td >{{Windows_x64_plgx_win_extension_ext_exe["version"]}}</td>
                                      <td>{{Windows_x64_plgx_win_extension_ext_exe["MD5_checksum"]}}</td>
                                    </tr>
                                    <tr>
                                      <td>Windows(x86)</td>
                                      <td>plgx_osqueryd.exe</td>
                                      <td >{{Windows_x86_plgx_osqueryd_exe["version"]}}</td>
                                      <td>{{Windows_x86_plgx_osqueryd_exe["MD5_checksum"]}}</td>
                                    </tr>

                                    <tr>
                                      <td>Linux</td>
                                      <td>plgx_osqueryd</td>
                                      <td >{{Linux_plgx_osqueryd["version"]}}</td>
                                      <td>{{Linux_plgx_osqueryd["MD5_checksum"]}}</td>
                                    </tr>
                                    <tr>
                                      <td>Linux</td>
                                      <td>plgx_linux_extension.ext</td>
                                      <td >{{Linux_plgx_linux_extension_ext["version"]}}</td>
                                      <td>{{Linux_plgx_linux_extension_ext["MD5_checksum"]}}</td>
                                    </tr>
                                  </tbody>
                                </table>
                              </div>
                            <h3>Managing Endpoints</h3>
                              <p>{{ProjectName}} ESP allows administrators to remotely manage the osquery configurations retrieved by endpoints. Administrators can dynamically configure the set of packs, queries using tags. FIM(file integrity monitoring) target paths can be configured under <a [routerLink]="['/config']" data-skin="dark" data-toggle="kt-tooltip" data-placement="top" target="_blank" title="">Config Management</a>. Default queries and filters under Config Management is applied to all  the endpoints based on their platform. Tags are used to map endpoints to queries and packs.</p>
                            <h3>{{ProjectName}} Control configurations</h3>
                                <pre>
  &#123;
  "custom_plgx_EnableLogging": "true",
  "custom_plgx_EnableSSL": "true",
  "custom_plgx_LogFileName": "C:\\Program Files\\plgx_osquery\\plgx-agent.log",
  "custom_plgx_LogLevel": "3",
  "custom_plgx_LogModeQuiet": "0",
  "custom_plgx_EnableWatcher": "true",
  "custom_plgx_MemoryLimit": "150",
  "schedule_splay_percent": 10,
  "custom_plgx_LogFileNameLinux":"/tmp/plgx-agent.log",
  &#125;</pre>
                                <p>By default, these fields are set and enabled.</p>
                            <h4>Adding Tags to Endpoint</h4>
                              <p>"Tags" are arbitrary strings chosen at user discretion that can be used to group a set of endpoints together, to enable bulk querying of endpoints. Tags can directly be associated with endpoints by typing the tag string in the rightmost column of the dashboard or tags can be added independently and then applied to endpoints. Adding tags is not mandatory, and is their to enable operational ease. </p>
                            <h4>Querying the Endpoint</h4>
                              <p>In the osquery architecture, endpoint data can be queried in 2 modes</p>
                              <ol>
                                <li>Scheduled queries</li>
                                <li>Distributed (a.k.a Live) queries</li>
                              </ol>
                              <p>These queries are in the form of standard SQL <i>'SELECT'</i> statements with all the other SQL syntax and constraints like <i>'WHERE', 'JOIN', 'LIKE', 'LIMIT'</i> etc. The base osquery provides a set of query-able tables and the schema for those tables can be found <a target="_blank" href="https://osquery.io/schema" data-skin="dark" data-toggle="kt-tooltip" data-placement="top" title="https://osquery.io/schema">here</a>. The {{ProjectName}} Extension to osquery has added additional tables that allow for much deeper visibility into Windows endpoints. The schema for these tables can be found
                              <a href="https://github.com/polylogyx/platform-docs/tree/master/12_Tables" target="_blank" data-skin="dark" data-toggle="kt-tooltip" data-placement="top" title="https://github.com/polylogyx/platform-docs/tree/master/12_Tables">here</a>.
                              </p>
                              <p>Scheduled queries (or packs) can be added from the server under the Config Management section in the navigation menu. The results of the scheduled queries are retained on the database in the management server. Scheduled queries can be used for data retention by gradually pulling data from the endpoint, or an <i>'alert'</i> like notification when a particular condition is met. In the subsequent versions of the {{ProjectName}} ESP, the connectors to various logging aggregator <i>(e.g. Splunk)</i> would be made available for the results to be directly sent there.</p>
                              <p>Live queries, or also known as Distributed queries, are real-time queries send to endpoints. In the {{ProjectName}} ESP, sending live queries is fairly simplified. Clicking on Live Queries in the navigation menu, type the SQL query <i>(e.g. "select * from win_process_events;")</i>, pick the target endpoint(s) and/or tags. The query will then be sent to all the selected endpoints and the result will be shown in a matter
                                  of few seconds. If no endpoint or tags are selected, the query is sent to the entire population of live endpoints. Depending on the network bandwidth, the volume of data, number of endpoints etc, sometimes there
                                  could be a larger delay. Live query results are not stored anywhere automatically. They can however be exported into a CSV/XLS file. With the combination of SQL constraints, Live queries can be very useful for searching threat indicatiors
                                  <i>e.g. file hashes, URLs, sockets, ports etc.</i> The {{ProjectName}} ESP provides the advantage of additional <a target="_blank" href="https://github.com/polylogyx/platform-docs/tree/master/12_Tables" target="_blank" data-skin="dark" data-toggle="kt-tooltip" data-placement="top" title="https://github.com/polylogyx/platform-docs/tree/master/12_Tables">tables</a> for Windows platform. </p>
                              <p>Through optimal combination of Live and Scheduled queries data can be queried, and pulled for retention, from the endpoint. One example to optimize schedule queries for data collection for tables ending with <i>_events</i> suffix could be to pull endpoint records before they are deleted from the endpoint. Since the endpoint stores upto 1500 records on the endpoint, scheduled queries can be created such that when the record count is hit, data is pulled to the server for e.g.</p>
                              <pre> select * from "table_name" where "x" &lt; (select count(eid) from "table_name");</pre>
                              <p> Where x is less than 1500 And schedule this query to run at intervals of few hours. Spreading queries across different tables at different hours gives the advantage of network bandwith optimization. And use Live queries to get data from the endpoint store that has not yet been pulled to server.</p>

                            <h3>Rules and Alerts</h3>
                              <p>If you're not acting on the information you collect, what's the point? {{ProjectName}} ESP allows admins to configure custom rules to trigger alerts on specific events <i>(for example, an unauthorized browser plugin is installed, or a removable USB storage device is inserted)</i>. {{ProjectName}} ESP allows building complex rule sets that can use arbitrary boolean logic and a variety of operators to test the results of a query. You can see the alerts by clicking Alerts from left menu.</p>
                            <h4>Configuring Alert Email Settings</h4>
                              <p>Email sender and recipient can be configured from <a [routerLink]="['/management/configure-email']" target="_blank" data-skin="dark" data-toggle="kt-tooltip" data-placement="top" title=""> Email settings</a> menu. </p>
                             <h4>Threat Intel Integration</h4>
                              <p>{{ProjectName}} ESP comes with connectors for following <b>3rd party</b> cloud based threat intel platforms:</p>
                              <ul>
                                <li><a target="_blank" href="https://www.virustotal.com/" data-skin="dark" data-toggle="kt-tooltip" data-placement="top" title="https://www.virustotal.com/">VirusTotal</a></li>
                                <li><a target="_blank" href="https://exchange.xforce.ibmcloud.com/" data-skin="dark" data-toggle="kt-tooltip" data-placement="top" title="https://exchange.xforce.ibmcloud.com/">IBM xForce</a></li>
                                <li><a target="_blank" href="https://otx.alienvault.com/" data-skin="dark" data-toggle="kt-tooltip" data-placement="top" title="https://otx.alienvault.com/">OTX AlienVault</a></li>
                              </ul>
                              <p>Please click the links above to know more about them and their terms of usage.</p>
                              <p>Click <a [routerLink]="['/management/intel-keys']" target="_blank" data-skin="dark" data-toggle="kt-tooltip" data-placement="top" title="">here</a> to update the API keys.</p>
                              <p>The data collected in the recon phase is matched against the threat intelligence feeds to uncover any persistent malware on the endpoint.</p>
                             <h3>Integration with SIEM</h3>
                              <p>{{ProjectName}} ESP is bundled with rsyslog forwarder. Please add the forwarding address and port in rsyslog.conf file. You also need to set the environment variable <i>RSYSLOG_FORWARDING</i> to true in docker-compose.yml and restart the Docker. Following are some examples:-</p>
                              <ul>
                                <li><b>#Forwarding to GrayLog</b></li>
                                <li>*.* @@10.0.0.77:10514;RSYSLOG_SyslogProtocol23Format</li>
                                <li><b>#Forwarding to SysLog Server</b></li>
                                <li>*.* action(type="omfwd" target="rsyslogr" port="10514" protocol="tcp" actio.resumeRetryCount="3" queue.type="linkedlist" queue.size="10000")</li>
                              </ul>
                            <h3>Event Filters(Windows x64 only)</h3>
                              <p>{{ProjectName}} agent collects the endpoint activity data in real-time and makes it available for consumption via osquery interface. The event data can be extremely voluminous and most of it might just be noise causing strain on networking and storage infrastructure. To optimize the event collection, {{ProjectName}} ESP provides ways of applying filters to the real-time evented tables. These filters can be defined using <i>'inclusion'</i> or <i>'exclusion'</i> semantics. When defined for inclusion, only those events that match the criteria are included. When defined for exclusion, all events that match the criteria are excluded. Between inclusion and exclusion, exclusion takes priority.</p>
                              <p>Following evented tables, and data columns support event filters: </p>
                              <div class="table-responsive">
                                <table class="table">
                                  <thead>
                                    <tr>
                                      <th>#</th>
                                      <th>Table Name</th>
                                      <th>Column 1</th>
                                      <th>Column 2</th>
                                      <th>Column 3</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <tr>
                                      <td>1</td>
                                      <td>win_process_events</td>
                                      <td>cmdline</td>
                                      <td>path</td>
                                      <td>parent_path</td>
                                    </tr>
                                    <tr>
                                      <td>2</td>
                                      <td>win_registry_events</td>
                                      <td>target_name</td>
                                      <td>-</td>
                                      <td>-</td>
                                    </tr>
                                    <tr>
                                      <td>3</td>
                                      <td>win_socket_events</td>
                                      <td>process_name</td>
                                      <td>remote_port</td>
                                      <td>-</td>
                                    </tr>
                                    <tr>
                                      <td>4</td>
                                      <td>win_file_events</td>
                                      <td>target_path</td>
                                      <td>process_name</td>
                                      <td>-</td>
                                    </tr>
                                    <tr>
                                      <td>5</td>
                                      <td>win_remote_thread_events</td>
                                      <td>src_path</td>
                                      <td>target_path</td>
                                      <td>-</td>
                                    </tr>
                                  </tbody>
                                </table>
                              </div>
                              <p>The filters are defined as JSON and included under special JSON tag called <i>"plgx_event_filters"</i> as part of osquery configuration. A sample filter syntax is shown below:</p>
                              <pre>
  "plgx_event_filters": &#123;
    "win_process_events": &#123;
      "cmdline": &#123;
        "exclude": &#123;
          "values": [
            "C:\\Windows\\system32\\DllHost.exe /Processid*",
            "C:\\Windows\\system32\\igfxsrvc.exe -Embedding"
          ]
        &#125;
      &#125;
      "path": &#123;
        "exclude": &#123;
          "values": [
            "C:\\Windows\\system32\\CompatTelRunner.exe",
            "C:\\Program Files\\Dell\\SupportAssist\\koala.exe"
          ]
        &#125;
      &#125;,
      "parent_path": &#123;
        "exclude": &#123;
          "values": [
            "C:\\Windows\\system32\\SearchIndexer.exe"
          ]
        &#125;
      &#125;
    &#125;
  &#125;</pre>
                                <p>The strings in filters are case insensitive and support 2 globbing wild cards, * and ?.</p>
                            <br/>
                            <br/>
                              <h3>Configuring YARA</h3>
                            <h4>a)Windows</h4>
                                <p>YARA rule files can be uploaded <a [routerLink]="['/yara']" target="_blank" data-skin="dark" data-toggle="kt-tooltip" data-placement="top" title="">here</a>. To apply the YARA rules, please add the yara attribute in the <i>Additional Config and Filters</i> section under config for windows</p>
                                <p> A sample YARA config is shown below:</p>
                                <pre>
  "yara": &#123;
    "file_paths": &#123;
      "test_eicar_yara": [
        "yara_eicar_test_group"
      ]
    &#125;,
    "signatures": &#123;
      "yara_eicar_test_group": [
        "C:\\Program Files\\plgx_osquery\\yara\\eicar.yara"
      ]
    &#125;
  &#125;,
  "file_paths": &#123;
    "test_eicar_yara": [
      "C:\\Users\\*\\Downloads",
      "C:\\demo-malware"
    ]
  &#125;</pre>
                                 <p>For file paths add prefix path <i>C:\\Program Files\\plgx_osquery\\yara</i> to the uploaded filename on the server. Eg: If the uploaded filename on the server is <i>eicar.yara</i> then the path in the json should be <i>C:\\Program Files\\plgx_osquery\\yara\\eicar.yara</i></p>

                            <h4>b)Linux</h4>
                            For information on how to configure YARA click <a  href="https://osquery.readthedocs.io/en/stable/deployment/yara/" target="_blank">here</a>
                            <br/>
                            <br/>
                            <br/>

                            <h3>Default Configuration</h3>
                            <p>{{ProjectName}} ESP provisions the endpoint agent with a default configuration that includes a set of scheduled queries and event filters.</p>


                                <h3>Recommendation for Optimal Display</h3>

                                    <p>The suggested resolution for a good viewing experience is 1366 x 768, or higher.</p>

                                <h3>Deleting Data from the Server</h3>
                                  <p>Default retention of data is set to 7 days. This can be configured under the Management &rarr; <a target="_blank" [routerLink]="['/management/configuration-settings']" data-skin="dark" data-toggle="kt-tooltip" data-placement="top" title="">Purge Data</a></p>

                            <h3>
                                 File Carving
                               </h3>
                            <p>Files can be acquired from the system by sending a live query. Acquired carves can be checked <a target="_blank" [routerLink]="['/carves']" data-skin="dark" data-toggle="kt-tooltip" data-placement="top" title="">here</a></p>

                            <pre>select * from carves where path like '/some/path/%' and carve=1;</pre>

                            <h3>Supported Platforms</h3>
                            <ol>
                              <li>Windows
                                <ul style="color:black">
                                  <li>Windows 7 SP1 and above</li>
                                  <li>Windows Server 2008 R2 and above</li>
                                </ul>
                              </li>
                              <li>
                                Linux : *most* x86_64 enterprise ready desktop & server Linux OSes
                              </li>
                              <li>
                                Darwin : macOS 10.14 and above
                              </li>
                            </ol>
                            <p>Note : On Windows 7(x64) SP1  and Server 2008 R2(x64) <a  href="https://www.microsoft.com/en-us/download/details.aspx?id=46148" target="_blank">KB</a> is required </p>

                            <h3>Uninstall</h3>

                                  <p>The endpoint agent can be uninstalled using the installer binary itself. Launching the installer binary will give the uninstall option. </p>
                            <!-- End:: readme -->
                        </div>
                      </div>
                    </div>
                      <h3>LICENSE</h3>
                      <p>{{ProjectName}} ESP is shipped under the explicit agreement between EclecticIQ B.V. and you. For licensing terms and other usage guidelines, please refer to the agreement.</p>
                    <div class="kt-separator kt-separator--border-dashed kt-separator--space-lg" style=""></div>
                    <!--Begin:: Licence-->
                    <div class="">
                      <span>&copy;&nbsp;{{CopyRightYear}} All rights to {{ProjectName}} products belong to &nbsp;</span>
                      <a target="_blank" class="modal-link kt-link" t="_blank"targe href="https://www.eclecticiq.com/">
                        <!-- <p>© EclecticIQ 2019</p> -->
                         EclecticIQ B.V.
                      </a>
                    </div>
                    <!--End:: Licence-->
                    </div>
                  <!-- <div class="col-xl-1"></div> -->
                  </div>
                </form>
              </div>
            </div>
          <!--end::Portlet/Readme-->
          </div>
        </div>
      </div>
      <!-- end:: Page -->
    </div>
  </div>
</div>
<!-- end:: Content -->
