pre {
    background-color:#cccccc26;
    color: crimson;
    /* overflow-y: scroll; */
   }
   .table td  {
    color: black;
   }
.table thead  {
  color: darkblue;
}
   .head-color h1,h2,h3,h4 {
    color: #518c24;
   }
   .head-color ul,i {
    color: grey;
   }
   .read-color{
    background-color:#fff;
    color:#24292e;
    font-size: 14px;
    font-family: Arial;
   }
   .modal-link {
    padding: 0 0.35rem 0 0;
    font-size: 1rem;
    font-weight: 600;
    color: #808080;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
   }
   /* .modal-link:hover {
    color: #184ba1; //blue
   } */
   .modal-link:hover {
    color: #518c24;
   }
   .modal-link:hover:after {
    border-bottom: 1px solid #518c24;
    opacity: .3;
   }
   .divider_foot {
    padding: 0 0 0 0.8rem;
    border-left: 1px solid #808080;
   }
   .kt-separator.kt-separator--border-dashed {
    border-bottom: 1px dashed #8282829e;
    margin: 1.5rem 0;
   }
   .modal {
    -webkit-animation-name: fadeIn;
    -webkit-animation-duration: 0.4s;
    animation-name: fadeIn;
    animation-duration: 0.4s
   }
   .modal-content {
    -webkit-animation-name: slideIn;
    -webkit-animation-duration: 0.4s;
    animation-name: slideIn;
    animation-duration: 0.4s
   }

   /* Add Animation */
   @-webkit-keyframes slideIn {
    from {bottom: -300px; opacity: 0}
    to {bottom: 0; opacity: 1}
   }

   @keyframes slideIn {
    from {bottom: -300px; opacity: 0}
    to {bottom: 0; opacity: 1}
   }

   @-webkit-keyframes fadeIn {
    from {opacity: 0}
    to {opacity: 1}
   }

   @keyframes fadeIn {
    from {opacity: 0}
    to {opacity: 1}
   }
   .kt-portlet .kt-portlet__head .kt-portlet__head-label .kt-portlet__head-title {
      margin: 0;
      padding: 0;
      font-size: 1.1rem;
      font-weight: 600;
      color:  #464457;
   }

