
@import url("../../../../css/tab.css");
.active {
  background-color: #52B2A8;
  color: #fff;
  border-radius: .25rem;
  line-height:19.5px;
}
.kt-notification .kt-notification__item:hover {
  background-color: #184ba1;
  color: #fff;
  border-radius: .25rem;
  line-height:19.5px;
}
.kt-notification .kt-notification__item:last-child {
  border-bottom: 1px solid #ebedf2;
}
.nav-background {
    background-color: ghostwhite;
  }
  .nav-tab_align {
    /* float: right; */
    text-align: left !important;
    word-break: break-all;
    margin-right: 0px !important;
    /* min-width: -webkit-fill-available; */
    /* min-width: -moz-fit-content; */
  }
  .col-queryborder {
    padding: 0px 5px 0px 5px;
    border: #ebedf2 1px solid;
    padding: 10px;
  }
  .col-queryname {
    /* padding: 0px 5px 0px 5px; */
    /* overflow-x: scroll;
    max-height: 300px; */
    overflow: scroll;
    max-height: 620px;
  }
  .col-querytable {
    padding: 0px 5px 0px 5px;
    border: #ebedf2 1px solid;
    padding: 10px;
  }
  .dataTables_filter {
    /* width: 200px; */
    float: right;
  }
  
  .badge-queryname {
    font-size: 1rem;
    font-weight: 400;
  

  }
  .kt-badge.kt-badge--primary {
    /* color: #fff; */
    background: #817f8c;

  }
  .nav-pills .nav-item .nav-link.active> .kt-badge.kt-badge--primary {
    background-color: #fff;
    color: #184ba1;
  }
  .datatable__search input {
    margin-left: .5em;
    display: inline-block;
    width: auto;
  }
 
  .datatable__search label {
      float: right;
      margin-top: 0px;
  }
  .back_icon_align {
    vertical-align: unset !important;
  }
  .txt-clr{
    color: indianred;
    text-align: center;
    /* margin-bottom: 0px; */
    font-weight: 400;
  }
  .kt-portlet .kt-portlet__head .kt-portlet__head-label .kt-portlet__head-title {
     margin: 0;
     padding: 0;
     font-size: 1.1rem;
     font-weight: 500;
     color:  #464457;
  }
  .hideChildren>div{
    display: none;
    }
    .cell-breakWord {
      word-wrap: break-word;
      max-width: 1px;
      padding:8px 24px;
      }

    .nav-tab_align {
      text-align: right !important;
      word-break: break-all;
  
  }
  .kt-badge.kt-badge--inline {
    height: 0;
    width: auto;
}
.nav_border {
  padding: .5rem 1rem;
    border-bottom: 1px solid #ebedf2;
  }
  table.dataTable {
    background-color:#fff;
    /* border-bottom: 1px solid #ebedf2; */
    /* // margin-bottom: 0 !important; */
}

table.dataTable thead th, table.dataTable thead td {
  padding: 10px;
   border-bottom: 1px solid #ebedf2;

}
::ng-deep .dataTables_wrapper.no-footer .dataTables_scrollBody {
  border-bottom: 1px solid white;
}


