/* You can add global styles to this file, and also import other style files */
@import "~jsoneditor/dist/jsoneditor.min.css";
@import "~@ng-select/ng-select/themes/default.theme.css";
 /* @import '~ngx-toastr/toastr.css'; */

/*@import '~ngx-toastr/toastr-bs4-alert.scss';

@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';
@import '~ngx-toastr/toastr-bs4-alert'; */

/* Alerts -> Investigate -> Process Analysis Graph Start   */
  div.dataTables_scrollHead {
    background-color: white;
  }
  .nav-background {
    background-color: ghostwhite;
  }
  svg {
    font: 11px sans-serif;
  }
  #global-search {
    border: 1px solid #ebedf2;
    border-radius: 4px;
    padding: 9px;
  }
  .dropdown-item {
    /* padding-top: 16px !important; */
    padding-bottom: 0px !important;
  }

  span.bs-ok-default.check-mark {
    margin-top: -11px !important;
    color: #7d829f !important;
  }

    /*  Alerts -> Investigate -> Process Analysis Graph End   */
/* Datatable empty message */
.dataTables_empty {
display: none;
}
.no-data-available {
  text-align: center;
}
.selected-list{
  border: 1px solid #ebedf2;
  border-radius: 4px;
  color: #495057;
}
.green-m.hovered,.green-m.selected {
    cursor: pointer;
}
tbody.no_records::after{
  content: 'No matching records found';
  text-align: center;
}

/* tab css start*/
.tab-wrap {
  transition: 0.3s box-shadow ease;
  /* border-radius: 6px; */
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  list-style: none;
  background-color: #fff;
  /* margin: 40px 0; */
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
.tab-wrap:hover {
  /* box-shadow: 0 12px 23px rgba(0, 0, 0, 0.23), 0 10px 10px rgba(0, 0, 0, 0.19); */
}
.tab {
  display: none;
}
.tab:checked:nth-of-type(1) ~ .tab__content:nth-of-type(1) {
  opacity: 1;
  transition: 0.5s opacity ease-in, 0.8s transform ease;
  position: relative;
  top: 0;
  z-index: 100;
  transform: translateY(0px);
  text-shadow: 0 0 0;
}
.tab:checked:nth-of-type(2) ~ .tab__content:nth-of-type(2) {
  opacity: 1;
  transition: 0.5s opacity ease-in, 0.8s transform ease;
  position: relative;
  top: 0;
  z-index: 100;
  transform: translateY(0px);
  text-shadow: 0 0 0;
}
.tab:checked:nth-of-type(3) ~ .tab__content:nth-of-type(3) {
  opacity: 1;
  transition: 0.5s opacity ease-in, 0.8s transform ease;
  position: relative;
  top: 0;
  z-index: 100;
  transform: translateY(0px);
  text-shadow: 0 0 0;
}
.tab:checked:nth-of-type(4) ~ .tab__content:nth-of-type(4) {
  opacity: 1;
  transition: 0.5s opacity ease-in, 0.8s transform ease;
  position: relative;
  top: 0;
  z-index: 100;
  transform: translateY(0px);
  text-shadow: 0 0 0;
}
.tab:checked:nth-of-type(5) ~ .tab__content:nth-of-type(5) {
  opacity: 1;
  transition: 0.5s opacity ease-in, 0.8s transform ease;
  position: relative;
  top: 0;
  z-index: 100;
  transform: translateY(0px);
  text-shadow: 0 0 0;
}

.tab:checked:nth-of-type(6) ~ .tab__content:nth-of-type(6) {
  opacity: 1;
  transition: 0.5s opacity ease-in, 0.8s transform ease;
  position: relative;
  top: 0;
  z-index: 100;
  transform: translateY(0px);
  text-shadow: 0 0 0;
}.tab:checked:nth-of-type(7) ~ .tab__content:nth-of-type(7) {
  opacity: 1;
  transition: 0.5s opacity ease-in, 0.8s transform ease;
  position: relative;
  top: 0;
  z-index: 100;
  transform: translateY(0px);
  text-shadow: 0 0 0;
}.tab:checked:nth-of-type(8) ~ .tab__content:nth-of-type(8) {
  opacity: 1;
  transition: 0.5s opacity ease-in, 0.8s transform ease;
  position: relative;
  top: 0;
  z-index: 100;
  transform: translateY(0px);
  text-shadow: 0 0 0;
}.tab:checked:nth-of-type(9) ~ .tab__content:nth-of-type(9) {
  opacity: 1;
  transition: 0.5s opacity ease-in, 0.8s transform ease;
  position: relative;
  top: 0;
  z-index: 100;
  transform: translateY(0px);
  text-shadow: 0 0 0;
}.tab:checked:nth-of-type(10) ~ .tab__content:nth-of-type(10) {
  opacity: 1;
  transition: 0.5s opacity ease-in, 0.8s transform ease;
  position: relative;
  top: 0;
  z-index: 100;
  transform: translateY(0px);
  text-shadow: 0 0 0;
}.tab:checked:nth-of-type(11) ~ .tab__content:nth-of-type(11) {
  opacity: 1;
  transition: 0.5s opacity ease-in, 0.8s transform ease;
  position: relative;
  top: 0;
  z-index: 100;
  transform: translateY(0px);
  text-shadow: 0 0 0;
}.tab:checked:nth-of-type(12) ~ .tab__content:nth-of-type(12) {
  opacity: 1;
  transition: 0.5s opacity ease-in, 0.8s transform ease;
  position: relative;
  top: 0;
  z-index: 100;
  transform: translateY(0px);
  text-shadow: 0 0 0;
}.tab:checked:nth-of-type(13) ~ .tab__content:nth-of-type(13) {
  opacity: 1;
  transition: 0.5s opacity ease-in, 0.8s transform ease;
  position: relative;
  top: 0;
  z-index: 100;
  transform: translateY(0px);
  text-shadow: 0 0 0;
}.tab:checked:nth-of-type(14) ~ .tab__content:nth-of-type(14) {
  opacity: 1;
  transition: 0.5s opacity ease-in, 0.8s transform ease;
  position: relative;
  top: 0;
  z-index: 100;
  transform: translateY(0px);
  text-shadow: 0 0 0;
}.tab:checked:nth-of-type(15) ~ .tab__content:nth-of-type(15) {
  opacity: 1;
  transition: 0.5s opacity ease-in, 0.8s transform ease;
  position: relative;
  top: 0;
  z-index: 100;
  transform: translateY(0px);
  text-shadow: 0 0 0;
}.tab:checked:nth-of-type(16) ~ .tab__content:nth-of-type(16) {
  opacity: 1;
  transition: 0.5s opacity ease-in, 0.8s transform ease;
  position: relative;
  top: 0;
  z-index: 100;
  transform: translateY(0px);
  text-shadow: 0 0 0;
}.tab:checked:nth-of-type(17) ~ .tab__content:nth-of-type(17) {
  opacity: 1;
  transition: 0.5s opacity ease-in, 0.8s transform ease;
  position: relative;
  top: 0;
  z-index: 100;
  transform: translateY(0px);
  text-shadow: 0 0 0;
}.tab:checked:nth-of-type(18) ~ .tab__content:nth-of-type(18) {
  opacity: 1;
  transition: 0.5s opacity ease-in, 0.8s transform ease;
  position: relative;
  top: 0;
  z-index: 100;
  transform: translateY(0px);
  text-shadow: 0 0 0;
}.tab:checked:nth-of-type(19) ~ .tab__content:nth-of-type(19) {
  opacity: 1;
  transition: 0.5s opacity ease-in, 0.8s transform ease;
  position: relative;
  top: 0;
  z-index: 100;
  transform: translateY(0px);
  text-shadow: 0 0 0;
}.tab:checked:nth-of-type(20) ~ .tab__content:nth-of-type(20) {
  opacity: 1;
  transition: 0.5s opacity ease-in, 0.8s transform ease;
  position: relative;
  top: 0;
  z-index: 100;
  transform: translateY(0px);
  text-shadow: 0 0 0;
}.tab:checked:nth-of-type(21) ~ .tab__content:nth-of-type(21) {
  opacity: 1;
  transition: 0.5s opacity ease-in, 0.8s transform ease;
  position: relative;
  top: 0;
  z-index: 100;
  transform: translateY(0px);
  text-shadow: 0 0 0;
}.tab:checked:nth-of-type(22) ~ .tab__content:nth-of-type(22) {
  opacity: 1;
  transition: 0.5s opacity ease-in, 0.8s transform ease;
  position: relative;
  top: 0;
  z-index: 100;
  transform: translateY(0px);
  text-shadow: 0 0 0;
}.tab:checked:nth-of-type(23) ~ .tab__content:nth-of-type(23) {
  opacity: 1;
  transition: 0.5s opacity ease-in, 0.8s transform ease;
  position: relative;
  top: 0;
  z-index: 100;
  transform: translateY(0px);
  text-shadow: 0 0 0;
}.tab:checked:nth-of-type(24) ~ .tab__content:nth-of-type(24) {
  opacity: 1;
  transition: 0.5s opacity ease-in, 0.8s transform ease;
  position: relative;
  top: 0;
  z-index: 100;
  transform: translateY(0px);
  text-shadow: 0 0 0;
}.tab:checked:nth-of-type(25) ~ .tab__content:nth-of-type(25) {
  opacity: 1;
  transition: 0.5s opacity ease-in, 0.8s transform ease;
  position: relative;
  top: 0;
  z-index: 100;
  transform: translateY(0px);
  text-shadow: 0 0 0;
}.tab:checked:nth-of-type(26) ~ .tab__content:nth-of-type(26) {
  opacity: 1;
  transition: 0.5s opacity ease-in, 0.8s transform ease;
  position: relative;
  top: 0;
  z-index: 100;
  transform: translateY(0px);
  text-shadow: 0 0 0;
}.tab:checked:nth-of-type(27) ~ .tab__content:nth-of-type(27) {
  opacity: 1;
  transition: 0.5s opacity ease-in, 0.8s transform ease;
  position: relative;
  top: 0;
  z-index: 100;
  transform: translateY(0px);
  text-shadow: 0 0 0;
}.tab:checked:nth-of-type(28) ~ .tab__content:nth-of-type(28) {
  opacity: 1;
  transition: 0.5s opacity ease-in, 0.8s transform ease;
  position: relative;
  top: 0;
  z-index: 100;
  transform: translateY(0px);
  text-shadow: 0 0 0;
}.tab:checked:nth-of-type(29) ~ .tab__content:nth-of-type(29) {
  opacity: 1;
  transition: 0.5s opacity ease-in, 0.8s transform ease;
  position: relative;
  top: 0;
  z-index: 100;
  transform: translateY(0px);
  text-shadow: 0 0 0;
}.tab:checked:nth-of-type(30) ~ .tab__content:nth-of-type(30) {
  opacity: 1;
  transition: 0.5s opacity ease-in, 0.8s transform ease;
  position: relative;
  top: 0;
  z-index: 100;
  transform: translateY(0px);
  text-shadow: 0 0 0;
}.tab:checked:nth-of-type(31) ~ .tab__content:nth-of-type(31) {
  opacity: 1;
  transition: 0.5s opacity ease-in, 0.8s transform ease;
  position: relative;
  top: 0;
  z-index: 100;
  transform: translateY(0px);
  text-shadow: 0 0 0;
}.tab:checked:nth-of-type(32) ~ .tab__content:nth-of-type(32) {
  opacity: 1;
  transition: 0.5s opacity ease-in, 0.8s transform ease;
  position: relative;
  top: 0;
  z-index: 100;
  transform: translateY(0px);
  text-shadow: 0 0 0;
}.tab:checked:nth-of-type(33) ~ .tab__content:nth-of-type(33) {
  opacity: 1;
  transition: 0.5s opacity ease-in, 0.8s transform ease;
  position: relative;
  top: 0;
  z-index: 100;
  transform: translateY(0px);
  text-shadow: 0 0 0;
}.tab:checked:nth-of-type(34) ~ .tab__content:nth-of-type(34) {
  opacity: 1;
  transition: 0.5s opacity ease-in, 0.8s transform ease;
  position: relative;
  top: 0;
  z-index: 100;
  transform: translateY(0px);
  text-shadow: 0 0 0;
}.tab:checked:nth-of-type(35) ~ .tab__content:nth-of-type(35) {
  opacity: 1;
  transition: 0.5s opacity ease-in, 0.8s transform ease;
  position: relative;
  top: 0;
  z-index: 100;
  transform: translateY(0px);
  text-shadow: 0 0 0;
}.tab:checked:nth-of-type(36) ~ .tab__content:nth-of-type(36) {
  opacity: 1;
  transition: 0.5s opacity ease-in, 0.8s transform ease;
  position: relative;
  top: 0;
  z-index: 100;
  transform: translateY(0px);
  text-shadow: 0 0 0;
}.tab:checked:nth-of-type(37) ~ .tab__content:nth-of-type(37) {
  opacity: 1;
  transition: 0.5s opacity ease-in, 0.8s transform ease;
  position: relative;
  top: 0;
  z-index: 100;
  transform: translateY(0px);
  text-shadow: 0 0 0;
}.tab:checked:nth-of-type(38) ~ .tab__content:nth-of-type(38) {
  opacity: 1;
  transition: 0.5s opacity ease-in, 0.8s transform ease;
  position: relative;
  top: 0;
  z-index: 100;
  transform: translateY(0px);
  text-shadow: 0 0 0;
}.tab:checked:nth-of-type(39) ~ .tab__content:nth-of-type(39) {
  opacity: 1;
  transition: 0.5s opacity ease-in, 0.8s transform ease;
  position: relative;
  top: 0;
  z-index: 100;
  transform: translateY(0px);
  text-shadow: 0 0 0;
}.tab:checked:nth-of-type(40) ~ .tab__content:nth-of-type(40) {
  opacity: 1;
  transition: 0.5s opacity ease-in, 0.8s transform ease;
  position: relative;
  top: 0;
  z-index: 100;
  transform: translateY(0px);
  text-shadow: 0 0 0;
}.tab:checked:nth-of-type(41) ~ .tab__content:nth-of-type(41) {
  opacity: 1;
  transition: 0.5s opacity ease-in, 0.8s transform ease;
  position: relative;
  top: 0;
  z-index: 100;
  transform: translateY(0px);
  text-shadow: 0 0 0;
}.tab:checked:nth-of-type(42) ~ .tab__content:nth-of-type(42) {
  opacity: 1;
  transition: 0.5s opacity ease-in, 0.8s transform ease;
  position: relative;
  top: 0;
  z-index: 100;
  transform: translateY(0px);
  text-shadow: 0 0 0;
}.tab:checked:nth-of-type(43) ~ .tab__content:nth-of-type(43) {
  opacity: 1;
  transition: 0.5s opacity ease-in, 0.8s transform ease;
  position: relative;
  top: 0;
  z-index: 100;
  transform: translateY(0px);
  text-shadow: 0 0 0;
}.tab:checked:nth-of-type(44) ~ .tab__content:nth-of-type(44) {
  opacity: 1;
  transition: 0.5s opacity ease-in, 0.8s transform ease;
  position: relative;
  top: 0;
  z-index: 100;
  transform: translateY(0px);
  text-shadow: 0 0 0;
}.tab:checked:nth-of-type(45) ~ .tab__content:nth-of-type(45) {
  opacity: 1;
  transition: 0.5s opacity ease-in, 0.8s transform ease;
  position: relative;
  top: 0;
  z-index: 100;
  transform: translateY(0px);
  text-shadow: 0 0 0;
}.tab:checked:nth-of-type(46) ~ .tab__content:nth-of-type(46) {
  opacity: 1;
  transition: 0.5s opacity ease-in, 0.8s transform ease;
  position: relative;
  top: 0;
  z-index: 100;
  transform: translateY(0px);
  text-shadow: 0 0 0;
}.tab:checked:nth-of-type(47) ~ .tab__content:nth-of-type(47) {
  opacity: 1;
  transition: 0.5s opacity ease-in, 0.8s transform ease;
  position: relative;
  top: 0;
  z-index: 100;
  transform: translateY(0px);
  text-shadow: 0 0 0;
}.tab:checked:nth-of-type(48) ~ .tab__content:nth-of-type(48) {
  opacity: 1;
  transition: 0.5s opacity ease-in, 0.8s transform ease;
  position: relative;
  top: 0;
  z-index: 100;
  transform: translateY(0px);
  text-shadow: 0 0 0;
}.tab:checked:nth-of-type(49) ~ .tab__content:nth-of-type(49) {
  opacity: 1;
  transition: 0.5s opacity ease-in, 0.8s transform ease;
  position: relative;
  top: 0;
  z-index: 100;
  transform: translateY(0px);
  text-shadow: 0 0 0;
}.tab:checked:nth-of-type(50) ~ .tab__content:nth-of-type(50) {
  opacity: 1;
  transition: 0.5s opacity ease-in, 0.8s transform ease;
  position: relative;
  top: 0;
  z-index: 100;
  transform: translateY(0px);
  text-shadow: 0 0 0;
}
.tab:first-of-type:not(:last-of-type) + label {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.tab:not(:first-of-type):not(:last-of-type) + label {
  border-radius: 0;
}
.tab:last-of-type:not(:first-of-type) + label {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.tab:checked + label {
  background-color: #fff;
  box-shadow: 0 -1px 0 #fff inset;
  cursor: default;
}
.tab:checked + label:hover {
  box-shadow: 0 -1px 0 #fff inset;
  background-color: #fff;
}
.tab + label {
  box-shadow: 0 -1px 0 #eee inset;
  border-radius: 6px 6px 0 0;
  cursor: pointer;
  display: block;
  text-decoration: none;
  color: #333;
  flex-grow: 3;
  text-align: center;
  background-color: #f2f2f2;
  user-select: none;
  text-align: center;
  transition: 0.3s background-color ease, 0.3s box-shadow ease;
  height: 50px;
  box-sizing: border-box;
  padding: 15px;
}
.tab + label:hover {
  background-color: #f9f9f9;
  box-shadow: 0 1px 0 #f4f4f4 inset;
}
.tab__content {
  padding: 10px 25px;
  background-color: transparent;
  position: absolute;
  width: 100%;
  z-index: -1;
  opacity: 0;
  left: 0;
  transform: translateY(-3px);
  border-radius: 6px;
}
/* boring stuff */
body {
  /*font-family: 'Helvetica', sans-serif;*/
  /* background-color: #e7e7e7; */
  color: #777;
  padding: 30px 0;
  padding-top:0px;
  font-weight: 600;
}
.container {
  margin: 0 auto;
  display: block;
  max-width: 100%;
  /* max-width: 80vw; */
}
.container > *:not(.tab-wrap) {
  padding: 0 0px;
}
h1 {
  margin: 0;
  color: #444;
  font-weight: 400;
}
h2{
text-style:bold
}

h3 {
  font-weight: 400;
}
p {
  line-height: 1.6;
  margin-bottom: 20px;
}
/* tab css end */
/* option jsoneditor filter start */
button.jsoneditor-transform{
  display: none;
}
/* option jsoneditor filter End */
/* Live queries ace editor start*/
.ace-github .ace_print-margin {
  width: 0px;
  }
th.sorting_asc{
  font-weight: normal;
}
li.selected-item{
  background-color: #83ae5c !important;
  color: #fff;
}
/* Live queries ace editor End*/

.dataTables_wrapper .dataTables_paginate .paginate_button{
  padding: 0em;
}
.jsoneditor-contextmenu{
  z-index: 2;
}

.ace_identifier{color:#3f64ed;font-weight:600}
.ace_osquerycolumn{color:#FF7F00}
.ace_table.ace_operator{color:#800000}
.ace_table{color:#800000;font-weight:600}
.ace_keyword.ace_operator{color:black}
.ace_keyword{color:#3f64ed;font-weight:600}
