

<div class="kt-grid kt-grid--hor kt-grid--root">
  <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--ver kt-page">
    <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor kt-wrapper" id="kt_wrapper">

<div class="kt-portlet kt-portlet--last kt-portlet--responsive-mobile" id="kt_page_portlet">
<div class="kt-portlet__head kt-portlet__head--lg">
<div class="kt-portlet__head-label">
  <h3 class="kt-portlet__head-title">
    <i class="kt-font-brand fas fa-pen-square"></i>
      Update Query - {{ queriesdata_name }}
  </h3>
  &nbsp;
  <!-- <h4 *ngFor= "let pack of packs_m"  class="kt-portlet__head-title">{{ queriesdata_data.name }}</h4> -->
</div>
<div class="kt-portlet__head-toolbar">
  <div class="kt-portlet__head-wrapper">
    <a href="javascript:void(0)" (click)="goBack()" class="btn btn-clean btn-sm" data-skin="dark" data-toggle="kt-tooltip" data-placement="top" title="Back to Previous Page">
      <i class="fas fa-chevron-left back_icon_align"></i>
      Back
    </a>
  </div>
</div>
</div>

<div class="kt-portlet__body">
<form class="kt-form" [formGroup]="updateQuery" >
  <div class="row">
   <div class="col-xl-12">
     <div class="kt-section kt-section--first">
       <!-- <div *ngFor="let queries of queriesdata_data | keyvalue" class="kt-section__body"> -->

         <div class="form-group row required">
           <label class="col-sm-2 col-form-label form--label">
             Name
           </label>
           <div class="col-10">
            <input type="text" id="name"  formControlName="name" class="form-control" [(ngModel)]="queriesdata_data.name" value="{{queriesdata_data.name}}" [ngClass]="{ 'is-invalid': submitted && f.name.errors }" />
            <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
         <div *ngIf="f.name.errors.required">Name is required</div>
         </div>

         </div>
         </div>
         <div class="form-group row required">
           <label class="col-sm-2 col-form-label form--label">
             Query
           </label>
           <div class="col-10">
            <input type="hidden" formControlName="sql" name="sql" id="sql" value="">
            <input type="hidden" name="live_query_val" id="live_query_val" value="{{this.query_data}}">
            
            <div class="query-editor">
              <section class="query-editor__wrapper">
                <div id="js-query-editor" class="query-editor__flex-editor" style="flex-basis: calc((25vh));">
                  <ace-editor 
                  #editor style="height:70px;">
                  </ace-editor>
                </div>
              </section>
            </div>
            <!-- <div class="query-editor">
              <section class="query-editor__wrapper"> -->
                <!-- <div id="js-query-editor" class="query-editor__flex-editor" style="flex-basis: calc((25vh));">
                  <ace-editor 
                    #editor style="height:150px;">
                  </ace-editor>
                </div> -->
                <!-- <div id="js-query-editor" class="query-editor__flex-editor" style="flex-basis: calc((25vh));"> -->
                  <!-- <div class="query-editor__editor ace_editor ace_focus" id="live-query-editor"></div> -->
                  <!-- <ace-editor 
                    #editor style="height:150px;">
                  </ace-editor>
                </div>
              </section>
            </div> -->
            <!-- <div *ngIf="submitted && f.sql.errors" class="invalid-feedback">
              <div *ngIf="f.sql.errors.required">Query is required</div>
              </div> -->
             <!-- <input class="form-control" id="Query" name="Query" type="text" value="{{queriesdata_data.sql}}"> -->
             <!-- {{ form.sql(class_="form-control") }} -->

             <!-- <input type="text" id="query"  formControlName="query" class="form-control" [(ngModel)]="queriesdata_data.sql" value="{{queriesdata_data.sql}}" [ngClass]="{ 'is-invalid': submitted && f.query.errors }"/>
             <div *ngIf="submitted && f.query.errors" class="invalid-feedback">
               <div *ngIf="f.query.errors.required">Query is required</div>
             </div> -->
             <!-- <ace-editor [(text)]="text" #editor [mode]="'sql'" formControlName="query"  [theme]="'eclipse'" [autoUpdateContent]="true" [readOnly]="false" id ="live-query-editor" style="height:50px;" [ngClass]="{ 'is-invalid': submitted && f.query.errors }"></ace-editor>
             <div *ngIf="submitted && f.query.errors" class="invalid-feedback">
              <div *ngIf="f.query.errors.required">Query is required</div>
            </div>  -->
             <!-- <div class="query-editor form-control query-editor__wrapper">
               <section class="query-editor__wrapper">
               <div id="js-query-editor" class="query-editor__flex-editor">
                 <div class="query-editor__editor ace_editor ace_focus" id="live-query-editor"></div>
               </div>
               </section>
             </div>
             <span class="description_ex">Example: select * from processes;</span> -->
           </div>
         </div>
         <div class="form-group row required">
           <label class="col-2 col-form-label" for="interval">Interval</label>
           <div class="col-10">
             <!-- <input class="form-control" id="interval" min="1" name="interval" type="number" value="{{queriesdata_data.interval}}"> -->
             <input type="number" id="interval" min="1" formControlName="interval" class="form-control" [(ngModel)]="queriesdata_data.interval" value="{{queriesdata_data.interval}}" [ngClass]="{ 'is-invalid': submitted && f.interval.errors }">
             <div *ngIf="submitted && f.interval.errors" class="invalid-feedback">
          <div *ngIf="f.interval.errors.required">Interval is required</div>
          <div *ngIf="f.interval.errors.min">Please select a positive value </div>
          </div>
           </div>
         </div>

         <div class="form-group row required">
           <label class="col-2 col-form-label" for="platform">Platform</label>
           <div class="col-10">

<!-- <label for="exampleFormControlSelect1">Example select</label> -->
        <!-- <label for="exampleFormControlSelect1"></label> -->
            <select  class="selectpicker" id="exampleFormControlSelect1" placeholder="select  Platform" name="platform"  formControlName="platform" class="form-control" [(ngModel)]="queriesdata_data.platform" value="{{queriesdata_data.platform}}" [ngClass]="{ 'is-invalid': submitted && f.platform.errors }">
              <div *ngIf="submitted && f.platform.errors" class="invalid-feedback">
           <div *ngIf="f.platform.errors.required">platform is required</div>
           </div>

           <option value="all">All</option>
           <option value="darwin">Darwin</option>
           <option value="linux">Linux</option>
           <option value="freebsd">FreeBSD</option>
           <option value="posix">POSIX Compatible</option>
           <option value="windows">Windows</option>
              </select>
            </div>
          </div>

         <div class="form-group row">
           <label class="col-2 col-form-label" for="version">Version</label>
           <div class="col-10">
             <input  type="text" id="version" name="version"  class="form-control" formControlName="version" [(ngModel)]="queriesdata_data.version" value="{{queriesdata_data.version}}"/>
           </div>
         </div>
         <div class="form-group row">
           <label class="col-2 col-form-label" for="description">Description</label>
           <div class="col-10">
             <textarea class="form-control" type="text" name="description" id="description" formControlName="description" [(ngModel)]="queriesdata_data.description" value="{{queriesdata_data.description}}"></textarea>
           </div>
         </div>
         <div class="form-group row">
           <label class="col-2 col-form-label">Value</label>
           <div class="col-10">
             <textarea class="form-control" type="text" name="value" id="value" rows="3" formControlName="value" [(ngModel)]="queriesdata_data.value" value="{{queriesdata_data.value}}"></textarea>
           </div>
         </div>
         <div class="form-group row">
          <label class="col-2 col-form-label">packs</label>
          <div class="col-10">
            <angular2-multiselect [data]="dropdownPacknameList" [(ngModel)]="selectedPacknameItems" formControlName="packs"
                [settings]="dropdownPacknameSettings" 
                (onSelect)="onItemSelect($event)" 
                (onDeSelect)="OnItemDeSelect($event)"
                (onSelectAll)="onSelectAll($event)"
                (onDeSelectAll)="onDeSelectAll($event)">
            </angular2-multiselect>
           
          </div>
        </div>
         <!-- <div class="form-group row">
           <label class="col-2 col-form-label" for="packs">Packs</label>
           <div class="col-10">
          <label for="multipleSelect1" ></label>

             <select  class="form-control r-selectpicker" id="multipleSelect1" name="packs" formControlName="packs" [(ngModel)]="queriesdata_data.packs" >

               <option value="all-events-pack">all-events-pack</option>
               <option value="binary-monitoring-pack">binary-monitoring-pack</option>
               <option value="forensic-pack">forensic-pack</option>
               <option value="hardware-monitoring">hardware-monitoring</option>
               <option value="incident-response">incident-response</option>
               <option value="it-compliance">it-compliance</option>
               <option value="user-creation-updation-pack">user-creation-updation-pack</option>
               <option value="unwanted-chrome-extensions">unwanted-chrome-extensions</option>
               <option value="osquery-monitoring">osquery-monitoring</option>
               <option value="vuln-management">vuln-management</option>
               <option value="windows-attacks">windows-attacks</option>
               <option value="windows-hardening">windows-hardening</option>

             </select>

              </div>
            </div> -->


         <div class="form-group row ">
           <label class="col-2 col-form-label" for="tags">Tags</label>
           <div class="col-10">
             <textarea class="form-control" id="tags" name="tags" placeholder="One tag per line"  name="tags" id="tags" formControlName="tags" [(ngModel)]="queriesdata_data.tags" value="{{queriesdata_data.tags}}"></textarea>

           </div>
         </div>
         <div class="form-group row">
           <label class="col-2 col-form-label">Query Options</label>
           <div class="col-10">
             <div class="kt-checkbox-inline">
               <div class="checkbox col-sm-5">
                 <label>
                   <div class="kt-checkbox-inline">
                   <!-- <span class="col-md-3">Query Options</span> -->
                   <div class="checkbox col-sm-5">
                     <label>
                       <input id="snapshot" name="snapshot" type="checkbox"  formControlName="snapshot" [(ngModel)]="queriesdata_data.snapshot" value="{{queriesdata_data.snapshot}}"> Snapshot
                     </label>
                   </div>
                 </div>
                 </label>
               </div>
             </div>
           </div>
         </div>
       <!-- </div> -->
     </div>
     <!-- <div class="kt-separator kt-separator--border-dashed kt-separator--space-lg"></div> -->

     <div class="kt-portlet__foot">
       <div class="mandary">
         <span class="" style="color: #e32;">*</span><span style="font-size: smaller;color: #646c9a;"> Mandatory Fields</span>
       </div>
       <div class="kt-form__actions kt-form__actions--center">
         <!-- <a href="{{ url_for('manage.queries') }}" class="btn btn-outline-success btn-sm">
                      <i class="la la-long-arrow-left"></i>
                      Back
                    </a> -->
         <!-- <input class="btn btn-success" type="submit" value="{% if query is defined %}Update{% else %}Add{% endif %}"> -->
         <button type="submit" (click)="saveForm()" id="run_query" class="btn btn-success"><i class="fa fa-sync-alt"></i>Update</button>

         <button (click)="resetForm()"  style="margin-left:5px;" class="btn btn-secondary">Clear</button>
       </div>
     </div>
    </div>
  </div>
</form>
</div>

</div>

</div>
</div>
</div>
