<div class="kt-grid kt-grid--hor kt-grid--root">
  <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--ver kt-page">
    <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor kt-wrapper" id="kt_wrapper">
    <!-- begin:: Content -->
    <div class="kt-portlet kt-portlet--mobile kt-portlet--responsive-mobile">
      <div class="kt-portlet__head kt-portlet__head--lg">
        <div class="kt-portlet__head-label">
          <span class="kt-portlet__head-icon">
            <i class="kt-font-brand fa fa-user-cog"></i>
          </span>
          <h3 class="kt-portlet__head-title">
             YARA Files
             <i class="help-badge fa fa-info" title="It could take about 60-90 seconds for the agent to pick the yara signatures, based on your network."></i>
          </h3>
        </div>
        <div class="kt-portlet__head-toolbar">
          <div class="kt-portlet__head-wrapper">
            <div class="kt-portlet__head-actions">
              <!-- <button type="button" class="btn btn-outline-success btn-icon-sm" data-toggle="modal" data-target="#add_yara" aria-haspopup="true" aria-expanded="false">
	              <i class="flaticon2-plus"></i>
								<span>Add YARA </span>
	            </button> -->
              <button type="button" class="btn btn-outline-success btn-sm" data-toggle="modal" data-target="#add_yara" aria-haspopup="true" aria-expanded="false">
  							<i class="fa fa-plus back_icon_align"></i>
  							<span>Add YARA File</span>
  						</button>
              <!--Begin:: Modal-->
              <div class="modal fade" id="add_yara" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
	             <form class="kt-form" id="kt_form" [formGroup]="yarafile" >
	              <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
	                <div class="modal-content">
	                  <div class="modal-header">
                      <h3 class="" style="color: #646c9a;">Add YARA File</h3>
											<button type="button" class="close" (click)="clearInput()" data-dismiss="modal" aria-label="Close"></button>
	                  </div>
	                   <div class="modal-body kt-scroll" data-scroll="true" data-height="" data-scrollbar-shown="true">
										 <!--begin:: Widgets/Tasks -->
                      <div class="row">
                        <div class="col-xl-2"></div>
                          <div class="col-xl-8">
                            <div class="kt-section kt-section--first">
                              <div class="kt-section__body">
                                <div class="form-group row">
                                  <label class="col-3 col-form-label" style="color: #646c9a;">Upload File</label>
                                  <div class="custom-file col-9">
                                    <input type="file" [(ngModel)]="clearValue"  name="yara"  formControlName="yara" (change)="onFileSelect($event)" class="custom-input-file" id="customFile" >
                                  <!-- <input class="custom-input-file" id="customFile" name="yara" placeholder="Path to yara file" type="file"> -->

                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        <div class="col-xl-2"></div>
                      </div>

					            <!--end:: Widgets/Tasks -->
	                    </div>
                      <div class="modal-footer align-center">
                        <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-success active" data-dismiss="modal" (click)="onSubmit()">Upload</button>
                      </div>
	                  </div>
	                </div>
                </form>
	            </div>
              <!--End:: Modal-->
            </div>
          </div>
        </div>
      </div>
      <div class="kt-portlet__body kt-portlet__body--fit">
        <div class="" *ngIf="yara_data?.length != 0">
        <!--begin: Datatable -->
        <table class="table table-hover table-checkable">
          <thead>
            <tr>
              <th title="">Filename</th>
              <!-- <th title="">Type</th> -->
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let yara of yara_data">
               <td><a>{{ yara }}</a></td>
               <td><button data-toggle="modal" (click)="viewFile($event)" data-target="#yara_view" value="{{yara}}" class="btn btn-info btn-sm">VIEW File</button></td>
               <td><button (click)="deleteFile($event)" value="{{yara}}" class="btn btn-danger btn-sm">DELETE</button></td>
            </tr>
          </tbody>
        </table>
        <!--end: Datatable -->
        </div>
        <div class="" *ngIf="yara_data?.length == 0">
          <p class="txt-clr">No YARA files.</p>
        </div>
        <div class="modal left fade" id="yara_view" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" style="display: none; position: fixed; background-color: hsla(0, 0%, 0%, 0.45)">
			<div class="modal-dialog modal-lg" role="document">
			  <div class="modal-content">
				<div class="modal-header">
				  <h3 class="" id="yara_head">{{yara_title}}</h3>
				  <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body kt-scroll" data-scroll="true" data-height="200" data-scrollbar-shown="true">
				  <!--begin:: Widgets/Tasks -->
			  	<form class="kt-form" id="kt_form">
						<div class="row">
          		<pre id ="view_data" style="word-wrap: break-word; white-space: pre-wrap;">{{yara_view?.data}}</pre>
							<!-- <div id="view_data"></div> -->
						</div>
				  </form>
				  <!--end:: Widgets/Tasks -->
				</div>
				<div class="modal-footer align-center">
				  <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
				</div>
			  </div>
			</div>
			</div>
      </div>
    </div>
    <!-- end:: Content -->
    </div>
  </div>

</div>
