.yar_view:hover  {
    color: #518c24;
}
.fa-lg {
  font-size: 1.5rem !important;
}

.yar_delete:hover {
    color: crimson;
}

.table thead th {
    font-weight: 500;
}
.txt-clr{
  color: indianred;
  text-align: center;
  /* margin-bottom: 0px; */
  font-weight: 400;
}
.back_icon_align {
  vertical-align: unset !important;
}
.kt-portlet .kt-portlet__head .kt-portlet__head-label .kt-portlet__head-title {
   margin: 0;
   padding: 0;
   font-size: 1.2rem;
   font-weight: 500;
   color:  #464457;
}
.btn-info{
  padding: .65rem 1rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  }
  .btn-danger{
    padding: .65rem 1rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  }
  .custom-input-file {
    width: 100%;
    color: #495057;
    line-height: 1.5;
    padding: 0.65rem 1rem;
    font-weight: 400;
    border: 1px solid #ebedf2;
    border-radius: 4px;
  }