.query-editor {
  min-height: 0;
  }
  .form-group{
    color: #646c9a !important;
  }
  .query-editor__flex-editor {
  flex-basis: calc((10vh));
  }
  .ace_gutter-layer {
  display: none;
  }
  .mandary {
  margin-top: -10px;
  margin-left: 0px;
  }
  .required_field label:after {
  color: #e32;
  content: ' *';
  display:inline;
  }
  .description_ex {
  color: #9da2bf;
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  font-family: system-ui;
  }
  .form-group {
  margin-bottom: 1.3rem !important;
  }
  .show>.btn.btn-default, .btn.btn-default.active, .btn.btn-default:active, .btn.btn-default:hover {
  color: #48465b;
  background: #ffffff;
  border-color: #9aabff;
  }
  .txt-fmly{
  font-family: Poppins;
  }
  .back_icon_align {
    vertical-align: unset !important;
  }
  .kt-portlet .kt-portlet__head .kt-portlet__head-label .kt-portlet__head-title {
     margin: 0;
     padding: 0;
     font-size: 1.1rem;
     font-weight: 600;
     color:  #464457;
  }
  .query-editor {
    border-bottom: 4px solid #929296;
    padding-bottom:11px;
    min-height: 0;
  }
  .query-editor__flex-editor {
    flex-basis: calc((25vh));
  }
  