
  tbody {
    vertical-align: top;
    border-color: inherit;
  }
  dt {
    font-weight: 700;
    font-size: 14px;
  }
  td {
    position: relative;
    font-size: 11px;
    margin-top: 15px;
    margin-bottom: 60px;
    border-collapse: collapse;
    padding-left: 13px;
    word-break: break-all;
    white-space: normal !important;
  }
  table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    word-wrap: break-word;
    display: table;
    border-collapse: separate;
    border-spacing: 2px;
    border-color: grey;
  }
    /* Important part */
    .modal-dialog {
      overflow-y: initial !important
    }
    .modal-body {
      height: 100%;
      overflow-y: auto;
    }
    div.dataTables_scrollBody {
      position: relative;
      overflow-x: scroll;
      width: 100%;
      height: 600px;
    }
    div.dataTables_wrapper {
      width: 100%;
      margin: 0 auto
    } 
    a.toggle-vis:hover {
      text-decoration: underline !important;
      color: #000000 !important;
    }
    a.toggle-vis {
      cursor: pointer !important;
      color: #3174c7 !important;
    }
    .kt-datatable.kt-datatable--default>.kt-datatable__table>.kt-datatable__head .kt-datatable__row>.kt-datatable__cell>span, .kt-datatable.kt-datatable--default>.kt-datatable__table>.kt-datatable__foot .kt-datatable__row>.kt-datatable__cell>span {
      font-weight: 700;
    }
    .kt-datatable.kt-datatable--default.kt-datatable--loaded>.kt-datatable__table>.kt-datatable__head{
      display: unset !important;
    }

    td.details-control {
    background: url('https://datatables.net/examples/resources/details_open.png') no-repeat center center;
    cursor: pointer;
  }
  tr.details td.details-control {
    background: url('https://datatables.net/examples/resources/details_close.png') no-repeat center center;
  }
  table.dataTable tbody td {
    word-break: break-word;
    vertical-align: top;
  }
  .kt-datatable.kt-datatable--default>.kt-datatable__table>.kt-datatable__body .kt-datatable__row>.kt-datatable__cell--check {
    padding-right: 30px;
  }
  .dropdown-toggle::after {
    margin-left: 0;
  }
  .datatable__search input {
      margin-left: .5em;
      display: inline-block;
      width: auto;
  }
  .datatable__search label {
      float: right;
      margin-bottom: -12px;
  }
  .txt-clr{
    color: indianred;
    text-align: center;
    /* margin-bottom: 0px; */
    font-weight: 400;
  }
  .kt-portlet .kt-portlet__head .kt-portlet__head-label .kt-portlet__head-title {
     margin: 0;
     padding: 0;
     font-size: 1.2rem;
     font-weight: 500;
     color:  #464457;
  }
  .dropdown-menu {
    border: 0 !important;
    margin: 0;
    border-radius: 0;
    width: 12rem;
    padding: 0;
    padding: 1rem 0;
    border-radius: 4px;
    left: 0;
}
.dropdown-btn-1 {
  margin-top: -17px;
  margin-left: 36px;
  cursor: pointer;
}

:host ::ng-deep div.dataTables_wrapper,
:host ::ng-deep div.dataTables_info,
:host ::ng-deep div.dataTables_filter,
:host ::ng-deep div.dataTables_length{
  color: #646c9a !important;
}
table.dataTable thead th, table.dataTable thead td {
  padding: 10px;
   border-bottom: 1px solid #ebedf2;

}
::ng-deep table.dataTable.no-footer  {
  border-bottom: 1px solid white;
}
::ng-deep .ngx-datepicker-container .ngx-datepicker-calendar-container {
  z-index: 999;
}
::ng-deep .query_tab .tab-content .nav {
  width: 50%;
    margin: 6px auto;
}
::ng-deep div.dataTables_wrapper div.dataTables_filter{
  padding-right: 1%;
}
::ng-deep #rule_table_wrapper .pull-right .dt-buttons .btn{
  padding:6px !important
}