<div class="kt-grid kt-grid--hor kt-grid--root">
  <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--ver kt-page">
    <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor kt-wrapper" id="kt_wrapper">
      <!--Begin:: Modal-->
      <div class="modal left fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
           aria-hidden="true" style="display: none; position: fixed; background-color: hsla(0, 0%, 0%, 0.45)">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <!-- <h3 class="">Alerted Entry</h3> -->
              <span *ngIf="alert_title=='intel_data'" id="stitle">Intel Data</span>
              <span *ngIf="alert_title=='alert_entry'" id="stitle">Alerted Entry</span>
              <h3 class=""></h3>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body kt-scroll" data-scroll="false" data-height="200" data-scrollbar-shown="true">
              <!--begin:: Widgets/Tasks -->

              <form class="kt-form" id="kt_form">
                <div class="row">
                  <!-- <div class="col-xl-2"></div> -->
                  <div class="col-xl-12">
                    <div class="kt-section kt-section--first">
                      <div class="kt-section__body">
                        <div class="" *ngIf="toggle">
                          <json-editor class="col-md-12" style="min-height: 300px;" [options]="editorOptions"
                                       [data]="alerted_data_json"></json-editor>
                        </div>
                      </div>

                    </div>
                    <!-- <div class="kt-separator kt-separator--border-dashed kt-separator--space-lg"></div> -->
                  </div>
                  <div class="col-xl-2"></div>
                </div>
              </form>
              <!--end:: Widgets/Tasks -->
            </div>
            <div class="modal-footer align-center">
              <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
      <!--End:: Modal-->
      <!-- begin:: Content -->
      <div class="kt-portlet kt-portlet--mobile kt-portlet--responsive-mobile">
        <div class="kt-portlet__head kt-portlet__head--lg">
          <!-- <div class="kt-portlet__head-label">
        <span class="kt-portlet__head-icon">
          <i class="kt-font-brand fas fa-exclamation-triangle"></i>
        </span>
            <h3 class="kt-portlet__head-title">
              Alerts Table
            </h3>
          </div> -->

          <div class="kt-portlet__head-toolbar">
            <div class="kt-portlet__head-wrapper">
              <span class="kt-portlet__head-icon">
                <i class="kt-font-brand fas fa-exclamation-triangle"></i>
              </span>
              <label class="alert-title">Total Alerts for last {{purge_data_duration}} Days:</label>
              <ul class="nav nav-pills nav-pills-sm nav-pills-label nav-pills-bold" role="tablist">

                <button style="display: none" id="hidden_button"></button>
                <!-- {% for index in range(0,alert_source|length) %} -->
                <li *ngFor="let alert_source of alertSource" class="nav-item">
                  <!-- AlienVault OTX -->
                  <div *ngIf="alert_source.name==alert_source.name">
                    <a *ngIf="alert_source.name === 'virustotal'" id="{{ alert_source.name}}"
                       class="nav-link nav-link-active" data-toggle="tab"
                       (click)="show_hide_div(alert_source.name)"
                       style="font-weight: 600; cursor: pointer;">
                      <!-- {{ alert_source.name === 'virustotal' ? 'VirusTotal' | titlecase}} -->
                      VirusTotal
                      <!-- <span id="badge-{{ alert_source.name}}">({{ alert_source.count}})</span> -->
                      <span id="badge-{{ alert_source.name}}">({{ virusTotalCount}})</span>
                    </a>
                    <a *ngIf="alert_source.name === 'ibmxforce'" id="{{ alert_source.name}}"
                       class="nav-link nav-link-active" data-toggle="tab"
                       (click)="show_hide_div(alert_source.name)"
                       style="font-weight: 600; cursor: pointer;">
                      <!-- {{ alert_source.name === 'virustotal' ? 'VirusTotal' | titlecase}} -->
                      IBM X-Force
                      <!-- <span id="badge-{{ alert_source.name}}">({{ alert_source.count}})</span> -->
                      <span id="badge-{{ alert_source.name}}">({{ IBMForceTotalCount}})</span>
                    </a>
                    <a *ngIf="alert_source.name === 'alienvault'" id="{{ alert_source.name}}"
                       class="nav-link nav-link-active" data-toggle="tab"
                       (click)="show_hide_div(alert_source.name)"
                       style="font-weight: 600; cursor: pointer;">
                      <!-- {{ alert_source.name === 'virustotal' ? 'VirusTotal' | titlecase}} -->
                      AlienVault
                      <!-- <span id="badge-{{ alert_source.name}}">({{ alert_source.count}})</span> -->
                      <span id="badge-{{ alert_source.name}}">({{ AlientTotalVault}})</span>

                    </a>
                    <a *ngIf="alert_source.name === 'ioc'" id="{{ alert_source.name}}" class="nav-link nav-link-active"
                       data-toggle="tab" (click)="show_hide_div(alert_source.name)"
                       style="font-weight: 600; cursor: pointer;">
                      <!-- {{ alert_source.name === 'virustotal' ? 'VirusTotal' | titlecase}} -->
                      IOC
                      <!-- <span id="badge-{{ alert_source.name}}">({{ alert_source.count}})</span> -->
                      <span id="badge-{{ alert_source.name}}">({{ IOCTotalCount}})</span>
                    </a>
                    <a
                      *ngIf="alert_source.name !== 'ioc' && alert_source.name !=='alienvault' && alert_source.name !=='ibmxforce' && alert_source.name !=='virustotal'"
                      id="{{ alert_source.name}}" class="nav-link nav-link-active" data-toggle="tab"
                      (click)="show_hide_div(alert_source.name)"
                      style="font-weight: 600; cursor: pointer;">
                      {{ alert_source.name | titlecase}}
                      <!-- <span id="badge-{{ alert_source.name}}">({{ alert_source.count}})</span> -->
                      <span id="badge-{{ alert_source.name}}">({{ RuleTotalCount}})</span>
                    </a>
                  </div>

                </li>
              </ul>

            </div>
          </div>
        </div>

        <div class="kt-portlet__body" style="padding: 0px;" *ngFor="let alert_source of alertSource;let i = index">

          <!--begin: Datatable -->
          <div id="div_{{ alert_source.name}}" class="alert_source_div"
               style="display: none;padding: 25px;">
                      <!-- begin:: datepicker -->
                      <div class="row " style="padding-bottom: 2%;">
                        <h4 class="center" style="margin-top: auto;margin-left:10px;margin-bottom: auto;" ><i class="fa fa-filter" ></i> Alerts : </h4>
                        <div  style="display:none" class="col-sm-2">
                          <select value="2" class="form-control" (change)="update_duration(alert_source.name)" id="type_{{alert_source.name}}">
                            <option value="1" >starting</option>
                            <option value="2" selected="selected">ending</option>

                          </select>
                        </div>
                        <div class="col-sm-2">
                          <select  value="3" class="form-control" (change)="update_duration(alert_source.name)" id="duration_{{alert_source.name}}">
                            <option value="2">1 day</option>
                            <option value="3" selected="selected">1 week</option>
                            <option value="4">1 month</option>
                          </select>
                        </div>
                        <div class=" col-sm-4" >
                          <div class="row">
                            <span style="margin-top:auto;margin-bottom:auto;margin-right:10px;" >ending(UTC)</span>

                            <ng-datepicker   [ngModelOptions]="{standalone: true}" [(ngModel)]="datepicker_date[alert_source.name]" (ngModelChange)="myHandler(alert_source.name)" ></ng-datepicker>
                          </div>
                        </div>
                      </div>
       <!-- End:: datepicker -->
            <table id="{{alert_source.name}}_table" *ngIf="all_options" datatable
                   [dtOptions]="all_options[alert_source.name]" [dtTrigger]="dtTrigger[alert_source.name]"
                   class="table table-hover table-checkable" style="text-align: center;">
              <thead>
              <tr>

                <th style="text-align:center">
                  <input type="checkbox" [(ngModel)]="masterSelected[alert_source.name]"
                         name="{{alert_source.name}}_checklist" value="m1"
                         (change)="checkUncheckAll(alert_source.name)"/>

                  <div class="dropdown-btn-1">
                    <div class="dropdown-toggle" data-toggle="dropdown" title="Select" aria-haspopup="true"
                         aria-expanded="false">
                      <div class="dropdown-menu">
                        <a class="dropdown-item" (click)="resolvedAllSelected(alert_source.name)">Resolve Selected</a>
                      </div>
                    </div>
                  </div>
                </th>
                <th>Host</th>
                <th>Severity</th>
                <th>Created At</th>

                <th>
                  <span *ngIf="alert_source.name == 'virustotal'">Intel Data</span>
                  <span *ngIf="alert_source.name == 'alienvault' ">Intel Data</span>
                  <span *ngIf="alert_source.name == 'rule' ">Rule Name</span>
                </th>
                <th>Alerted Entry</th>
                <th>
                  <span *ngIf="alert_source.name == 'rule' ">Aggregated Count</span>
                </th>
                <th>Status</th>
              </tr>
              </thead>
              <tbody *ngIf="alertSourceData">
              <tr *ngFor="let alrowdata of alertSourceData[alert_source.name]; let i = index ">
                <td *ngIf="this.checklist[alert_source.name].length !=0">
                  <input type="checkbox" name="{{alert_source.name}}_checklist"
                         [(ngModel)]="checklist[alert_source.name][i].isSelected"
                         (change)="isAllSelected(alert_source.name)"/>
                </td>
                <td style="vertical-align:middle;">
                  <a [routerLink]="['/hosts', alrowdata.node_id]" class="active" data-skin="dark"
                     data-toggle="kt-tooltip" data-placement="top" title="click -> Host Details"
                     style="color:#5867dd;font-weight: 600;">{{alrowdata.hostname}}</a>
                </td>
                <td style="vertical-align:middle;">
                  <span *ngIf="alrowdata.severity == 'CRITICAL'" class='logo-color menu-icon' style='font-weight: 400;'
                        data-toggle='kt-tooltip' data-placement='top' title='CRITICAL'><img alt=''
                                                                                            src='./assets/media/icons/error.svg'
                                                                                            height="35" width="35"
                                                                                            alt=""/></span>
                  <span *ngIf="alrowdata.severity == 'INFO'" class='logo-color menu-icon' style='font-weight: 400;'
                        data-toggle='kt-tooltip' data-placement='top' title='INFO'><img alt=''
                                                                                        src='./assets/media/icons/info.svg'
                                                                                        height="35" width="35" alt=""/></span>
                  <span *ngIf="alrowdata.severity == 'WARNING'" class='logo-color menu-icon' style='font-weight: 400;'
                        data-toggle='kt-tooltip' data-placement='top' title='WARNING'><img alt=''
                                                                                           src='./assets/media/icons/warning.svg'
                                                                                           height="35" width="35"
                                                                                           alt=""/></span>
                  <span *ngIf="alrowdata.severity == 'LOW'" class='logo-color menu-icon' style='font-weight: 400;'
                        data-toggle='kt-tooltip' data-placement='top' title='LOW'><img alt=''
                                                                                       src='./assets/media/icons/info.svg'
                                                                                       height="35" width="35"
                                                                                       alt=""/></span>

                </td>
                <td style="vertical-align:middle;">
                  {{alrowdata["created_at"] | dateAgo}}
                </td>

                <td style="vertical-align:middle;">
                  <a *ngIf="alert_source.name == 'rule' ;" [routerLink]="['/rules/',alrowdata.rule?.id,'edit']" class="active"  data-skin="dark" data-toggle="kt-tooltip" data-placement="top" title="click -> Rule Details" style='font-weight: 600;color: #5867dd;'><code>{{alrowdata.rule?.name}}</code></a>
                  <span *ngIf="alert_source.name == 'virustotal'" class='logo-color menu-icon' style='font-weight: 600;cursor: pointer;color: #5867dd;' data-toggle='modal' data-target="#myModal" (click)="showdata(alrowdata.intel_data, 'intel_data')" data-placement='top' title='View VirusTotal Data'><img alt='' src='./assets/media/viewfile.svg'  height="25px" width="25px" alt="" /></span>
                  <span *ngIf=" alert_source.name == 'alienvault'"  class='logo-color menu-icon' style='font-weight: 600;cursor: pointer;color: #5867dd;' data-toggle='modal' data-target="#myModal" (click)="showdata(alrowdata.intel_data, 'intel_data')" data-placement='top' title='View AlienVault OTX Data'><img alt='' src='./assets/media/viewfile.svg'  height="25px" width="25px" alt="" /></span>
                </td>
                <td style="vertical-align:middle;">
                  <span class='logo-color menu-icon' style='font-weight: 400; cursor: pointer;' data-toggle='modal'
                        data-target="#myModal" data-placement='top'
                        (click)="showdata(alrowdata.alerted_entry, 'alert_entry')" title='View Alerted Entry'><img
                    alt='' src='./assets/media/viewfile.svg' height="25px" width="25px" alt=""/></span>
                </td>
                <td style="vertical-align:middle;">
                  <a *ngIf="alert_source.name == 'rule' " data-toggle="modal" href="#Agg_alerts" (click)="get_alerts_aggregated_data(alrowdata.id)">{{alrowdata.aggregated_events_count}}</a>
                </td>
                <td style="vertical-align:middle;">
                  <button  class="btn btn-outline-secondary btn-sm" style="color:#5867dd" (click)="resolveAlert(alrowdata.id,alert_source.name)"> RESOLVE
                  </button>
                </td>
              </tr>
              </tbody>
            </table>

            <div *ngIf="this.errorMessage[alert_source.name] !=''" class="text-center">
              <span style=" text-align: center;font-size: larger;font-weight: 600;">
              {{errorMessage[alert_source.name]}}
            </span>
            </div>
          </div>

          <!--end: Datatable -->
        </div>
        <div class="no_data" style="display: none; padding-left: 20px;margin-top: 15px;">
        </div>
           <!--Begin:: Modal-->
        <div class="modal fade" id="Agg_alerts" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" style="max-width:100%;">
          <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h3 class="kt-portlet__head-title" style="font-size: 15px">
                  Other Alerts in the aggregated cluster
                </h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="close_data()" data-skin="dark" data-toggle="kt-tooltip" data-placement="top" title="Close"></button>
              </div>
                <div class="modal-body">
                  <div class="card-body query_tab">
                        <div  class="tab-content">
                            <div class="" >
                                    <ul  class="nav nav-pills nav-fill nav-background nav-wd" role="tablist" *ngIf="aggregate_tab.length <= 1">
                                      <li *ngFor="let aggregated_data_values of aggregated_data | keyvalue;" class="nav-item">
                                        <a class="nav-link" data-toggle="tab" (click)="alerts_aggregated_data(aggregated_data_values.key)"[ngClass]="{'active': alert_selectedItem == aggregated_data_values.key}" style="cursor: pointer;">{{ aggregated_data_values.key}}</a>
                                      </li>
                                    </ul>
                                    <ul  class="nav nav-pills nav-fill nav-background" role="tablist" *ngIf="aggregate_tab.length > 1">
                                      <li *ngFor="let aggregated_data_values of aggregated_data | keyvalue;" class="nav-item">
                                        <a class="nav-link" data-toggle="tab" (click)="alerts_aggregated_data(aggregated_data_values.key)"[ngClass]="{'active': alert_selectedItem == aggregated_data_values.key}" style="cursor: pointer;">{{ aggregated_data_values.key}}</a>
                                      </li>
                                    </ul>
                                      <div id="alerts_aggretated_table">
                                      </div>
                            </div>
                        </div>
                  </div>
                </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" (click)="close_data()" data-dismiss="modal">Close</button>

              </div>
            </div>
          </div>
        </div>
         <!--End:: Modal-->

      </div>
    </div>
  </div>
</div>
