/* .paragraph-align {
  color: #464457;
  font-weight: 600;
}
.rule-actions {
  margin-top: 4px;
  margin-right: 4px;
}
.form-group {
  margin-bottom: 1rem !important;
}
.link-color {
  color: #518c24;
}
.link-color:hover {
  color: #55595c;
}

.rules-group-container {
  padding: 10px;
  padding-bottom: 6px;
  background: rgba(252, 252, 252);
  position: relative;
  margin: 4px 0;
  border-radius: 5px;
  border: 1px solid #EEE;
}
.textarea { width: 100%; height: 250px; }
.kt-portlet .kt-portlet__head .kt-portlet__head-label .kt-portlet__head-title {
 margin: 0;
 padding: 0;
 font-size: 1.1rem;
 font-weight: 600;
 color:  #464457;
}
h2{
  color: #646c9a;
  /* font-size: 1rem; */
 /* font-weight: 400;
  font-size: 1.75rem;
line-height: 1.2;
} */


.paragraph-align {
  color: #464457;
  font-weight: 600;
}
.rule-actions {
  margin-top: 4px;
  margin-right: 4px;
}
.form-group {
  margin-bottom: 1rem !important;
}
.link-color {
  color: #518c24;
}
.link-color:hover {
  color: #55595c;
}
.kt-section .kt-section__title.kt-section__title-lg {
  font-size: 1rem;
}
td.highlight {
  background-color: whitesmoke !important;
}

:host ::ng-deep .btn.btn-secondary.buttons-csv.buttons-html5.btn-outline-success.btn-sm:active,
:host ::ng-deep  .btn.btn-secondary.buttons-csv.buttons-html5.btn-outline-success.btn-sm:hover{
  background-color: #518c24f2 !important;
  border-color: #518c24f2 !important;
}
.kt-condition-fnt{
    padding: 10px;
    background: rgba(252, 252, 252);
    padding-bottom: 6px;
    border: 1px solid #EEE;
    border-radius: 5px;
}
.hideChildren>div{
  display: none;
  }
  .cell-breakWord {
    word-wrap: break-word;
    max-width: 1px;
    padding:8px 24px;
    }

  .nav-tab_align {
    text-align: right !important;
    word-break: break-all;

}
.kt-badge.kt-badge--inline {
  height: 0;
  width: auto;
}

table.dataTable thead th, table.dataTable thead td {
  padding: 10px;
   border-bottom: 1px solid #ebedf2;

}
::ng-deep .table.dataTable.no-footer  {
  border-bottom: 1px solid #ebedf2;
}

.dataTables_wrapper .dataTable th {
  color: #595d6e;
}

.container {
  font-size: 16px;
  line-height: 16px;
  height: 32px;
  overflow: hidden;
}
.show_1{
  overflow: visible_1;
  height: auto;
}