<div class="kt-grid kt-grid--hor kt-grid--root">
    <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--ver kt-page">
      <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor kt-wrapper" id="kt_wrapper">
        <!--begin::Portlet-->
        <div class="kt-portlet kt-portlet--last kt-portlet--responsive-mobile" id="kt_page_portlet">
          <div class="kt-portlet__head kt-portlet__head--lg">
            <div class="kt-portlet__head-label">
              <span class="kt-portlet__head-icon">
                <i class="kt-font-brand fa fa-server"></i>
              </span>
              <h3 class="kt-portlet__head-title" style="font-weight:500">
                IOC Monitoring
              </h3>
            </div>
            <div class="kt-portlet__head-toolbar">
              <div class="kt-portlet__head-wrapper">
                <div class="">
                  <a href="javascript:void(0);" (click)="goBack()" class="btn btn-clean btn-sm" data-skin="dark" data-toggle="kt-tooltip" data-placement="top" title="Back to Previous Page">
                    <i class="fas fa-chevron-left"></i>
                    Back
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="kt-portlet__body">
            <div class="kt-form" id="kt_form">
              <div class="row">
                <!-- <div class="col-xl-1"></div> -->
                <div class="col-xl-12">
                  <div class="kt-section kt-section--first">
                    <div class="kt-section__body">
                      <div class="paragraph-align">
                        <p class="section_title">{{ProjectName}} Endpoint Security Platform supports three types of user provided<span style="font-size:1.5rem;font-style: italic;"> Indicators of Compromise</span> :</p>
                        <div class="row" style="font-weight: 500;">
                          <span class="col-md-3">1) IPv4 address</span>
                          <span class="col-md-3">2) Domain name</span>
                          <span class="col-md-3">3) MD5</span>
                        </div>
                        <br>
                        <p style="font-weight: 500;">The Indicators of Compromise (IOC) provided are compared to the endpoint data as it arrives on the
                          server. The indicator values need to be provided as a JSON array under their respective category.
                          Any
                          matches will generate an alert. IOC matches can lead to performance cost on the server depending on
                          the
                          number of entries. It is recommended to use this feature for monitoring a targeted list of
                          indicators
                          and do not exceed a count of 5000 per indicator type at one time.</p>
                      </div>
                      <!-- <div>

                      </div> -->
                    </div>

                  <!-- <div class="form-group" style="display:none"></div> -->

                  <!-- <div class="kt-portlet__body" id=" "> -->
                    <div>
                      <json-editor [options]="options" [data]="data"></json-editor>
                    </div>
                  </div>
                    <!-- <input type = "hidden" name="json_file" formControlName="json_file" [(ngModel)]="uploaded_data" id="txt_name" value="{{uploaded_data | json}}"> -->
                    <!-- <input type = "hidden" name="json_file" formControlName="json_file" [(ngModel)]="uploaded_data" id="txt_name" value="{{uploaded_data | json}}"> -->
                    <div class="kt-portlet__foot">
                      <div class="kt-form__actions kt-form__actions--center">
                        <button type="submit" (click)="onSubmit()" class="btn btn-success" click="message_upload(uploaded_data | json);">
                          <span>Upload Intel</span>
                          <i class="fa fa-level-up-alt"></i>
                        </button>
                        <button type="reset" (click)="goBack()" style="margin-left:5px;" class="btn btn-secondary">Cancel</button>
                      </div>
                    </div>
                  <!-- </div> -->
                </div>
                <div class="col-xl-1"></div>
              </div>
            </div>
          </div>
        </div>
        <!--end::Portlet-->
      </div>
    </div>
  </div>
