
/* @import url("../../../css/pack.css");
@import url("../../../public/css/common.css"); */
.btn-success.active{
   color: #fff !important;
   background-color: #518c24 !important;
   border-color: #518c24 !important;
 }

.active {
   background-color: #f7f8fa;
   }
   .no-mar-botom {
   margin-bottom: 0px;
   }
   .style-accordion-background {
   height: 50px;
   padding: 15px;
   cursor: pointer;
   background-image: linear-gradient(to right, #b8bccc , #ffffff)!important;
   color: #282829;
   font-size: 15px;
   font-family: monospace;
   }
   .portlet-body_align {
   height: 705px;
   margin-bottom:0px;
   border: 15px solid #ebedf2;
   padding: 10px;
   }
   .portlet-body_align__table {
   margin-bottom:0px;
   border: 15px solid #ebedf2;
   }
   .desc-background_packs {
   font-size: 100%;
   color: #e83e8c;
   word-break: break-word;
   font-family: SFMono-Regular,Mekt-notification__item-details txt-fmlynlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
   }
   .head-table {
   font-weight: 600 !important;
   }
   .txt-fmly{
   font-family: Poppins;
   font-size: 1rem;
   font-weight: 400;
   }
   table {
   border-top-width: 1px;
   border-right-width: 1px;
   border-bottom-width: 1px;
   border-left-width: 1px;
   -webkit-border-horizontal-spacing: 10px;
   -webkit-border-vertical-spacing: 10px;
   border-collapse: collapse;
   white-space: normal;
   line-height: normal;
   font-weight: normal;
   font-size: medium;
   font-style: normal;
   color: -internal-quirk-inherit;
   text-align: start;
   font-variant: normal;
   display: table;
   border-color: grey;
   }
   .kt-portlet .kt-portlet__head .kt-portlet__head-label .kt-portlet__head-title {
      margin: 0;
      padding: 0;
      font-size: 1.1rem;
      font-weight: 600;
      color:  #464457;
   } 
   