
/* @import url("../../../css/pack.css");
@import url("../../../public/css/common.css"); */
@import "~node_modules/placeholder-loading/src/scss/placeholder-loading.scss";
$ph-bg:                   #fff !default;
$ph-color:                #ced4da !default;
$ph-border-radius:        2px !default;

$ph-gutter:               30px !default;
$ph-spacer:               15px !default;

$ph-avatar-border-radius: 50% !default;

$ph-animation-duration:   .8s !default;
.active {
    background-color: #f7f8fa;
    }
    .no-mar-botom {
    margin-bottom: 0px;
    }
    .style-accordion-background {
    height: 50px;
    padding: 15px;
    cursor: pointer;
    background-image: linear-gradient(to right, #b8bccc , #ffffff)!important;
    color: #282829;
    font-size: 15px;
    // font-family: monospace;
    }
    .portlet-body_align {
    height: 705px;
    margin-bottom:0px;
    border: 15px solid #ebedf2;
    padding: 10px;
    }
    .portlet-body_align__table {
    margin-bottom:0px;
    border: 15px solid #ebedf2;
    }
    .desc-background_packs {
    font-size: 100%;
    color: #e83e8c;
    word-break: break-word;
    // font-family: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
    }
    .head-table {
    font-weight: 600 !important;
    }
    .txt-fmly{
    // font-family: Poppins;
    font-size: 1rem;
    font-weight: 400;
    }
    table {
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    -webkit-border-horizontal-spacing: 10px;
    -webkit-border-vertical-spacing: 10px;
    border-collapse: collapse;
    white-space: normal;
    line-height: normal;
    font-weight: normal;
    font-size: medium;
    font-style: normal;
    color: -internal-quirk-inherit;
    text-align: start;
    font-variant: normal;
    display: table;
    border-color: grey;
    }
    .kt-portlet .kt-portlet__head .kt-portlet__head-label .kt-portlet__head-title {
       margin: 0;
       padding: 0;
       font-size: 1.2rem;
       font-weight: 500;
       color:  #464457;
    }
    .label_pack {
     display: inline;
     padding: .2em .6em .3em;
         padding-top: 0.2em;
         padding-right: 0.6em;
         padding-bottom: 0.3em;
         padding-left: 0.6em;
     font-size: 12px;
     font-weight: 700;
     line-height: 2.5;
     color: #fff;
     text-align: center;
     // white-space: nowrap;
     vertical-align: baseline;
     border-radius: .25em;
     word-break: break-word;
 }
 a:hover {
     color: #2739c1;

 }

    @import "~node_modules/ngx-chips/core/styles/core/_core.scss";
 $foundation-primary: #52B2A8;
 $foundation-primary-dark: darken($foundation-primary, 10%);
 $font-family: "Poppins", sans-serif !important;

 // this is the container's theme
 $foundation-theme: (
     font-family: $font-family,
     container-border-bottom: 1px solid $foundation-primary
 );

 // this is the tag's theme
 $foundation-tag-theme: (
     font-family: $font-family,
     background: $foundation-primary,
     background-focused: $foundation-primary-dark,
     background-active: $foundation-primary-dark,
     background-hover: $foundation-primary-dark,
     color: #fff,
     color-hover: #fff,
     border-radius: 3px,
     height: 25px,
     line-height: 23px,
     font-size: 12px,
    font-weight: 700
 );

 // this is the delete icon's theme
 $foundation-icon-theme: (
     fill: #fff,
     fill-focus: #eee,
     transition: all 0.35s,

 );

 // apply theme to the container
 ::ng-deep tag-input .ng2-tag-input.foundation-theme {

     @include tag-input-theme($foundation-theme);

 }

 // apply theme to the tags
 ::ng-deep tag-input .ng2-tag-input.foundation-theme tag {
     @include tag-theme($foundation-tag-theme);
 }

 // apply theme to the delete icon
 ::ng-deep tag-input .ng2-tag-input.foundation-theme tag delete-icon {
     @include icon-theme($foundation-icon-theme);
 }
 ::ng-deep tag-input .ng2-tag-input.foundation-theme tag delete-icon svg {
    height: 25px;
}

::ng-deep tag-input .ng2-tag-input.foundation-theme{
    border-bottom: 2px solid  #fff;
}
.list-group:hover{
    color: #184ba1;
}
.kt-section__body{
    font-size: 13px;
    color: #646c9a;
 }
