
.query-editor {
  border-bottom: 4px solid #929296;
  padding-bottom:11px;
  min-height: 0;
}
.query-editor__flex-editor {
  flex-basis: calc((25vh));
}
.form-actions {
  margin-top: 10px;
}
.dataTables_filter {
  width: 200px;
  float: right;
}
.datatable__search input {
  margin-left: .5em;
  display: inline-block;
  width: auto;
}

.datatable__search label {
    float: right;
    margin-top: 0px;
}
.tag-class{
  width: 170px;
  margin: 2px;
  border: 1px solid rgb(75, 75, 75);
}
p {
  font-family: Lato;
}
.kt-portlet .kt-portlet__head .kt-portlet__head-label .kt-portlet__head-title {
   margin: 0;
   padding: 0;
   font-size: 1.2rem;
   font-weight: 500;
   color:  #464457;
}
.exportExcel{
  padding: 5px;
  border: 1px solid grey;
  margin: 5px;
  cursor: pointer;
}
.btn-clr:hover{
  background-color: #518c24f2;
}
.type-qry{
  font-size: 13px;
  color: #646c9a;
}
.ace_editor, .ace_editor div{
    font-family:monospace
}
table { 
  border-collapse: collapse; 
  width: 100%; 
} 

th, td { 
  text-align: left; 
  padding: 7px; 

} 
.col_font_size{
  font-size: 11px;
  word-break: break-all;
}

tr:nth-child(even) { 
  background-color: #f5f5f5;; 
}

