<div class="kt-grid kt-grid--hor kt-grid--root">
    <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--ver kt-page">
      <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor kt-wrapper" id="kt_wrapper">
<!--Begin:: Modal-->
      <div class="modal left fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
      aria-hidden="true" style="display: none; position: fixed; background-color: hsla(0, 0%, 0%, 0.45)">
       <div class="modal-dialog modal-lg" role="document">
         <div class="modal-content">
            <div class="modal-header">
                <span  id="stitle">Alerted Entry</span>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body kt-scroll" data-scroll="false" data-height="200" data-scrollbar-shown="true">
         <!--begin:: Widgets/Tasks -->
            <form class="kt-form" id="kt_form">
              <div class="row">
                <div class="col-xl-12">
                    <div class="kt-section kt-section--first">
                      <div class="kt-section__body">
                        <div class="" *ngIf="toggle">
                          <json-editor class="col-md-12" style="min-height: 300px;" [options]="editorOptions"
                                        [data]="alerted_data_json"></json-editor>
                        </div>
                      </div>

                    </div>
              </div>
              <div class="col-xl-2"></div>
            </div>
            </form>
         <!--end:: Widgets/Tasks -->
          </div>
          <div class="modal-footer align-center">
            <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
          </div>
         </div>
       </div>
     </div>
 <!--End:: Modal-->
        <!-- begin:: Portlet/Tag -->
        <div class="kt-portlet kt-portlet--mobile kt-portlet--responsive-mobile" style="margin-bottom:0px;">
          <div class="kt-portlet__head kt-portlet__head--lg">
                <div class="kt-portlet__head-label">
                  <span class="kt-portlet__head-icon">
                   <i class="kt-font-brand fas fa-exclamation-triangle"></i>
                  </span>
                  <h3 class="kt-portlet__head-title">
                    Alerts - {{rule_name}}
                  </h3>
                </div>
                <div class="kt-portlet__head-toolbar">
                  <div class="kt-portlet__head-wrapper">
                    <a href="javascript:void(0);" (click)="goBack()" class="btn btn-clean btn-sm" data-skin="dark"
                      data-toggle="kt-tooltip" data-placement="top" title="Back to Previous Page">
                      <i class="fas fa-chevron-left back_icon_align"></i>
                      Back
                    </a>
                  </div>
                </div>        
          </div>
          <div class="kt-portlet__body">
            <div class="" style="margin-bottom: 60px;" >
              <!--begin: Datatable -->
                  <button type="button" (click)="get_csv_data(id)" class="btn btn-secondary export_button">Export</button>
              <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-hover table-checkable" style="text-align: center;" >
                <thead>
                  <tr>
                    <th  style="text-align:center">
                      <input type="checkbox" [(ngModel)]="masterSelected" name="list_name" value="m1" (change)="checkUncheckAll()"/>        
                      <div class="dropdown-btn-1" style="width: 60px; text-align:right;">
                        <div class="dropdown-toggle" data-toggle="dropdown" title="Select" aria-haspopup="true" aria-expanded="false">
                          <div class="dropdown-menu" >
                            <a class="dropdown-item" (click)="resolvedAllSelected()">Resolve Selected</a>
                          </div>
                        </div>
                      </div>
                    </th>
                    <th>Host</th>
                    <th>Severity</th>
                    <th>Created At</th>
                    <th>Rulename</th>
                    <th>Alerted Entry</th>
                    <th>Aggregated Count</th>
                    <th>Status</th>
                  </tr>
                </thead>
                <tbody >
                    <tr *ngFor="let alrowdata of alert_data; let i = index ">
                      <td >
                        <input type="checkbox"  name="list_name" [(ngModel)]="checklist[i].isSelected" (change)="isAllSelected()"/>
                      </td>
                        <td style="vertical-align:middle;">
                          <a [routerLink]="['/hosts/', alrowdata.node_id]" class="active" data-skin="dark" data-toggle="kt-tooltip" data-placement="top" title="click -> Host Details" style="color:#5867dd;font-weight: 600;">{{alrowdata.hostname}}</a>
                        </td>
                        <td style="vertical-align:middle;">
                          <span *ngIf="alrowdata.severity == 'CRITICAL'" class='logo-color menu-icon' style='font-weight: 400;' data-toggle='kt-tooltip' data-placement='top' title='CRITICAL'><img alt='' src='./assets/media/icons/error-hover.gif'  height="35" width="35" alt="" /></span>
                          <span *ngIf="alrowdata.severity == 'INFO'" class='logo-color menu-icon' style='font-weight: 400;' data-toggle='kt-tooltip' data-placement='top' title='INFO'><img alt='' src='./assets/media/icons/info.svg'  height="35" width="35" alt="" /></span>
                          <span *ngIf="alrowdata.severity == 'WARNING'" class='logo-color menu-icon' style='font-weight: 400;' data-toggle='kt-tooltip' data-placement='top' title='WARNING'><img alt='' src='./assets/media/icons/warning.svg'  height="35" width="35" alt="" /></span>
                          <span *ngIf="alrowdata.severity == 'LOW'" class='logo-color menu-icon' style='font-weight: 400;' data-toggle='kt-tooltip' data-placement='top' title='LOW'><img alt='' src='./assets/media/icons/info.svg'  height="35" width="35" alt="" /></span>
                        
                        </td>
                        <td style="vertical-align:middle;">
                          {{alrowdata["created_at"] | dateAgo}}
                        </td>
                      
                        <td style="vertical-align:middle;">
                          <a  [routerLink]="['/rules/',alrowdata.rule?.id,'edit']" class="active"  data-skin="dark" data-toggle="kt-tooltip" data-placement="top" title="click -> Rule Details" style='font-weight: 600;color: #5867dd;'><code>{{alrowdata.rule.name}}</code></a>
                        </td> 
                        <td style="vertical-align:middle;">
                          <span class='logo-color menu-icon' style='font-weight: 400; cursor: pointer;' data-toggle='modal' data-target="#myModal" data-placement='top' (click)="showdata(alrowdata.alerted_entry, 'alert_entry')" title='View Alerted Entry'><img alt='' src='./assets/media/viewfile.svg'  height="25px" width="25px" alt="" /></span>
                        </td>
                        <td>
                          <a  data-toggle="modal" href="#Agg_alerts" (click)="get_alerts_aggregated_data(alrowdata.id)">{{alrowdata.aggregated_events_count}}</a>
                        </td>
                        <td style="vertical-align:middle;">      
                          <button class="btn btn-outline-secondary btn-sm" style="color:#5867dd"  (click) ="resolveAlert(alrowdata.id)"> RESOLVE </button>
                        </td>                    
                      </tr>  
                </tbody>           
              </table>
              <div *ngIf="alert_data == undefined" >
                <span style=" text-align: center; padding-left: 450px;font-size: larger;font-weight: 600;">
                 {{this.errorMessage}}
                </span>
              </div>
         <!--Begin:: Modal-->
        <div class="modal fade" id="Agg_alerts" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" style="max-width:100%;">
          <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h3 class="kt-portlet__head-title" style="font-size: 15px">
                  Other Alerts in the aggregated cluster
                </h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="close_data()" data-skin="dark" data-toggle="kt-tooltip" data-placement="top" title="Close"></button>
              </div>
                <div class="modal-body">
                  <div class="card-body query_tab">
                        <div  class="tab-content">
                            <div class="" >
                                    <ul  class="nav nav-pills nav-fill nav-background" role="tablist">
                                      <li *ngFor="let aggregated_data_values of aggregated_data | keyvalue;" class="nav-item">
                                        <a class="nav-link" data-toggle="tab" (click)="alerts_aggregated_data(aggregated_data_values.key)"[ngClass]="{'active': alert_selectedItem == aggregated_data_values.key}" style="cursor: pointer;">{{ aggregated_data_values.key}}</a>
                                      </li>
                                    </ul>
                                      <div id="alerts_aggretated_table">
                                      </div>
                            </div>
                        </div>
                  </div>
                </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" (click)="close_data()" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
         <!--End:: Modal-->

              <!--end: Datatable -->
            </div>
          </div>
        </div>
        <!-- end:: Portlet/Tag -->
      </div>
    </div>
  </div>
  