{% extends "layout.html" %}
{% block page_title %}
PolyLogyx - Pack
{% endblock %}

{% block content %}
<link href="/static/css/pack.css" rel="stylesheet" type="text/css">
<style type="text/css">
  .active {
    background-color: #f7f8fa;
  }
  .no-mar-botom {
    margin-bottom: 0px;
  }
  .style-accordion-background {
    height: 50px;
    padding: 15px;
    cursor: pointer;
    background-image: linear-gradient(to right, #b8bccc , #ffffff)!important;
    color: #282829;
    font-size: 15px;
    font-family: monospace;
  }
  .portlet-body_align {
    height: 680px;
    margin-bottom:0px;
    border: 15px solid #ebedf2;
    padding: 10px;
  }
  .portlet-body_align__table {
    margin-bottom:0px;
    border: 15px solid #ebedf2;
  }
  .desc-background_packs {
    font-size: 100%;
    color: #e83e8c;
    word-break: break-word;
    font-family: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
  }
  .head-table {
    font-weight: 600 !important;
  }
</style>
<!-- begin:: Content -->
<div class="kt-content kt-grid__item kt-grid__item--fluid">
  <div class="kt-portlet kt-portlet--mobile kt-portlet--responsive-mobile no-mar-botom">
    <div class="kt-portlet__head">
      <div class="kt-portlet__head-label">
        <span class="kt-portlet__head-icon">
          <i class="kt-font-brand fa fa-sliders-h"></i>
        </span>
        <h3 class="kt-portlet__head-title">
           Packs
        </h3>
      </div>
      <div class="kt-portlet__head-toolbar">
        <div class="kt-portlet__head-wrapper">
          <div class="">
            <button type="button" class="btn btn-outline-success btn-sm" data-toggle="modal" data-target="#add_pack" aria-haspopup="true" aria-expanded="false">
              <i class="fa fa-plus-square"></i>
              Add Pack
            </button>
            <!--Begin:: Modal-->
            <div class="modal fade" id="add_pack" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" style="display: none; position: fixed; background-color: hsla(0, 0%, 0%, 0.45)">
              <form class="kt-form" id="kt_form" method="POST" enctype="multipart/form-data">
                {{ form.csrf_token() }}
              <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h3 class="">Add New Pack File</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <!--begin:: Widgets/Tasks -->

                      <div class="row">
                        <div class="col-xl-2"></div>
                        <div class="col-xl-8">
                          <div class="kt-section kt-section--first">
                            <div class="kt-section__body">
                              <p>Learn how to format your query packs
                                <a target="_blank" href="https://osquery.readthedocs.org/en/stable/deployment/configuration/#query-packs" style="font-weight:500">here</a>.
                              </p>
                              <br>
                              <div class="form-group row">
                                <label class="col-3 col-form-label">Select a Category</label>
                                <div class="col-9">

                                     {{ form.category(placeholder="Select a Category", class_="kt-selectpicker form-control") }}
                                </div>
                              </div>
                              <div class="form-group row">
                                <label class="col-3 col-form-label">Upload File</label>
                                <div class="custom-file col-9">
                                {{ form.pack(id ="customFile" ,class_="form-control custom-file-input") }}
                                  {{ form.pack.label(for="customFile",class_="custom-file-label") }}
                                </div>
                              </div>
                            </div>
                          </div>
                          <!-- <div class="kt-separator kt-separator--border-dashed kt-separator--space-lg"></div> -->
                        </div>
                        <div class="col-xl-2"></div>
                      </div>

                    <!--end:: Widgets/Tasks -->
                  </div>
                  <div class="modal-footer align-center">
                    <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-success">Upload</button>
                  </div>
                </div>
              </div>
              </form>
            </div>
            <!--End:: Modal-->
          </div>
        </div>
      </div>
    </div>
    <div class="kt-portlet__body">

      <!--Begin:: Content -->
      <div class="row">
        <div class="col-md-4">
        <!--begin::Portlet-->
        <div class="kt-portlet no-mar-botom portlet-body_align">
          <div class="kt-portlet__body" style="padding: 0px;">
            <!--begin: Search Table -->
            <div class="">
              <div class="kt-input-icon kt-input-icon--left" style="margin-bottom: 10px;">
                <input type="text" class="form-control" placeholder="Search Packs here..." id="search_pack_name">
                <span class="kt-input-icon__icon kt-input-icon__icon--left">
                  <span><i class="la la-search"></i></span>
                </span>
              </div>
            </div>
            <!--end: Search Table -->
            <div class="" style="height: 575px; overflow-x: scroll;margin-bottom:25px;">
              {% for grouper, results in packs | groupby('category') %}
                <div class="">
                  <h3>{{grouper}}</h3>
                  <!--begin::Notifications-->
                    {% for pack in results | sort (attribute='name') %}
                    <div class="kt-notification conf-div" id="search_query-name-list" style="cursor:pointer;" data-skin="dark" data-toggle="kt-tooltip" data-placement="top" title="{{pack.name}}">
                      <a data-target="{{pack.name}}" class="kt-notification__item conf-link">
                        <!-- <div class="kt-notification__item-icon">
                          <i class="fa conf-icon {{pack.pack_icon()}}"></i>
                        </div> -->
                        <div class="kt-notification__item-details">
                          <div class="kt-notification__item-title">
                            {{ pack.name }}
                          </div>
                        </div>
                      </a>
                    </div>
                    {% endfor %}
                  <!--End::Notifications-->
                </div>
              {% endfor %}
            </div>

          </div>
        </div>
        <!--end::Portlet-->
        </div>
        <!-- <div class="kt-separator"></div> -->

        <div class="col-md-8 right-content-conf">
          <!--begin::Portlet-->
          {% if packs %}
          {% for pack in packs | sort (attribute='name') %}
          <div class="right-conf kt-portlet no-mar-botom portlet-body_align__table" id="{{pack.name}}">
            <div class="kt-portlet__head">
              <div class="kt-portlet__head-label">
                <span class="kt-portlet__head-icon">

                </span>
                <h3 class="kt-portlet__head-title">
                  {{pack.name}}
                </h3>
              </div>
            </div>
            <div class="kt-portlet__body" style="padding:10px;">
              <input class="bootstrap-tagsinput" placeholder="Add tags here..." value="{{ pack.tags | map(attribute='value') | sort | join(',') }}" data-uri="{{ url_for('manage.tag_pack', pack_name=pack.name) }}">
            </div>
            <div class="kt-portlet__body" style="height: 528px; overflow-x:scroll; padding:1.25rem; margin-bottom:20px;">
              <div class="accordion accordion-solid" id="accordion-{{pack.id}}">
                {% for query in pack.queries | sort(attribute='name') %}
                {% include "_pack_query.html" %}
                {% endfor %}
              </div>
            </div>
          </div>
          {% endfor %}
          {% endif %}
          <!--end::Portlet-->
        </div>
      </div>
      <!--Begin:: Content -->
    </div>

  </div>
</div>
<!-- end:: Content -->

<style>

  .right-content-conf {
    border-left: 0px dotted lightgray;
  }
</style>

<script type="text/javascript">
  $(document).ready(function() {
    $(".right-conf").first().addClass('show');
    (function() {
      var showChar = 200;
      var ellipsestext = "...";

      $(".truncate_packs").each(function() {
        var content = $(this).html();
        if (content.length > showChar) {
          var c = content.substr(0, showChar);
          var h = content;
          var html = '<div class="truncate-text" style="display:block">' + c + '<span class="moreellipses">' + ellipsestext + '&nbsp;<a href="" class="moreless more">Read more</a></span></span></div><div class="truncate-text" style="display:none">' + h + '<a href="" class="moreless less">&nbsp;Read less</a></span></div>';
          $(this).html(html);
        }
      });

      $(".moreless").click(function() {
        var thisEl = $(this);
        var cT = thisEl.closest(".truncate-text");
        var tX = ".truncate-text";

        if (thisEl.hasClass("less")) {
          cT.prev(tX).toggle();
          cT.slideToggle();
        } else {
          cT.toggle();
          cT.next(tX).fadeToggle();
        }
        return false;
      });
    })();
  });
  $('.conf-link').on('click', function() {
    $('.conf-div').removeClass('active');
    $(this).parent().addClass('active');

    var div_id = "#" + $(this).data('target');
    $('.right-conf').removeClass('show');
    $(div_id).addClass('show');


  });

  $( ".conf-div" ).first().addClass('active');

  var input = document.getElementById( 'customFile' );
  input.addEventListener( 'change', showFileName );

  function showFileName( event ) {
    // the change event gives us the input it occurred in
    var input = event.srcElement;
    // the input has an array of files in the `files` property, each one has a name that you can use. We're just using the name here.
    var fileName = input.files[0].name;

    // use fileName however fits your app best, i.e. add it into a div
      $("label[for='customFile']").text(fileName)

  }
</script>
<script type="text/javascript">
  $(".query_edit").click(function(e){
    e.stopPropagation();
  });

</script>
<script>
$(document).ready(function(){
  $("#search_pack_name").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#search_query-name-list *").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});
</script>

{% endblock %}
