{% extends "layout.html" %}
{% block page_title %}
PolyLogyx - Readme
{% endblock %}

{% block content %}
<style type="text/css">
 pre {
  background-color:#cccccc26;
  color: crimson;
  /* overflow-y: scroll; */
  }
  .table {
    color: darkblue;
  }
  .head-color h1,h2,h3,h4 {
    color: #518c24;
  }
  .head_link {
    color: #518c24;
  }
  .head-color ul,i {
    color: grey;
  }
  .read-color{
    background-color:#fff;
    color:#24292e;
    font-size: 14px;
    font-family: Arial;
  }
  .modal-link {
    padding: 0 0.35rem 0 0;
    font-size: 1rem;
    font-weight: 600;
    color: #808080;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  /* .modal-link:hover {
    color: #184ba1; //blue
  } */
  .modal-link:hover {
    color: #518c24; //Green
  }
  .modal-link:hover:after {
    border-bottom: 1px solid #518c24; //green
    opacity: .3;
  }
  .divider_foot {
    padding: 0 0 0 0.8rem;
    border-left: 1px solid #808080;
  }
  .kt-separator.kt-separator--border-dashed {
    border-bottom: 1px dashed #8282829e;
    margin: 1.5rem 0;
  }
  .modal {
    -webkit-animation-name: fadeIn;
    -webkit-animation-duration: 0.4s;
    animation-name: fadeIn;
    animation-duration: 0.4s
  }
  .modal-content {
    -webkit-animation-name: slideIn;
    -webkit-animation-duration: 0.4s;
    animation-name: slideIn;
    animation-duration: 0.4s
  }

  /* Add Animation */
  @-webkit-keyframes slideIn {
    from {bottom: -300px; opacity: 0}
    to {bottom: 0; opacity: 1}
  }

  @keyframes slideIn {
    from {bottom: -300px; opacity: 0}
    to {bottom: 0; opacity: 1}
  }

  @-webkit-keyframes fadeIn {
    from {opacity: 0}
    to {opacity: 1}
  }

  @keyframes fadeIn {
    from {opacity: 0}
    to {opacity: 1}
  }
</style>

<!-- begin:: Content -->
<div class="kt-content kt-grid__item kt-grid__item--fluid" id="kt_content" style="background-color:white">
  <div class="row">
    <div class="col-lg-12">
    <!--begin::Portlet-->
      <div class="kt-portlet kt-portlet--responsive-mobile" style="margin-bottom: 0px;">
        <div class="kt-portlet__head">
          <div class="kt-portlet__head-label">
            <span class="kt-portlet__head-icon">
              <i class="kt-font-brand fa fa-book-open"></i>
            </span>
            <h3 class="kt-portlet__head-title">Readme</h3>
          </div>
        </div>
        <div class="kt-portlet__body read-color">
          <form class="kt-form" id="kt_form">
            <div class="row">
            <!-- <div class="col-xl-1"></div> -->
              <div class="col-lg-12">
                <div class="kt-section">
                  <div class="kt-section__body read_align">
                  <!-- Begin:: readme -->
                    <div id="readme" class="head-color">
                      <h2><a class="head_link" href="https://github.com/polylogyx/plgx-esp" target="_blank">PolyLogyx Endpoint Security Platform (ESP)</a> - Community Edition</h2>
                      <p id="top">Welcome to<a href="https://github.com/polylogyx/plgx-esp" target="_blank"> PolyLogyx Endpoint Security Platform (ESP)</a>. PolyLogyx ESP provides deep visibility into endpoints using osquery based agent. To enhance the visibility on Windows platform, PolyLogyx provides a Windows extension to the osquery.</p>
                      <ul>
                        <li>Information about osquery can be found at <a href="https://osquery.io" target="_blank">https://osquery.io</a>
                        </li>
                        <li>Information regarding PolyLogyx osquery Extension can be found <a href="https://github.com/polylogyx/osq-ext-bin" target="_blank">here</a>.
                        </li>
                        <li>Information regarding PolyLogyx ESP Documentation can be found <a target="_blank" href="https://github.com/polylogyx/platform-docs">here</a>.
                        </li>
                        <li>Information for PolyLogyx REST API in order to programmatically interact with the platform can be found at <a target="_blank" href="/manage/downloads/plgx_RESTapi_v1.pdf">API Documentation</a>.
                        </li>
                      </ul>
                      <p>Finally, you have any unanswered questions, feel free to mail us at <a href="mailto:support@polylogyx.com">support@polylogyx.com</a> or join us on osquery slack. We can be found in the channel <i>#polylogyx-extension</i>.</p>
                      <h3>PolyLogyx Client Provisioning Tool</h3>
                        PolyLogyx Client Provisioning Tool (CPT) is a utility that simplifies the installation of osquery and PolyLogyx extension on Windows operating system by taking away the cumbersome steps of installing osquery manually. This tool requires <a href="/manage/downloads/certificate.crt" target="_blank">server certificate</a> to run.
                        <a href="/manage/downloads/plgx_cpt.exe" target="_blank">Download the CPT</a> and run the following command on the target endpoint.
                        <pre> plgx_cpt.exe -p -i &lt; SERVER_IP(x.x.x.x) &gt;  -k &lt; Full path to the certificate file &gt; </pre>
                        <p>After the successful execution of the installation, following line will be displayed.</p>
                        <pre> [+] === PolyLogyx osquery agent installed Successfully ===</pre>
                        <p>At this point, the endpoint should be visible in the <a href="/manage/nodes">Hosts</a> page.</p>
                        <p>CPT tool can also be used to uninstall the previous installation</p>
                        <pre> plgx_cpt.exe -u d</pre>
                        <p>For more CPT options run the tool without any parameters</p>
                      <h3>Managing Endpoints</h3>
                        <p>PolyLogyx ESP allows administrators to remotely manage the osquery configurations retrieved by endpoints. Administrators can dynamically configure the set of packs, queries using tags. FIM(file integrity monitoring) target paths can be configured under <a href= "{{ url_for('manage.configs') }}">Config Management</a>. Default queries and filters under Config Management is applied to all  the endpoints based on their platform. Tags are used to map endpoints to queries and packs.</p>
                      <h4>Non-Windows Hosts</h4>
                        <p>For Non-Windows endpoints, osquery agent can be installed from an upstream package. These packages are available on osquery website. And as described above, they can be configured to be manged with the PolyLogyx ESP.
                      <h4>Adding Tags to Endpoint</h4>
                        <p>"Tags" are arbitrary strings chosen at user discretion that can be used to group a set of endpoints together, to enable bulk querying of endpoints. Tags can directly be associated with endpoints by typing the tag string in the rightmost column of the dashboard or tags can be added independently and then applied to endpoints. Adding tags is not mandatory, and is their to enable operational ease. </p>
                      <h4>Querying the Endpoint</h4>
                        <p>In the osquery architecture, endpoint data can be queried in 2 modes</p>
                        <ol>
                          <li>Scheduled queries</li>
                          <li>Distributed (a.k.a Live) queries</li>
                        </ol>
                        <p>These queries are in the form of standard SQL <i>'SELECT'</i> statements with all the other SQL syntax and constraints like <i>'WHERE', 'JOIN', 'LIKE', 'LIMIT'</i> etc. The base osquery provides a set of query-able tables and the schema for those tables can be found <a target="_blank" href="https://osquery.io/schema">here</a>. The PolyLogyx Extension to osquery has added additional tables that allow for much deeper visibility into Windows endpoints. The schema for these tables can be found
                        <a href="https://github.com/polylogyx/platform-docs/tree/master/08_Tables" target="_blank">here</a>.
                        </p>
                        <p>Scheduled queries (or packs) can be added from the server under the Config Management section in the navigation menu. The results of the scheduled queries are retained on the database in the management server. Scheduled queries can be used for data retention by gradually pulling data from the endpoint, or an <i>'alert'</i> like notification when a particular condition is met. In the subsequent versions of the PolyLogyx ESP, the connectors to various logging aggregator <i>(e.g. Splunk)</i> would be made available for the results to be directly sent there.</p>
                        <p>Live queries, or also known as Distributed queries, are real-time queries send to endpoints. In the PolyLogyx ESP, sending live queries is fairly simplified. Clicking on Live Queries in the navigation menu, type the SQL query <i>(e.g. "select * from win_process_events;")</i>, pick the target endpoint(s) and/or tags. The query will then be sent to all the selected endpoints and the result will be shown in a matter
                            of few seconds. If no endpoint or tags are selected, the query is sent to the entire population of live endpoints. Depending on the network bandwidth, the volume of data, number of endpoints etc, sometimes there
                            could be a larger delay. Live query results are not stored anywhere automatically. They can however be exported into a CSV/XLS file. With the combination of SQL constraints, Live queries can be very useful for searching threat indicatiors
                            <i>e.g. file hashes, URLs, sockets, ports etc.</i> The PolyLogyx ESP provides the advantage of additional <a href="https://github.com/polylogyx/platform-docs/tree/master/08_Tables" target="_blank">tables</a> for Windows platform. </p>
                        <p>Through optimal combination of Live and Scheduled queries data can be queried, and pulled for retention, from the endpoint. One example to optimize schedule queries for data collection for tables ending with <i>_events</i> suffix could be to pull endpoint records before they are deleted from the endpoint. Since the endpoint stores upto 1500 records on the endpoint, scheduled queries can be created such that when the record count is hit, data is pulled to the server for e.g.</p>
                        <pre> select * from "table_name" where "x" &lt; (select count(eid) from "table_name");</pre>
                        <p> Where x is less than 1500 And schedule this query to run at intervals of few hours. Spreading queries across different tables at different hours gives the advantage of network bandwith optimization. And use Live queries to get data from the endpoint store that has not yet been pulled to server.</p>
                        <p><span style="color: crimson;">Note:</span> In case, the distributed query is not working on Windows, please stop and start the service using:
                          <ul>
                            <li>sc stop osqueryd</li>
                            <li>sc start osqueryd</li>
                          </ul>
                        </p>
                      <h3>Rules and Alerts</h3>
                        <p>If you're not acting on the information you collect, what's the point? PolyLogyx ESP allows admins to configure custom rules to trigger alerts on specific events <i>(for example, an unauthorized browser plugin is installed, or a removable USB storage device is inserted)</i>. PolyLogyx ESP allows building complex rule sets that can use arbitrary boolean logic and a variety of operators to test the results of a query. You can see the alerts by clicking Alerts from left menu.</p>
                      <h4>Configuring Alert Email Settings</h4>
                        <p>Email sender and recipient can be configured from <a href="/manage/setting/add"> Email settings</a> menu. </p>
                       <h4>Threat Intel Integration</h4>
                        <p>PolyLogyx ESP comes with connectors for following cloud based threat intel platforms:</p>
                        <ul>
                          <li><a target="_blank" href="https://www.virustotal.com/">VirusTotal</a></li>
                          <li><a target="_blank" href="https://exchange.xforce.ibmcloud.com/">IBM xForce</a></li>
                          <li><a target="_blank" href="https://otx.alienvault.com/">OTX AlienVault</a></li>
                        </ul>
                        <p>Click <a href="/manage/apikey/add">here</a> to update the API keys.</p>
                        <p>The data collected in the recon phase is matched against the threat intelligence feeds to uncover any persistent malware on the endpoint.</p>
                      <h4>Phishing Alerts</h4>
                        <p>PolyLogyx ESP alerts on detection of a phishing URL as detected based feeds received from <a href="http://phishtank.org" target="_blank">PhishTank</a></p>
                      <h3>Integration with SIEM</h3>
                        <p>PolyLogyx ESP is bundled with rsyslog forwarder. Please add the forwarding address and port in rsyslog.conf file. You also need to set the environment variable <i>RSYSLOG_FORWARDING</i> to true in docker-compose.yml and restart the Docker. Following are some examples:-</p>
                        <ul>
                          <li><b>#Forwarding to GrayLog</b></li>
                          <li>*.* @@10.0.0.77:10514;RSYSLOG_SyslogProtocol23Format</li>
                          <li><b>#Forwarding to SysLog Server</b></li>
                          <li>*.* action(type="omfwd" target="rsyslogr" port="10514" protocol="tcp" actio.resumeRetryCount="3" queue.type="linkedlist" queue.size="10000")</li>
                        </ul>
                      <h3>Event Filters</h3>
                        <p>PolyLogyx agent collects the endpoint activity data in real-time and makes it available for consumption via osquery interface. The event data can be extremely voluminous and most of it might just be noise causing strain on networking and storage infrastructure. To optimize the event collection, PolyLogyx ESP provides ways of applying filters to the real-time evented tables. These filters can be defined using <i>'inclusion'</i> or <i>'exclusion'</i> semantics. When defined for inclusion, only those events that match the criteria are included. When defined for exclusion, all events that match the criteria are excluded. Between inclusion and exclusion, exclusion takes priority.</p>
                        <p>Following evented tables, and data columns support event filters: </p>
                        <div class="table-responsive">
                          <table class="table">
                            <thead>
                              <tr>
                                <th>#</th>
                                <th>Table Name</th>
                                <th>Column 1</th>
                                <th>Column 2</th>
                                <th>Column 3</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <td>1</td>
                                <td>win_process_events</td>
                                <td>cmdline</td>
                                <td>path</td>
                                <td>parent_path</td>
                              </tr>
                              <tr>
                                <td>2</td>
                                <td>win_registry_events</td>
                                <td>target_name</td>
                                <td>-</td>
                                <td>-</td>
                              </tr>
                              <tr>
                                <td>3</td>
                                <td>win_socket_events</td>
                                <td>process_name</td>
                                <td>remote_port</td>
                                <td>-</td>
                              </tr>
                              <tr>
                                <td>4</td>
                                <td>win_file_events</td>
                                <td>target_path</td>
                                <td>process_name</td>
                                <td>-</td>
                              </tr>
                              <tr>
                                <td>5</td>
                                <td>win_remote_thread_events</td>
                                <td>src_path</td>
                                <td>target_path</td>
                                <td>-</td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                        <p>The filters are defined as JSON and included under special JSON tag called <i>"plgx_event_filters"</i> as part of osquery configuration. A sample filter syntax is shown below:</p>
                        <pre>
  "plgx_event_filters": {{'{'}}
    "win_process_events": {{'{'}}
      "cmdline": {{'{'}}
        "exclude": {{'{'}}
          "values": [
            "C:\\Windows\\system32\\DllHost.exe /Processid*",
            "C:\\Windows\\system32\\igfxsrvc.exe -Embedding"
          ]
        {{'}'}}
      {{'}'}},
      "path": {{'{'}}
        "exclude": {{'{'}}
          "values": [
            "C:\\Windows\\system32\\CompatTelRunner.exe",
            "C:\\Program Files\\Dell\\SupportAssist\\koala.exe"
          ]
        {{'}'}}
      {{'}'}},
      "parent_path": {{'{'}}
        "exclude": {{'{'}}
          "values": [
            "C:\\Windows\\system32\\SearchIndexer.exe"
          ]
        {{'}'}}
      {{'}'}}
    {{'}'}}
  {{'}'}}
                          </pre>
                          <p>The strings in filters are case insensitive and support 2 globbing wild cards, * and ?.</p>
                        <h3>Configuring YARA</h3>
                          <p>YARA rule files can be uploaded <a href="{{ url_for('manage.yara_list') }}">here</a>. To apply the YARA rules, please add the yara attribute in the <i>Additional Config and Filters</i> section under config for windows</p>
                          <p> A sample YARA config is shown below:</p>
                          <pre>
  "yara": {
    "file_paths": {
      "test_eicar_yara": [
        "yara_eicar_test_group"
      ]
    },
    "signatures": {
      "yara_eicar_test_group": [
        "C:\\Program Files\\osquery\\yara\\eicar.yara"
      ]
    }
  },
  "file_paths": {
    "test_eicar_yara": [
      "C:\\Users\\*\\Downloads",
      "C:\\demo-malware"
    ]
  }
                           </pre>
                           <p>For file paths add prefix path <i>C:\\Program Files\\osquery\\yara</i> to the uploaded filename on the server. Eg: If the uploaded filename on the server is <i>eicar.yara</i> then the path in the json should be <i>C:\\Program Files\\osquery\\yara\\eicar.yara</i></p>
                          <h3>Default Configuration</h3>
                            <p>PolyLogyx ESP provisions the endpoint agent with a default configuration that includes a set of scheduled queries and event filters. The event filter definition is inspired from similar filtering definitions in community of security analysts. The current definition can also be seen at the following location:</p>
                            <p><a target="_blank" href="https://github.com/SwiftOnSecurity/sysmon-config">https://github.com/SwiftOnSecurity/sysmon-config</a></p>
                          <h3>Recommendation for Optimal Display</h3>
                            <ol>
                              <li>
                                <p>Use the live queries with filters on columns, and constraints, to get quicker and better results. Live queries are best used for cases of hunting. Using plain queries like <i>"select * from table_name;"</i> is akin to using live queries for data aggregation and can take longer than expected for high volume tables like <i>win_file_events</i>, if a lot of folders are monitored. Some examples of live queries could be:</p>
                                <pre>
 select * from win_file_events where md5="md5 value";
 select * from win_image_load_evens where issuer_name like "%cert issuer name%";
 select domain_name, time from win_dns_events;</pre>
                                <p>For use case of bulk data aggregation, it is recommended to rely on 'scheduled queries' which are optimized to return differential results between 2 query intervals.</p>
                              </li>
                              <li>The suggested resolution for a good viewing experience is 1366 x 768, or higher.</li>
                              <li>
                                <p>The endpoint agent picks the query jobs at fixed intervals. This interval is controlled by following flags in osquery.flags</p>
                              </li>
                                <pre><i>--distributed_interval = 25</i></pre>
                                <p>While the recommended value is 25, reducing this value can speed up response time for live queries. Please click <a target="_blank" href="https://github.com/polylogyx/platform-docs/tree/master/04_PolyLogyx_Client_Configurations">here</a> to look at the steps on how to change the configuration values after the installation. </p>
                            </ol>
                          <h3>Deleting Data from the Server</h3>
                            <p>Default retention of data is set to 7 days. This can be configured under the Management &rarr; Purge Data.</p>
                          <h3>Uninstall</h3>
                            <p>The endpoint agent can be uninstalled using the installer binary itself. Launching the installer binary will give the uninstall option. </p>
                      <!-- End:: readme -->
                      <!--Begin:: Modal-->
                      <div class="modal fade" id="view_licence" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" style="display: none; position: fixed; background-color: hsla(0, 0%, 0%, 0.45)">
                        <div class="modal-dialog modal-lg" role="document">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h3 class="">MIT License</h3>
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
                            </div>
                             <div class="modal-body kt-scroll" data-scroll="true" data-height="" data-scrollbar-shown="true">
                             <!--begin:: Widgets/Tasks -->
                             <div class="">
                              <!-- <h5>MIT License</h5> -->
                              <p>Copyright (c) 2019, PolyLogyx LLC, All rights reserved.</p>
                              <p>
                                Permission is hereby granted, free of charge, to any person obtaining a copy
                                of this software and associated documentation files (the "Software"), to deal
                                in the Software without restriction, including without limitation the rights
                                to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
                                copies of the Software, and to permit persons to whom the Software is
                                furnished to do so, subject to the following conditions:
                              </p>
                              <p>
                                The above copyright notice and this permission notice shall be included in all
                                copies or substantial portions of the Software.
                              </p>
                              <p>
                                THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
                                IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
                                FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
                                AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
                                LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
                                OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
                                SOFTWARE.
                             </p>
                             </div>
                              <!--end:: Widgets/Tasks -->
                            </div>
                            <div class="modal-footer align-center">
                              <button type="button" class="btn btn-success btn-sm" data-dismiss="modal">OK</button>
                            </div>
                          </div>
                        </div>
                      </div>
                      <!--End:: Modal-->
                  </div>
                </div>
              </div>
              <div class="kt-separator kt-separator--border-dashed kt-separator--space-lg" style=""></div>
              <!--Begin:: Licence-->
              <div class="">
                <span>&copy;&nbsp2019</span>
                <a class="modal-link kt-link" target="_blank" href="https://polylogyx.com/">
                  <!-- <p>© PolyLogyx LLC 2019</p> -->
                  PolyLogyx, LLC
                </a>
                <a href="" class="divider_foot" data-toggle="modal" data-target="#view_licence" aria-haspopup="true" aria-expanded="false">
                  <span class="modal-link kt-link">License</span>
                </a>
              </div>
              <!--End:: Licence-->
              </div>
            <!-- <div class="col-xl-1"></div> -->
            </div>
          </form>
        </div>
      </div>
    <!--end::Portlet-->
    </div>
  </div>
</div>
<!-- end:: Content -->

{% endblock %}
