@media (max-width: 1024px){
  .kt-aside {
    overflow-y: unset !important;
  }
}
.kt-content {
    padding: 0px !important;
  }
  .kt-aside__brand{
    padding: 0 15px !important;
  }
  .kt-menu__nav {
    padding: 5px 0  !important;
  }
  .separator-menu {
    border-bottom: 1px dashed #8f90a3c4 !important;
    margin: 1.5rem !important;
    width: 13rem !important;
  }
  .kt-menu__section-text {
    color: #bcbee4 !important;
    font-weight: 600 !important;
  }
  .kt-aside-menu .kt-menu__nav>.kt-menu__item>.kt-menu__link .kt-menu__link-text {
    font-weight: 500;
    font-size: 1.1rem;
    text-transform: initial;
  }
  .title-class{
    text-size: 50px;
  }
  .community-text {
    color: #f1f2f4 !important;
    font-weight: 600 !important;
    text-align: right;
    font-size: 12px;
    margin-right: 1rem;
    margin-top: -15px;
    font-family: system-ui;
  }
  .kt-aside__brand .kt-aside__brand-tools .kt-aside__brand-aside-toggler svg g [fill] {
    fill: #ffffffab !important;
  }
  .kt-aside__brand .kt-aside__brand-tools .kt-aside__brand-aside-toggler:hover svg g [fill] {
    -webkit-transition: fill .3s ease !important;
    transition: fill .3s ease !important;
    fill: #5baf1b !important;
  }
  .kt-aside__brand .kt-aside__brand-tools .kt-aside__brand-aside-toggler svg {
    height: 24px !important;
    width: 24px !important;
    margin-right: -6px !important;
  }
  .kt-portlet h2:hover {
    color: #518c24;
  }
  .btn-success:hover {
    color: #fff !important;
    background-color: #518c24 !important;
    border-color: #518c24 !important;
  }
  /* .dropdown-item:hover, .dropdown-item:focus {
    color: #383c40 !important;
    background-color: #c5cee0 !important;
  } */
  .bootstrap-select .dropdown-menu.inner>li.selected>a {
    background: #83ae5c !important;
  }
  .bootstrap-select .dropdown-menu.inner>li.selected>a span.check-mark {
    color: #ffffff !important;
  }
  .bootstrap-select .dropdown-menu.inner>li.selected>a .text {
    color: #ffffff !important;
  }

  .live-qry {
    position: fixed;
    top: 50%;
    float: right;
    right: 0;
    z-index: 50;
  }
  .live-qry ul {
    padding: 0px;
    -webkit-transform: translate(280px, 0);
    -moz-transform: translate(280px, 0);
    -ms-transform: translate(280px, 0);
    -o-transform: translate(280px, 0);
    transform: translate(280px, 0);
  }
  .live-qry ul li {
    display: block;
    margin: 5px;
    background: #fff;
    width: 330px;
    text-align: left;
    padding: 10px;
    -webkit-box-shadow: 0 0 50px 0 rgba(82,63,105,0.15);
    box-shadow: 0 0 50px 0 rgba(82,63,105,0.15);
    -webkit-border-radius: 4px 0 0 4px;
    -moz-border-radius: 40px 0 0 4px;
    border-radius: 4px 0 0 4px;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
  }
  .live-qry ul li i {
    font-size: large;
    margin-right: 10px;
    padding: 5px;
    color: #518c24;
    background-color: #f4f4f8;
    border-color: transparent;
  }
  .live-qry ul li:hover {
    -webkit-transform: translate(-120px, 0);
    -moz-transform: translate(-120px, 0);
    -ms-transform: translate(-120px, 0);
    -o-transform: translate(-120px, 0);
    transform: translate(-120px, 0);
    background: rgba(255, 255, 255, 0.4);
  }
  .live-qry ul li a {
    color: #454357;
    font-weight: 500;
  }
  .live-qry ul li:hover a {
    color: #518c24;
  }
  .live-qry ul li:hover i {
    color: #fff;
    background-color: #518c24;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border-color: transparent;
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
  }
  .live-qry ul li i {
    -webkit-transform: rotate(-360deg);
    -moz-transform: rotate(-360deg);
    -ms-transform: rotate(-360deg);
    -o-transform: rotate(-360deg);
    transform: rotate(-360deg);
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
  }
  .kt-header-mobile .kt-header-mobile__toolbar .kt-header-mobile__toggler span{
    background:rgb(255, 255, 255)
    }
    .kt-header-mobile .kt-header-mobile__toolbar .kt-header-mobile__toggler span::before,.kt-header-mobile .kt-header-mobile__toolbar .kt-header-mobile__toggler span::after{
    background:rgba(238, 94, 27, 0.877)
    }

  #management_drop{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    float: none;
    padding: 10px;
    }
  .dot {
  height: 4px;
  width: 4px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  margin-left: -11px;
  margin-top: 7px;
  background-color: #bbbbbba6;
}