<div class="kt-grid kt-grid--hor kt-grid--root">
  <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--ver kt-page">
    <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor kt-wrapper" id="kt_wrapper">


<div class="kt-portlet kt-portlet--mobile kt-portlet--responsive-mobile" style="margin-bottom: 0px;">
<div class="kt-portlet__head kt-portlet__head--lg">
<div class="kt-portlet__head-label">
  <span class="kt-portlet__head-icon">
    <i class="kt-font-brand fa fa-clipboard-list"></i>
  </span>
  <h3 class="kt-portlet__head-title txt-sze" style="font-weight:500">
    Rule Monitoring
  </h3>
</div>
<div class="kt-portlet__head-toolbar">
  <div class="kt-portlet__head-wrapper">
    <div class="">
      <!-- <a [routerLink]="{[./manage],}" href="{{ url_for('manage.add_rule') }}" class="btn btn-outline-success btn-icon-sm"> -->
        <a [routerLink]="['./add-rule']" class="btn btn-outline-success btn-icon-sm">
        <i class="fa fa-plus-square"></i>
        Add Rule
      </a>
    </div>
  </div>
</div>
</div>

<div class="no_data" style="text-align: center;margin-top: 10px;"></div>
<div class="kt-portlet__body rule_body" >
<!-- {% if rules %} -->
<!--Begin:: Content -->
<div class="kt-content">
  <div class="row">
    <div class="col-md-4">
      <!--begin::Portlet-->
      <div class="kt-portlet no-mar-botom portlet-body_align">

        <div class="kt-portlet__body" style="padding: 0px;">
          <!--begin: Search Table -->
          <div class="">
            <div class="kt-input-icon kt-input-icon--left" style="margin-bottom: 10px;">
              <input type="text" class="form-control" placeholder="Search here..." id="search_rule_name" [(ngModel)]="searchText">
              <span class="kt-input-icon__icon kt-input-icon__icon--left">
                <span><i class="la la-search"></i></span>
              </span>
            </div>
          </div>
          <!--end: Search Table -->
          <div class="rule_body2" style="height: 565px; overflow-x:scroll; margin-bottom:25px;">
            <div class="ph-item">
            <div class="ph-col-12">
            <div class="ph-row">
              <div class="ph-col-4 big"></div>
              <div class="ph-col-8 empty big"></div>
              <div class="ph-col-6 big"></div>
              <div class="ph-col-6 empty big"></div>
              <div class="ph-col-2 big"></div>
              <div class="ph-col-10 empty big"></div>
              <div class="ph-col-6 big"></div>
              <div class="ph-col-6 empty big"></div>
              </div>
              <div class="ph-row">
                <div class="ph-col-4 big"></div>
                <div class="ph-col-8 empty big"></div>
                <div class="ph-col-6 big"></div>
                <div class="ph-col-6 empty big"></div>
                <div class="ph-col-2 big"></div>
                <div class="ph-col-10 empty big"></div>
                <div class="ph-col-6 big"></div>
                <div class="ph-col-6 empty big"></div>
                </div>
                <div class="ph-row">
                  <div class="ph-col-4 big"></div>
                  <div class="ph-col-8 empty big"></div>
                  <div class="ph-col-6 big"></div>
                  <div class="ph-col-6 empty big"></div>
                  <div class="ph-col-2 big"></div>
                  <div class="ph-col-10 empty big"></div>
                  <div class="ph-col-6 big"></div>
                  <div class="ph-col-6 empty big"></div>
                  </div>
                </div>
              </div>
          </div>
          <!--begin::Notifications-->
          <div class="rule_body "  style="height: 565px; overflow-x:scroll; margin-bottom:25px">
            <div *ngFor="let rules of (sorted_rule_data_name_id |rulesearch:searchText) as result" class="kt-notification conf-div" id="search_query-name-list" style="cursor:pointer;" data-skin="dark" data-toggle="kt-tooltip" data-placement="top" title="{{rules[0]}}">
              <div *ngIf="rules === -1">No Matching Record Found</div>
              <div *ngIf="rules != -1">
              <div class="kt-notification__item-title list-group"  [ngClass]="{'active': selectedItem == rules[0]}" >
              <a (click)='getById($event, rules[0],rules[2])' data-target="{{rules[0]}}" class="kt-notification__item conf-link">
                <div *ngIf="rules[1]<=10" id="circle1" class="col-2" style="min-height: 50px !important;min-width: 50px !important;padding-top: 14px;">{{rules[1]}}%</div>
                <div *ngIf="rules[1]>=50" id="circle" class="col-2" style="min-height: 50px !important;min-width: 50px !important;padding-top: 14px;">{{rules[1]}}%</div>
                <div *ngIf="rules[1]>10 && rules[1]<50" id="circle2" class="col-2" style="min-height: 50px !important;min-width: 50px !important;padding-top: 14px;">{{rules[1]}}%</div>
                <div class="kt-notification__item-details">
                    <div  id="element2" style="padding-left: 3%;">{{rules[0]}}</div>
                </div>
              </a>
              </div>
            </div>
            </div>
          </div>
          <!--End::Notifications-->
        </div>
      </div>
      <!--end::Portlet-->
    </div>
    <div class="col-md-8">
      <!--begin::Portlet-->
      <div class=" kt-portlet no-mar-botom portlet-body_align__table" id="{{ruledata?.id}}">
        <div class="rule_body2" >
          <div class="kt-portlet__head ph-item" style="padding: 14px 15px 3px 13px;margin-bottom: 1px;">
            <div class="ph-col-12">
              <div class="ph-row">
                <div class="ph-col-6 big"></div>
               </div>
              </div>
          </div>
        </div>
        <div class="kt-portlet__head rule_body" style="display: none;">
          <div class="kt-portlet__head-label">
            <span class="kt-portlet__head-icon">
              <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" class="kt-svg-icon">
                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                  <rect id="bound" x="0" y="0" width="24" height="24" />
                  <path
                    d="M10.5,5 L20.5,5 C21.3284271,5 22,5.67157288 22,6.5 L22,9.5 C22,10.3284271 21.3284271,11 20.5,11 L10.5,11 C9.67157288,11 9,10.3284271 9,9.5 L9,6.5 C9,5.67157288 9.67157288,5 10.5,5 Z M10.5,13 L20.5,13 C21.3284271,13 22,13.6715729 22,14.5 L22,17.5 C22,18.3284271 21.3284271,19 20.5,19 L10.5,19 C9.67157288,19 9,18.3284271 9,17.5 L9,14.5 C9,13.6715729 9.67157288,13 10.5,13 Z"
                    id="Combined-Shape" fill="#000000" />
                  <rect id="Rectangle-7-Copy-2" fill="#000000" opacity="0.3" x="2" y="5" width="5" height="14" rx="1" />
                </g>
              </svg>
            </span>

            <h3 class="kt-portlet__head-title txt-sze">
              <!-- Application Shim Installation -->
              {{ruledata?.name}}
            </h3>
          </div>
          <div class="kt-portlet__head-toolbar">
            <div class="kt-portlet__head-actions">
              <a  [routerLink] = "['./',ruleid,'alert']" class="btn btn-outline-success " style="height:28px;width:100px;padding-bottom: 17%;">View Alerts</a>&nbsp;&nbsp;
              <a [routerLink] = "['./',ruleid,'edit']" class="btn btn-clean btn-sm btn-icon btn-icon-md" data-skin="dark" data-toggle="kt-tooltip" data-placement="top" title="Edit Rule">

                <i class="far fa-edit"></i>
                </a>
            </div>
          </div>
        </div>
        <div class="kt-portlet__body rule_body2" style="height: 565px; overflow-x:scroll; margin-bottom:25px; padding: 1.25rem;">
          <div class="ph-item">
          <div class="ph-col-12">
          <div class="ph-row">
            <div class="ph-col-4 big"></div>
            <div class="ph-col-8 empty big"></div>
            <div class="ph-col-6 big"></div>
            <div class="ph-col-6 empty big"></div>
            <div class="ph-col-2 big"></div>
            <div class="ph-col-10 empty big"></div>
            <div class="ph-col-6 big"></div>
            <div class="ph-col-6 empty big"></div>
            </div>
            <div class="ph-row">
              <div class="ph-col-4 big"></div>
              <div class="ph-col-8 empty big"></div>
              <div class="ph-col-6 big"></div>
              <div class="ph-col-6 empty big"></div>
              <div class="ph-col-2 big"></div>
              <div class="ph-col-10 empty big"></div>
              <div class="ph-col-6 big"></div>
              <div class="ph-col-6 empty big"></div>
              </div>
              <div class="ph-row">
                <div class="ph-col-4 big"></div>
                <div class="ph-col-8 empty big"></div>
                <div class="ph-col-6 big"></div>
                <div class="ph-col-6 empty big"></div>
                <div class="ph-col-2 big"></div>
                <div class="ph-col-10 empty big"></div>
                <div class="ph-col-6 big"></div>
                <div class="ph-col-6 empty big"></div>
                </div>
              </div>
            </div>
        </div>
        <div class="kt-portlet__body rule_body" style="height: 565px; overflow-x:scroll; margin-bottom:25px; padding: 1.25rem;display: none;">
          <table class="table table-striped- table-bordered table-hover table-checkable">
            <tbody>
              <tr>
                <td class="head-table">Description</td>
                <td class="conf-table-val">
                          <div *ngIf="ruledata?.description  && ruledata?.description.length > 1">
                            <div class="sql hljs desc-background_rules container" [class.show_1]="ruledata.visible_1">
                              {{ruledata.description}}
                            </div>
                            <span *ngIf="ruledata.description.length > 200" style="cursor: pointer;" class="kt-link" (click)="ruledata.visible_1 = !ruledata.visible_1">{{ ruledata.visible_1 ? 'Read less': 'Read More' }}</span>
                          </div>
                          <!-- <div *ngIf="ruledata?.description.length == 0">
                            <p class="txt-clr">No Description.</p>
                          </div> -->
                        </td>
              </tr>

              <tr>
                <td class="head-table">Alerters</td>
                <td class="conf-table-val">
                  {{rule_alert_val}}
                </td>
              </tr>
              <tr>
                <td class="head-table">Severity</td>
                <td class="conf-table-val">
                  {{ruledata?.severity}}
                </td>
              </tr>
              <tr>
                <td class="head-table">Status</td>
                <!-- <td class="conf-table-val">
                  {{ruledata.status}}
                </td> -->
                <td class="conf-table-val">
                  <div *ngIf="ruledata?.status =='ACTIVE'">
                  <div class="desc-background_rules"><i class="fa fa-check"></i></div>
                  <!-- <span class="col-md-1"></span> -->
                  </div>
                    <div *ngIf="ruledata?.status !='ACTIVE'">
                  <div class="desc-background_rules"><i class="fa fa-times"></i></div>
                  <!-- <span class="col-md-1"></span> -->
                  </div>
                </td>
              </tr>

              <tr>
                <td class="head-table">Conditions</td>
                <td class="conf-table-val">
                  <div *ngIf="conditions == {}">
                    <div class="desc-background_rules" [class.show_2]="ruledata.visible_2">
                      No conditions found
                    </div>
                  </div>
                  <div class="container" [class.show_2]="ruledata.visible_2" *ngIf="conditionLenght">
                  <ul class="left-align" *ngIf="conditions != {}">
                    <ng-template #recursiveList let-conditions>
                      <li>{{conditions.condition}}</li>
                      <span *ngFor="let item of conditions.rules">
                        <li *ngIf="item.rules == undefined">
                          <div *ngIf="item.id == 'column'">
                            <div *ngIf="isString(item.value)==true">
                              Column "{{item.value}}" {{item.operator | slice:7}}
                            </div>
                            <div *ngIf="isString(item.value)==false">
                              Column "{{item.value[0]}}" {{item.operator | slice:7}} "{{item.value[1]}}"
                            </div>
                          </div>
                          <div *ngIf="item.id != 'column'">
                            Column "{{item.id}}" {{item.operator}} "{{item.value}}"
                          </div>
                        </li>
                        <ul *ngIf="item.rules != undefined">
                          <ng-container *ngTemplateOutlet="recursiveList; context:{ $implicit: item }"></ng-container>
                        </ul>
                      </span>
                    </ng-template>
                    <ng-container *ngTemplateOutlet="recursiveList; context:{ $implicit: conditions }"></ng-container>
                  </ul>
                  </div>
                  <span *ngIf="conditionLenght >= 1" style="cursor: pointer;" class="kt-link" (click)="ruledata.visible_2 = !ruledata.visible_2">{{ ruledata.visible_2 ? 'Read less': 'Read More' }}</span>
                </td>
              </tr>
              <tr *ngIf="ruledata?.type !=null">
                <td class="head-table">Type</td>
                <td>
                {{ruledata?.type}}
                </td>
              </tr>
              <ng-container  *ngIf = "ruledata?.type == 'MITRE'">
              <tr>
                <td class="head-table">Technique id</td>
                <td>
                {{ruledata.technique_id}}
                </td>
              </tr>
              <tr>
                <td class="head-table">Tactics</td>
                <td>
                    {{rule_tactics_val}}
                  </td>
              </tr>
            </ng-container>
            </tbody>
          </table>
        </div>
      </div>
      <!--end::Portlet-->
    </div>
  </div>
</div>
 <div class="kt-content">
   <div class="container">
     <div class="row">
       <!-- <p style="margin-top:50px;">No rules created. Click on add rule to create one</p> -->
     </div>
   </div>
 </div>
<!--Begin:: Content -->
</div>
</div>
</div>
</div>
</div>
