/* @import url("../../../css/pack.css");
@import url("../../../public/css/common.css"); */
.active {
  background-color: #f7f8fa;
}
.no-mar-botom{
  margin-bottom: 0px;
}
.conf-table-val {
  font-size: 100%;
  color: #e83e8c;
  word-break: break-word;
  font-family: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
}
.head-table {
  font-weight: 600 !important;
}
.portlet-body_align {
  height: 680px;
  margin-bottom:0px;
  border: 15px solid #ebedf2;
  padding: 10px;
}
.portlet-body_align__table {
  margin-bottom:0px;
  border: 15px solid #ebedf2;
}

.txt-clr{
    color: indianred;
    margin-bottom: unset;
    font-weight: 400;
  }
  .kt-link {
    text-decoration: none;
    position: relative;
    display: inline-block;
    color: #184ba1;
  }
  .truncate {
    line-height: 1.5;
    height: 49px;
    overflow: hidden;
  }
  .container {
          font-size: 16px;
          line-height: 16px;
          height: 32px;
          overflow: hidden;
     }
     .show_2 {
          overflow: visible_2;
          height: auto;
     }

     .show_1{
          overflow: visible_1;
          height: auto;
     }
     .left-align{
       margin-left: 1em;
     }

/* .show {
  overflow: visible;
  height: auto;
} */
.txt-sze{
  font-family: Poppins;
}
table {
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  -webkit-border-horizontal-spacing: 10px;
  -webkit-border-vertical-spacing: 10px;
  border-collapse: collapse;
  white-space: normal;
  line-height: normal;
  font-weight: normal;
  font-size: medium;
  font-style: normal;
  color: -internal-quirk-inherit;
  text-align: start;
  font-variant: normal;
  display: table;
  border-color: grey;
}
.kt-portlet .kt-portlet__head .kt-portlet__head-label .kt-portlet__head-title {
   margin: 0;
   padding: 0;
   font-size: 1.2rem;
   font-weight: 600;
   color:  #464457;
}
.list-group:hover{
  color: #184ba1;;
}
#circle {
  border-radius: 50%;
  width: 100%;
  height: 100%;
  padding: 4%;
  background: #fff;
  border: 1px solid red;
  color: red;
  text-align: center;
}
#circle1 {
  border-radius: 50%;
  width: 100%;
  height: 100%;
  padding: 4%;
  background: #fff;
  border: 1px solid green;
  color: green;
  text-align: center;
}
#circle2 {
  border-radius: 50%;
  width: 100%;
  height: 100%;
  padding: 4%;
  background: #fff;
  border: 1px solid orange;
  color: orange;
  text-align: center;
}