<link rel="stylesheet" href="/static/css/tab.css">

<style>
  .nav-background {
    background-color: ghostwhite;
  }
  .nav-tab_align {
    float: right;
    text-align: right !important;
    word-break: break-all;
    margin-right: 0px !important;
    min-width: -webkit-fill-available;
    min-width: -moz-fit-content;
  }
  .col-queryborder {
    padding: 0px 5px 0px 5px;
    border: #ebedf2 1px solid;
    padding: 10px;
  }
  .col-queryname {
    /* padding: 0px 5px 0px 5px; */
    overflow-x: scroll;
    max-height: 72vh;
  }
  .col-querytable {
    padding: 0px 5px 0px 5px;
    border: #ebedf2 1px solid;
    padding: 10px;
  }
  .dataTables_filter {
    /* width: 200px; */
    float: right;
  }
  .nav_border {
    border-bottom: 1px solid #ebedf2;
  }
  .badge-queryname {
    font-size: 1rem;
    font-weight: 500;
  }
  .kt-badge.kt-badge--primary {
    color: #fff;
    background: #817f8c;
  }
  .nav-pills .nav-item .nav-link.active> .kt-badge.kt-badge--primary {
    background-color: #fff;
    color: #184ba1;
  }
</style>
<!--begin::System Data-->
 <div class="kt-portlet kt-portlet--responsive-mobile" style="margin-bottom: 0px;">
   <div class="kt-portlet__body">
     <div class="row">
       <div class="col-2 nav-background col-queryborder">
         <!--begin: Search Table -->
         <div class="">
           <div class="kt-input-icon kt-input-icon--left" style="margin-bottom: 10px;">
             <input type="text" class="form-control" placeholder="Search here..." id="search_name">
             <span class="kt-input-icon__icon kt-input-icon__icon--left">
               <span><i class="la la-search"></i></span>
             </span>
           </div>
         </div>
         <!--end: Search Table -->
         <div class="col-queryname">
           <ul class="nav nav-pills nav-fill nav-background" role="tablist" id="search-name-list">
             {% for name,count in queries_packs.items() | sort %}
             <li class="nav-item nav_border nav-tab_align" style="" data-skin="dark" data-toggle="kt-tooltip" data-placement="top" title="{{name}}">
              <a class="nav-link  {% if loop.first %}active{% endif %}" onclick="getIndividualData('{{ name }}', '{{ queries_packs_keys.index(name) }}' )" data-toggle="tab" href="#div_{{ queries_packs_keys.index(name) }}">
                <span class="badge-queryname">{{name}}</span>
                <span class="kt-badge kt-badge--primary kt-badge--inline kt-badge--pill badge-queryname" id="badge-{{ queries_packs_keys.index(name) }}">{{ count }}</span>
              </a>
             </li>
             {% endfor %}
           </ul>
         </div>
       </div>

       <div class="col-10 col-querytable">
         <div class="tab-content" style="margin: 10px;">
           {% for name,count in queries_packs.items() | sort %}
           <div class="tab-pane {% if loop.first %}active{% endif %}" id="div_{{ queries_packs_keys.index(name) }}" role="tabpanel">
             <div class="{{ queries_packs_keys.index(name) }}">
               <div id="{{ queries_packs_keys.index(name) }}_div">
                <table id="{{ queries_packs_keys.index(name) }}" value= "{{ name }}" class="table table-hover table-checkable {{ queries_packs_keys.index(name) }}  query_pack"></table>
               </div>
             </div>
           </div>
           {% endfor %}
         </div>
       </div>
     </div>
   </div>
 </div>
 <div id="container" style="display:none;"></div>
 <!--end::System Data-->

<script type="text/javascript">

  function format(d) {
    var html_str="<dl style='margin-left: 50px;' class='message-details message-details-fields'>";
      for (var key in d) {
        if (d.hasOwnProperty(key)) {
          // html_str+=key+ ":  "+d[key]+ '<br>'
          if(key!='data')
          html_str+=  "<span><dt>"+key+"</dt><dd ><div style='font-size: 14px;' class='field-value'>"+d[key]+"</div></dd></span>"
        }
      }
    html_str+="</dl>";
      return html_str
    }

    $('a[data-toggle="tab"]').on('shown.bs.tab', function(e){
      $($.fn.dataTable.tables(true)).DataTable()
      .columns.adjust().draw();
    });

    $.fn.dataTable.ext.errMode = 'none';
    function fetchFromServer(id, badge_id, node_id, csrf_token, host_identifier) {
      var requestData={}
      var div_id=id;
      requestData['name']=id;
      requestData['csrf_token'] = csrf_token;
      $.ajax({
        type: 'POST',
        url: '/manage/ajax/' + node_id + '/queries/result',
        data : requestData,
        success: function (data) {
          document.getElementById('badge-' + badge_id).innerHTML = data.iTotalRecords;
          var keys = data.columns;
          var toFindColumn = 'md5';
          var toFindColumn1 = 'url';
          var toFindColumn2 = 'domain_name'
          var columnPosition;
          var colExist = false;
          var col1Exist = false;
          var col2Exist = false;
          var counter = 0;
          var columns_array=[];
          keys.forEach(function (key) {
            if(key.data!=''){
            columns_array.push({"data":key.data})
            if (key.data == toFindColumn) {
                colExist = true;
                columnPosition = counter;
            } else if (key.data == toFindColumn1) {
                col1Exist = true;
                columnPosition = counter;
            } else if (key.data == toFindColumn2) {
                col2Exist = true;
                columnPosition = counter;
            }}
            counter++;
          });
          var table_id=badge_id.replace(/ /g,  '\\ ');
          table_id=table_id.replace(/\//g,  '\\/');
          var table=$('#'+table_id);
          var toggle_div=$('#toggle_'+table_id);
            for (var i = 0; i < columns_array.length; i++) {
              $('<a class="toggle-vis" onclick="showHideColumns(event,this)"  name="'+table_id+'"  data-column="'+i+'"  />').text(columns_array[i]['data']).appendTo(toggle_div);
                toggle_div.append(" - ");
              }
              var elem_table=table.DataTable({
                "processing": true,
                "serverSide": true,
                'iTotalRecords': data.iTotalRecords,
                'iTotalDisplayRecords': data.iTotalDisplayRecords,
                "aaData": data.aaData,
                "aoColumns": data.columns,
                "scrollY": 450,
                "scrollX": true,
                "autowidth":true,
                "sPaginationType": "full_numbers",
                "ordering": false,
                "ajax":
                  {
                  "url":"/manage/ajax/" + node_id + "/queries/result" ,
                  "type":"POST",
                  data:requestData
                  },
                "bJQueryUI": true,
                  dom: 'Bfrtip',
                "buttons": [{
                  extend: 'csvHtml5',
                  title: 'export',
                  action: function (e, dt, node, config) {
                    var request_params = {};
                    request_params['node_id'] = {{ node.id }};
                    request_params['query_name'] = id;
                    request_params['csrf_token'] = csrf_token;
                    var currentDate = new Date();
                    $.ajax({
                      "url": "/manage/schedule_query/export",
                      "type": 'POST',
                      "data": request_params,
                      "success": function (res, status, xhr) {
                          var csvData = new Blob([res], {type: 'text/csv;charset=utf-8;'});
                          var csvURL = window.URL.createObjectURL(csvData);
                          var tempLink = document.createElement('a');
                          tempLink.href = csvURL;
                          tempLink.setAttribute('download', id + '_' + host_identifier + '_' + currentDate.getTime());
                          document.getElementById('container').appendChild(tempLink);
                          tempLink.click();
                        }
                      });
                    }
                  }],
                  columnDefs: [
                    {
                    render: function (data, type, full, meta) {
                      return "<div  class=''><font color='#16ace3'>"+data+"</font></div>";
                      if (type === 'display') {
                        if (colExist) {
                          return '<div class="text-wrap width">' + '<a target="_blank" style="color:blue"  href="https://www.virustotal.com/#/file/' + data + '/detection' + '";>' + data + "</a></div>";
                        } else if (col1Exist) {
                          return '<div class="text-wrap width">' + '<a href="#" style="color:blue"  onclick="window.open(SHA256(' + "'" + data + "'" + '))";>' + data + "</a>" + "</div>";
                        }
                        else if (col2Exist) {
                          return '<div class="text-wrap width">' + '<a target="_blank" style="color:blue" href="https://www.virustotal.com/#/domain/' + data.substring(1, data.length) + '";>' + data + "</a></div>";
                        }
                      }
                    },
                    targets: [0]
                  }
                ],
              });

      $('#table_id td').css('white-space','initial');
      $('#'+table_id+' tbody').on('click', 'td.details-control', function () {
        var tr = $(this).closest('tr');
        var row = elem_table.row( tr );
        var idx = $.inArray( tr.attr('id'), detailRows );
          if ( row.child.isShown() ) {
            tr.removeClass( 'details' );
            row.child.hide();
            // Remove from the 'open' array
            detailRows.splice( idx, 1 );
          }
          else {
            tr.addClass( 'details' );
            row.child( format( row.data() ) ).show();
            // Add to the 'open' array
            if ( idx === -1 ) {
                detailRows.push( tr.attr('id') );
            }
          }
        });
        var detailRows = [];
        elem_table.on( 'draw', function () {
          $.each( detailRows, function ( i, id ) {
            $('#'+id+' td.details-control').trigger( 'click' );
          });
        });
      }
      });
  }

  function showHideColumns(e,elem){
    e.preventDefault();
    var name =  $(elem).attr('name')
    var table_id=name.replace(/ /g,  '\\ ');
    table_id=table_id.replace(/\//g,  '\\/');
    var table=$('#'+table_id).DataTable();;
    // Get the column API object
    var column = table.column( $(elem).attr('data-column') );
    // Toggle the visibility
    if(column.visible()){
      elem.setAttribute('style', 'color:#B22222 !important');
    }else {
      elem.setAttribute('style', 'color:#3174c7 !important');
    }
    column.visible( ! column.visible() );
  }

  $(document).ready(function () {
    fetchFromServer($(".query_pack").attr('value'), $(".query_pack").attr('id'), {{ node.id }}, '{{ csrf_token() }}', '{{ node.host_identifier }}');
  });

  function getIndividualData(name, badge_id) {
    if($('.'+badge_id +' #'+badge_id+'_wrapper').length == 0) {
      fetchFromServer(name, badge_id, {{ node.id }}, '{{ csrf_token() }}', '{{ node.host_identifier }}');
    }
  }

</script>
<script>
$(document).ready(function(){
  $("#search_name").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#search-name-list li").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});
</script>
