{% extends "layout.html" %}
{% block page_title %}
PolyLogyx - Hosts
{% endblock %}

{% block content %}

<!-- begin:: Content -->
<div class="kt-content kt-grid__item kt-grid__item--fluid">
  <div class="kt-portlet kt-portlet--mobile kt-portlet--responsive-mobile" style="margin-bottom: 0px;">
    <div class="kt-portlet__head ">
      <div class="kt-portlet__head-label">
        <span class="kt-portlet__head-icon">
          <i class="kt-font-brand fa fa-chart-line"></i>
        </span>
        <h1 class="kt-portlet__head-title" style="font-size: 20px;">
          <a href="{{ url_for('manage.get_node', node_id=node.id) }}">{{ node.display_name }}</a>
          / recent activity
        </h1>
      </div>
      <div class="kt-portlet__head-toolbar">
        <div class="kt-portlet__head-wrapper">
          <div style="cursor: pointer;" onclick="goBack()" class="btn btn-clean btn-sm" data-skin="dark" data-toggle="kt-tooltip" data-placement="top" title="Back to Previous Page">
            <i class="fas fa-chevron-left"></i>
            Back
          </div>
        </div>
      </div>
    </div>
    <div class="kt-portlet__body">

      <!--Begin:: Content -->
      {% if queries_packs  %}
      <div id="activity_node">
        {% include "_activity.html" %}
      </div>
      {% else %}
      <p>No recent activity for this host.<p>
          {% endif %}
      <!--Begin:: Content -->

    </div>
  </div>
</div>
<!-- end:: Content -->

<script type="text/javascript">
  var currentIndex = 1;
  var callback = function() {
    // Handler when the DOM is fully loaded
  };

  if (
    document.readyState === "complete" ||
    (document.readyState !== "loading" && !document.documentElement.doScroll)
  ) {
    callback();
  } else {
    document.addEventListener("DOMContentLoaded", callback);
  }

  $(document).ready(function() {

  });

  document.addEventListener("DOMContentLoaded", function() {

  });
  var node_id = "{{ node.id}}";
  var append_increment = 0;
  var interval = 10000;

  var scrollTop;
  $(window).scroll(function() {
    scrollTop = $(this).scrollTop();
  });

  function setCurrentIndex(index) {
    currentIndex = index;
    return true;
  }
</script>
{% endblock %}
