{% extends "layout.html" %}
{% block page_title %}
PolyLogyx - Config
{% endblock %}

{% block content %}
<script src="/static/js/ace.js"></script>

<link href="/static/css/jsoneditor/jsoneditor.min.css" rel="stylesheet" type="text/css">
<script src="/static/js/jsoneditor/jsoneditor-minimalist.min.js"></script>
<script src="/static/js/filereader.js"></script>
<style>
	.inputClass {
		border: 0px;
	}
	.configinputClass {
		border: 0px;
		width: 100%;
		color: #1d1d2d;
	}
	.checkboxClass {
		margin-left: auto;
	}
	.displayFlex {
		display: flex;
	}
	.displayNone {
		display: none;
	}
	.scrollable {
		height: 400px;
		overflow-y: auto;
	}

	.inputDisable {
		disabled: true;
	}

	#jsoneditor {
		height: 500px;
	}
	.link:active, .nav-pills .nav-item .nav-link.active, .nav-pills .nav-item .nav-link.active:hover {
    background-color: #184ba1;
    color: #ffffff;
    font-size: 16px;
}
.cursor-tab{
	cursor: pointer;
}
</style>


<!-- begin:: Content -->
<div class="kt-content  kt-grid__item kt-grid__item--fluid" id="kt_content">

	<div class="kt-portlet kt-portlet--mobile">
    <div class="kt-portlet__head kt-portlet__head--lg">
      <div class="kt-portlet__head-label">
        <span class="kt-portlet__head-icon">
          <i class="kt-font-brand fa fa-desktop "></i>
        </span>
        <h3 class="kt-portlet__head-title">Config</h3>
      </div>
      <div class="kt-portlet__head-toolbar">
        <div class="kt-portlet__head-wrapper">
          <div class="kt-portlet__head-actions">

							<ul class="nav nav-pills nav-fill nav-background" role="tablist">
								<li class="nav-item">
									<div class="nav-link active cursor-tab" data-toggle="tab" onclick="showDataAsPerPlatformSelection(this.id)" id="Windows" data-skin="dark" data-toggle="kt-tooltip" data-placement="top" title="Windows(x64) Platforms">
										<i class="fab fa-2x fa-windows" style=""></i>
										Windows(x64)
									</div>
								</li>
								<li class="nav-item">
									<div class="nav-link  cursor-tab" data-toggle="tab" onclick="showDataAsPerPlatformSelection(this.id)" id="Windows_x86" data-skin="dark" data-toggle="kt-tooltip" data-placement="top" title="Windows(x86) Platforms">
										<i class="fab fa-2x fa-windows" style=""></i>
										Windows(x86)
									</div>
								</li>

								<li class="nav-item">
									<div class="nav-link cursor-tab" data-toggle="tab" onclick="showDataAsPerPlatformSelection(this.id)" id="Linux" data-skin="dark" data-toggle="kt-tooltip" data-placement="top" title="Linux Platforms">
										<i class="fab fa-2x fa-linux" style=""></i>
										Linux
									</div>
								</li>
								<li class="nav-item">
									<div class="nav-link cursor-tab" data-toggle="tab" onclick="showDataAsPerPlatformSelection(this.id)" id="Darwin" data-skin="dark" data-toggle="kt-tooltip" data-placement="top" title="Apple Platforms">
										<i class="fab fa-2x fa-apple" style=""></i>
										macOS
									</div>
								</li>
							</ul>

          </div>
        </div>
      </div>
    </div>

    <div class="kt-portlet__body" style="background:#fafafa80;">


			<!-- begin:: Table -->
			<div class="kt-portlet kt-portlet--mobile">
				<div class="kt-portlet__head">
					<div class="kt-portlet__head-label">
						<h3 class="kt-portlet__head-title">Queries</h3>
					</div>
					<div class="kt-portlet__head-toolbar">
		        <div class="kt-portlet__head-wrapper">
		          <div class="kt-portlet__head-actions">

		          </div>
		        </div>
		      </div>
				</div>
				<div class="kt-portlet__body" id=" ">
            <table class="table table-hover table-checkable">
              <thead>
                <tr>
                  <th>Select</th>
                  <th>Name</th>
                  <th>Interval</th>
                </tr>
              </thead>
              <tbody id="tbody" style=""></tbody>
            </table>
				</div>

			</div>

			<div class="kt-portlet kt-portlet--mobile displayNone" id="display">
				<div class="kt-portlet__head">
					<div class="kt-portlet__head-label">
						<h3 class="kt-portlet__head-title"><strong></strong> Additional Config and Filters</h3>
					</div>
				</div>
				<div class="kt-portlet__body" id=" ">

					<div id="jsoneditor"></div>
				</div>
				<div class="kt-portlet__foot">
					<button type="submit" class="btn btn-success pull-right" id="buttonvisible" onclick="updateConfig()"><i class="fa fa-sync-alt"></i>
						<span>Update</span>
					</button>
				</div>
			</div>

		</div>
		<!-- end:: Content -->
    </div>
</div>
<script>



let platform_list = [];
let requireTypeArray = [];
let config_json = {{ configs | safe }};
let apple_schedule = {};
let windows_schedule = {};
let windows_x86_schedule = {};

let linux_schedule = {};

let apple_filter = {};
let windows_filter = {};
let windows_x86_filter = {};

let linux_filter = {};

let filterOject = {};

var temp = {};

for (let [key, value] of Object.entries(config_json)) {
	platform_list.push(key);
	let valueAsJson = value;
    console.log(key);
    console.log(valueAsJson.queries);
        console.log(valueAsJson.filters);

	if(key === 'darwin') {
		apple_schedule = valueAsJson.queries;
		apple_filter = valueAsJson.filters;
	}
	if(key === 'windows') {
		windows_schedule = valueAsJson.queries;
		windows_filter = valueAsJson.filters;
	}
	if(key === 'windows_x86') {
		windows_x86_schedule = valueAsJson.queries;
		windows_x86_filter = valueAsJson.filters;
	}
	if(key === 'linux') {
		linux_schedule = valueAsJson.queries;
		linux_filter = valueAsJson.filters;
	}
	if(key = 'freebsd') {
	}
}

let selectedPlatformName;
let selectedArch;
var editor, options, json, container;

function showDataAsPerPlatformSelection(id) {
    // $(".platform").css("background-color", "white");
    //     $("#"+id).css("background-color", "#DCDCDC");
		var platform_arch=id.split("_");
		if(platform_arch.length>0){
			selectedPlatformName=platform_arch[0];
		}
		console.log(platform_arch.length);
		 if (platform_arch.length==2){
			selectedArch=platform_arch[1];
		}else{selectedArch=undefined;}

    var tb_old = document.getElementById("tbody");
		// tb_old.setAttribute("style", "max-height:400px ; overflow-x: scroll;");
    while (tb_old.firstChild) tb_old.removeChild(tb_old.firstChild);

		var jsoneditor = document.getElementById("jsoneditor");
		while (jsoneditor.firstChild) jsoneditor.removeChild(jsoneditor.firstChild);

		var display = document.getElementById('display');
		display.classList.add("displayFlex");
		display.classList.remove("displayNone");

		var buttonvisible = document.getElementById('buttonvisible');
		buttonvisible.classList.add("displayFlex");
		buttonvisible.classList.remove("displayNone");

		if(id === 'Linux') {
			requireTypeArray = linux_schedule;
			filterOject = linux_filter;
		}
		if(id === 'Darwin') {
			requireTypeArray = apple_schedule;
			filterOject = apple_filter;
		}
		if(id === 'Windows') {
			requireTypeArray = windows_schedule;
			filterOject = windows_filter;
		}
		if(id === 'Windows_x86') {
			requireTypeArray = windows_x86_schedule;
			filterOject = windows_x86_filter;
		}

		for(let [name, interval] of Object.entries(requireTypeArray)) {
			  var row = document.createElement("tr");
        var cell1 = document.createElement("td");
        var cell2 = document.createElement("td");
        var cell3 = document.createElement("td");
        var firstCellText = document.createElement("INPUT");
				var secondCellText = document.createElement("INPUT");
        var secondCellText1 = document.createTextNode(name);
 			  var thirdCellText = document.createElement("INPUT");
        firstCellText.setAttribute("type", "checkbox");
            if (interval.status == true) {
            firstCellText.setAttribute("checked", true);
        }
				firstCellText.setAttribute("class", "checkboxClass");
				secondCellText.value = name;
				secondCellText.setAttribute("class", "configinputClass");
				secondCellText.setAttribute("disabled", true);
 			  thirdCellText.value = interval.interval;
 			  thirdCellText.setAttribute("class", "inputClass");

            thirdCellText.setAttribute("type", "number");
            thirdCellText.setAttribute("min", "1");
            thirdCellText.setAttribute("step", "1");
            thirdCellText.setAttribute("oninput", "validity.valid||(value=\"\");");



        cell1.appendChild(firstCellText);
        cell2.appendChild(secondCellText);
        cell3.appendChild(thirdCellText);
        row.appendChild(cell1);
        row.appendChild(cell2);
        row.appendChild(cell3);
        tb_old.appendChild(row);
		}

		container = document.getElementById('jsoneditor');
	  options = {
	    modes: ['text', 'code', 'tree', 'form', 'view'],
	    mode: 'code',
	    ace: ace
	  };


	  var node_config = JSON.stringify(filterOject);
	  if (node_config == '' || node_config == 'None' || node_config == null) {
	    json = {
	      "win_include_paths": {
	        "user_folders": [
	          "C:\\Users\\*\\Downloads\\"
	        ]
	      },

	      "win_exclude_paths": {
	        "prog_files": [
	          "C:\\Program Files (x86)\\Windows Kits\\"
	        ]
	      }
	    };
	  } else {

	    try{
	        json = node_config;

	    } catch (error) {
	      json = {};
	      console.error(error);

	    }
	    if (json != '') {
	      json = json.replace(/\&#34;/g, '"');
	      json = json.replace(/\&#39;/g, "'");

	      json = JSON.parse(json);
	    }

	  }
	  editor = new JSONEditor(container, options, json);
}

let checkboxArray = [];
let configinputArray = [];
let inputArray = [];
let platform = '';
var updatedObject = {};
let arch='x86_64';

// var container = document.getElementById('jsoneditor');
// var editor = new JSONEditor(container, options, json);
function updateConfig() {
	platform = selectedPlatformName;
	arch=selectedArch;
	checkboxArray = document.querySelectorAll(".checkboxClass");
	configinputArray = document.querySelectorAll(".configinputClass");
	inputArray = document.querySelectorAll(".inputClass");
	updatedObject["queries"] = {};
	for(let i =0; i < checkboxArray.length; i++) {
		let innerJson = {
			"status" : checkboxArray[i].checked,
			"interval" : inputArray[i].value
		}
		updatedObject["queries"][configinputArray[i].value] = innerJson;
		updatedObject.platform = platform;
		updatedObject.arch = arch;

		var filterJson = editor.get();
		updatedObject.filters = filterJson;
	}

		$.ajax({
						url: '/manage/ajax/config/update',
						type: "POST",
            			dataType: 'json',
            			contentType: 'application/json',
            			data: JSON.stringify(updatedObject),
						success: function (data) {
								// var totalOnlineNodes = data['onlineNodes'];
                // alert('successfully updated the config');
								Swal.fire({
										title: '',
										text: 'Updating...',
										timer: 2000,
										onOpen: function() {
												swal.showLoading()
										}
									}).then(function(result){
											if (result.value) {
													Swal.fire()
											} else if (result.dismiss === 'timer') {
													Swal.fire({
														type: 'success',
														title: 'Successfully updated the config',
														timer: 3000,
														showConfirmButton: false
													})
											}
									});
								if (data['errors'] != null && data['errors']['sql'] != null) {
										// console.log(data.errors.sql);
										// $("#error_message").html(data['errors']['sql']);
										// $("#error-alert").fadeTo(1000, 500).slideUp(2000, function () {
										// 		$("#error-alert").slideUp('close');
										// });
										// $("#loader").hide()

								} else {
										// $('#query_progress').width('0%');
										//
										// $('#query_progress').show();
										// $('#query_progress_div').show();
										// $('#query_name').html(data['sql']);
										// startWebsocketConnection(data['id'], totalOnlineNodes);
								}
								// document.getElementsByName('sql')[0].value = '';
						}
				});
}
</script>

<script type="text/javascript">
  var options = {
    mode: 'view',
    ace: ace
  };

  function showSelectedConfig(id, data) {
    // $('.json_config').hide();
    if ($('#table_row_' + id).is(':visible')) {
      $('#image_' + id).removeClass('fa-minus').addClass('fa-plus');
    } else {
      $('#image_' + id).removeClass('fa-plus').addClass('fa-minus');
    }
    	$('#table_row_' + id).toggle();
  }


  $(document).ready(function() {
      showDataAsPerPlatformSelection('Windows');


  });
</script>

{% endblock %}
