{% extends "layout.html" %}
{% block content %}
<div class="container">
    <div class="row">
        <div id="right-panel"

             style="background: #ffffff;padding-top:20px;position: fixed ;left: 200px;height: 100%;">
            <div class="width-fix {% block content_class %}container-fluid{% endblock content_class %}">
        <main style="height: 100vh ; margin-left:50px;overflow-y: scroll;">
            <h1>Deployment Guide</h1>


            <h4>
                PLEASE READ THE <a href="{{ url_for('manage.readme') }}">README</a> prior to attempting the
                deployment.
            </h4>
            <h3>Steps to deploy the extension</h3>
            <p id="top">
                Before deploying the PolyLogyx osquery extension, it is assumed that
                you know osquery well enough. If not, please read about osquery at <a
                    href="https://osquery.io/" target="_blank">https://osquery.io/</a> <br>
                <br> Installation of osquery is a pre-requisite before attempting
                to deploy the extension.

            </p>
            <h3>INSTALLING osquery</h3>
            <ol>

                <li>Install osquery for Windows by following the instructions at
                    <a
                            href="https://osquery.readthedocs.io/en/stable/installation/install-windows/"
                            target="_blank">https://osquery.readthedocs.io/en/stable/installation/install-windows/</a>
                </li>
                (You might have to install Chocolatey packet manager prior to that.
                The instructions for that are available at
                <a href="https://chocolatey.org/install" target="_blank">https://chocolatey.org/install</a>)

                <li>Ensure the osquery version is >= 2.9.0. Following steps will
                    help to get the osquery version after the installation steps are
                    over.
                </li>
                From an administrator command prompt, run the command
                'osqueryi' and from the osquery shell, type the command '.show'

            </ol>


            <pre style="word-wrap: break-word; white-space: pre-wrap;">
<snip>
C:\Windows\system32>osqueryi
Using a 1m virtual database. Need help, type '.help'
osquery>.show
osquery - being built, with love, at Facebook
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
osquery 2.9.0 <<===osquery version
using SQLite 3.19.3
</snip>
</pre>

            <h3>Prerequisite for Deploying Polylogyx Windows Extension</h3>
            <ol>
                <li>PolyLogyx Windows Extension supports Windows 7 upto Windows 10 operating systems, 64-bit only.</li>
                <li>Shutdown any running instance of osquery and run _cleanup.bat before starting deployment process for
                    Polylogyx Windows Extension.
                </li>
                <li>
                    To get the results from win_obfuscated_ps, please ensure that the NuGet provider version '2.8.5.201'
                    is
                    available.
                </li>
                <li>For Window 7, please ensure that the following KB is available:
                    https://technet.microsoft.com/en-us/library/security/3033929.aspx
                </li>

            </ol>

            <h3>DEPLOYING POLYLOGYX WINDOWS EXTENSION FOR osquery v1.0.0.13</h3>
            <h4>
                If you had a previous version of PolyLogyx extension.
            </h4>

            <ol>
                <li>
                    Stop osqueryd as a service (if running), exit out of osqueryi shell (if running)
                </li>
                <li>Run plgx_win_extn\_cleanup.bat</li>
                <li><a href="#"
                       onclick="smoothScroll('manual_installation')">Follow Manual Installation</a></li>
            </ol>
            <h4>Installation via Installer Setup</h4>
            <p>The setup executable for the extension will install the extension as well as osquery (if needed) by
                pulling the
                latest from the choco packet manager. The MSI will also replace the following configuration files with
                the ones
                in the package:</p>
            <ol>

                <li>osquery.conf</li>
                <li>extensions.load</li>
                <li>flagsfile</li>

            </ol>

            <p>Installer does not create any entry in the Add/Remove program
                section. To uninstall the extension, right click on msi and select
                'uninstall'.</p>
            <p>The setup based installer is only for fresh systems that do not have any osquery installation. For any
                system
                with osquery already present, use the 'Manual installation' as described below.</p>
            <h4 id="manual_installation">Manual Installation</h4>
            <p>
                The following instructions will guide you through the process on how
                how to deploy PolyLogyx extension. Please follow them carefully, along
                with the instructions regarding deploying an external extension on
                osquery docs (<a
                    href="https://osquery.readthedocs.io/en/stable/deployment/extensions/"
                    target="_blank">https://osquery.readthedocs.io/en/stable/deployment/extensions/</a>)
                and nobody will get hurt. The following instructions assume the
                osquery on your system is installed in its default location i.e.
                C:\ProgramData\osquery, using the choco packet manager. All the
                commands need to run from an Administrator console.
            </p>

            <ol>

                <li>Unzip the file plgx_win_extn.zip at osquery's root
                    installation folder C:\ProgramData\osquery
                </li>
                <li>To make sure the unzip worked correct, the out of dir command
                    should look something like
                </li>


                <pre style="word-wrap: break-word; white-space: pre-wrap;">
C:\ProgramData\osquery>dir
Volume in drive C has no label.
Volume Serial Number is 9659-5622
</pre>

                <p>Directory of C:\ProgramData\osquery</p>
                <pre style="word-wrap: break-word; white-space: pre-wrap;">
11/14/2017  11:38 PM    DIR          .
11/14/2017  11:38 PM    DIR          ..
09/12/2017  12:04 AM    DIR          certs
09/08/2017  01:13 AM             1,558 LICENSE.txt
11/14/2017  11:38 PM    DIR          log
10/05/2017  02:42 AM             4,737 manage-osqueryd.ps1
09/08/2017  01:13 AM             2,843 osquery.example.conf
11/13/2017  05:26 PM    DIR          osqueryd
10/05/2017  11:10 PM        11,322,080 osqueryi.exe
10/05/2017  02:42 AM    DIR          packs
11/14/2017  08:52 PM    DIR          plgx_win_extn <<<<< Extracted plgx_win_extn
10/05/2017  11:21 PM               590 VERIFICATION.txt
</pre>


                <li>The directory contents of plgx_win_extn look like</li>


                <pre style="word-wrap: break-word; white-space: pre-wrap;">
C:\ProgramData\osquery\plgx_win_extn>dir
 Volume in drive C has no label.
 Volume Serial Number is 9659-5622
</pre>

                <p>Directory of C:\ProgramData\osquery\plgx_win_extn</p>
                <pre style="word-wrap: break-word; white-space: pre-wrap;">
01/12/2018  02:16 PM    DIR          .
01/12/2018  02:16 PM    DIR          ..
01/12/2018  01:53 PM            21,139 DeploymentGuide.txt
01/12/2018  02:10 PM             1,558 LICENSE
01/12/2018  02:16 PM    DIR          plgx_extn_sample_conf
01/12/2018  02:16 PM    DIR          plgx_extn_sample_packs
01/10/2018  06:08 PM             3,309 plgx_win_ext.tables
01/10/2018  06:35 PM         7,169,608 plgx_win_extension.ext.exe
01/11/2018  03:19 PM            14,982 readme.txt
01/10/2018  02:22 PM               279 _cleanup.bat

</pre>
                <li>To load an extension, osquery needs an 'extensions.load' file
                    that contains the name of the extension executable. The path to the
                    'extensions.load' file needs to be provided to osquery via command
                    line flags or a flagsfile (a collective of various command line
                    flags). The osquery.conf file has the defintion of various queries to
                    be scheduled. For polylogyx extension, a sample set of
                    extensions.load/flagsfile/osquery.conf are provided under the folder
                    plgx_extn_sample_conf. Try and resist the temptation of changing
                    them, unless you really know what you are doing.
                </li>


                <pre style="word-wrap: break-word; white-space: pre-wrap;">
C:\ProgramData\osquery\plgx_win_extn\plgx_extn_sample_conf>dir
 Volume in drive C has no label.
 Volume Serial Number is 9659-5622
</pre>

                <p>Directory of
                    C:\ProgramData\osquery\plgx_win_extn\plgx_extn_sample_conf</p>
                <pre style="word-wrap: break-word; white-space: pre-wrap;">

11/14/2017  08:52 PM    DIR          .
11/14/2017  08:52 PM    DIR          ..
11/14/2017  08:52 PM                51 extensions.load
11/14/2017  08:52 PM               678 flagsfile
11/14/2017  08:52 PM             1,361 osquery.conf
               3 File(s)          2,090 bytes
               2 Dir(s)  916,468,887,552 bytes free
    </pre>


                <li>Copy these files into the osquery root folder i.e
                    c:\programdata\osquery. Also copy the extension executable file
                    plgx_win_extension.ext.exe into the osquery root folder. The root
                    folder should now look like:
                </li>


                <pre style="word-wrap: break-word; white-space: pre-wrap;">
C:\ProgramData\osquery>dir
 Volume in drive C has no label.
 Volume Serial Number is 9659-5622
</pre>

                <p>Directory of C:\ProgramData\osquery</p>
                <pre style="word-wrap: break-word; white-space: pre-wrap;">
11/14/2017  11:38 PM    DIR          .
11/14/2017  11:38 PM    DIR          ..
09/12/2017  12:04 AM    DIR          certs
11/14/2017  08:52 PM                51 extensions.load
11/14/2017  08:52 PM               678 flagsfile
09/08/2017  01:13 AM             1,558 LICENSE.txt
11/14/2017  11:38 PM    DIR          log
10/05/2017  02:42 AM             4,737 manage-osqueryd.ps1
11/14/2017  08:52 PM             1,361 osquery.conf
09/08/2017  01:13 AM             2,843 osquery.example.conf
11/13/2017  05:26 PM    DIR          osqueryd
10/05/2017  11:10 PM        11,322,080 osqueryi.exe
10/05/2017  02:42 AM    DIR          packs
11/14/2017  08:52 PM         5,454,848 plgx_win_extension.ext.exe
11/14/2017  08:52 PM    DIR          plgx_win_extn
10/05/2017  11:21 PM               590 VERIFICATION.txt
              11 File(s)     16,791,593 bytes
               8 Dir(s)  916,468,887,552 bytes free
    </pre>
                <li>Use notepad or any other favorite text editor of yours to
                    check the contents of the flagsfile/extensions.load/osquery.conf and
                    ensure that all the file/folder paths for the entries are correct and
                    matching the layout on your system.
                </li>
                <li>At this point, everything is placed where it needed to be and
                    you are ready to launch osquery along with PolyLogyx extension
                </li>
                <li>Ensure the plgx_win_extension.ext.exe version matches the one
                    mentioned above. To do so, right click on the file, click on
                    "Properties" and click on "Details" tab. It should show the file
                    version.
                </li>
            </ol>

            <!-- Launch Extension -->

            <h3>LAUNCHING THE EXTENSION VIA OSQUERY SHELL</h3>


            <ol>
                <li>To launch the osquery shell, run the command</li>
                <pre style="word-wrap: break-word; white-space: pre-wrap;">
C:\ProgramData\osquery>osqueryi.exe --flagfile flagsfile
Using a [1mvirtual database[0m. Need help, type '.help'
osquery>
    </pre>

                <li>Run the tables command and see the additional tables for
                    win_file_events and win_process_events
                </li>
                <pre style="word-wrap: break-word; white-space: pre-wrap;">

osquery> .tables
  => appcompat_shims
  => arp_cache
  => autoexec
  => carbon_black_info
...
  => win_file_events
  => win_msr
  => win_pefile_events
  => win_process_events
  => win_removable_media_events
  => win_epp_table
  => win_http_events
  => win_image_load_events
  => win_socket_events
  => win_yara_events
  => win_obfuscated_ps
...
  => windows_events
  => wmi_cli_event_consumers
  => wmi_event_filters
  => wmi_filter_consumer_binding
  => wmi_script_event_consumers
osquery>
    </pre>
                <li>This confirms the extension is up and running. Enjoy running
                    the sql commands against these tables.
                </li>

                <pre style="word-wrap: break-word; white-space: pre-wrap;">
osquery> select * from win_file_events;
file_event_type = DELETE
  file_event_id = 0FDB22A8-E16B-11E7-AC90-000C295F2C59
           path = C:\Windows\Temp\twECF3.tmp\4836a914-1791-4a21-808f-7bacb8b44d55
            md5 = 148e62a719b926cde1895294152a4f2a
       username = NT AUTHORITY\SYSTEM
      timestamp = Fri Dec 15 08:03:49 2017 UTC
        pe_file = NO
            pid = 26864
    </pre>

                <p>The file events are captured based on the filters in
                    win_include_path and win_exclude_paths defined in osquery.conf</p>
                <p>
                    ---------------------------------------------------------------------------------------------------------------------------------------------
                </p>
                <p>The process events are for the new process that get created.</p>
                <pre style="word-wrap: break-word; white-space: pre-wrap;">
 osquery> SELECT * FROM win_process_events;
proc_event_type = PROC_CREATE
  proc_event_id = 0FDB2260-E16B-11E7-AC90-000C295F2C59
            pid = 25696
           path = C:\Windows\System32\svchost.exe
        cmdline = C:\Windows\System32\svchost.exe -k netsvcs -s Browser
         parent = 640
    parent_path = C:\Windows\System32\services.exe
       username = NT AUTHORITY\SYSTEM
      timestamp = Fri Dec 15 07:55:16 2017 UTC

proc_event_type = PROC_TERMINATE
  proc_event_id = 0FDB2268-E16B-11E7-AC90-000C295F2C59
            pid = 25696
           path = C:\Windows\System32\svchost.exe
        cmdline = C:\Windows\System32\svchost.exe -k netsvcs -s Browser
         parent = 640
    parent_path = C:\Windows\System32\services.exe
       username = NT AUTHORITY\SYSTEM
      timestamp = Fri Dec 15 07:55:52 2017 UTC
    </pre>
                <p>
                    ---------------------------------------------------------------------------------------------------------------------------------------------
                </p>
                <p>Additional Table which tracks Portable Executable Files
                    alongside all files on the system, this is basically an extension to
                    win_file_events</p>
                <pre style="word-wrap: break-word; white-space: pre-wrap;">
osquery> SELECT * FROM win_pefile_events;
pefile_event_type = FILE Created/Modified
  pefile_event_id = 0FDB2254-E16B-11E7-AC90-000C295F2C59
             path = C:\Users\admin\Desktop\stress_test\notepad.exe
              md5 = f60a9d3a9461f68de0fccebb0c6cb31a
         username = WIND10X64-1703\admin
        timestamp = Fri Dec 15 07:53:58 2017 UTC
              pid = 6012
    </pre>
                <p>
                    ---------------------------------------------------------------------------------------------------------------------------------------------
                </p>
                <p>Hardware Events and Tables</p>
                <pre style="word-wrap: break-word; white-space: pre-wrap;">
osquery> SELECT * FROM win_msr;
    turbo_disabled = 0
 turbo_ratio_limit = 0
     platform_info = 2147483648
       perf_status = 0
          perf_ctl = 0
   feature_control = 1
  rapl_power_limit = 0
rapl_energy_status = 0
  rapl_power_units = 0
    </pre>
                <p>
                    ---------------------------------------------------------------------------------------------------------------------------------------------
                </p>
                <p>Removable Media Events on machine</p>
                <pre style="word-wrap: break-word; white-space: pre-wrap;">
osquery> SELECT * FROM win_removable_media_events;

removable_media_event_type = CDROM Inserted
                       eid = 0FDB210B-E16B-11E7-AC90-000C295F2C59
                       uid = NT AUTHORITY\SYSTEM
                  utc_time = Sun Mar  4 06:12:06 2018 UTC
                      time = 1520143926
                       pid = 4
        </pre>


                <p>Current Status of End-point Security Products</p>
                <pre style="word-wrap: break-word; white-space: pre-wrap;">
osquery> SELECT * FROM win_epp_table;

      product_type = Anti-Virus
      product_name = Windows Defender Antivirus
     product_state = On
product_signatures = Up-to-date
    </pre>


                <p>HTTP Request events</p>
                <pre style="word-wrap: break-word; white-space: pre-wrap;">
osquery> select * from win_http_events;

    event_type = http_req;
           eid = AF419F91-F5CF-11E7-9C65-080027E96021
           url = 7.tlu.dl.delivery.mp.microsoft.com/filestreamingservice/files/a0246d11-76c7-4322-8762-90c3de903541
      utc_time = Sun Mar  4 06:12:06 2018 UTC
          time = 1520143926
    </pre>


                <p>Socket events</p>
                <pre style="word-wrap: break-word; white-space: pre-wrap;">
osquery> select * from win_socket_events;

    event_type = socket_conn
           eid = 9A05D7FC-0FD8-11E8-9CBB-080027E96021
        action = Listen
      utc_time = Sun Mar  4 06:12:06 2018 UTC
          time = 1520143926
           pid = 5020;
        family = AF_NET
      protocol = 6
    local_port = 7977
    </pre>


                <p>Image load events</p>
                <pre style="word-wrap: break-word; white-space: pre-wrap;">
osquery> select * from win_image_load_events;

                     eid = 9A05D8A4-0FD8-11E8-9CBB-080027E96021
                     pid = 4872
              image_path = C:\Users\smith\Desktop\vast-poly-cert.exe
                username = DESKTOP-PKH9332\smith
                utc_time = Sun Mar  4 06:12:06 2018 UTC
                    time = 1520143926
                  result = signed
            num_of_certs = 1
               cert_type = Embedded
                 version = 2
                  pubkey = 380008000DC4B1ADD229D2C9FFE163247E17B6885B15675A3F9B155CD179B7E80424DA3A26366B2CA60A37F253930E0B73351CAE8DB5E6D4BC0C2B773F15B61418BD9397C559733A63256AA9AAE13E7638F0120261F8C70FC3538A688EF4B1FE0C017C382EB20D3F9B695CF24C4328D0A3D718DC51F9D0965E57E54C84FF27D8CC2F33698000001
           pubkey_length = 2048
    pubkey_signhash_algo = RSA/SHA1
             issuer_name = Polylogyx.com
            subject_name = Polylogyx.com
           serial_number = 88bdef87b7eaa1a841f52fc0adb8bb63
          signature_algo = sha1
              subject_dn = "CN=Polylogyx.com"
               issuer_dn = "CN=Polylogyx.com"
    </pre>
                <p>YARA scan result events</p>
                <pre style="word-wrap: break-word; white-space: pre-wrap;">
osquery> select * from win_yara_events;

              eid =  9A05D57C-0FD8-11E8-9CBB-080027E96021
      target_path =  C:\Users\preet\Downloads\yara - Copy (3).txt
         category =  test_files
           action =  FILE Created/Modified
          matches =  eicar
            count =  1
    </pre>


            </ol>

            <!-- osquery Daemon-->
            <h3>LAUNCHING THE EXTENSION VIA OSQUERY DAEMON</h3>

            <p>
                The extension can be similarly launched via the osquery daemon. The
                base process of daemon launching to be followed with the flagsfile. <br>
                <br> C:\ProgramData\osquery>cd osqueryd<br>
                C:\ProgramData\osquery\osqueryd>osqueryd.exe --flagfile ..\flagsfile<br>
                <br> The daemon is now running as a foreground application. The
                events with the daemon are captured in the log file location provided
                in the flagsfile.<br>
                <br>
            </p>
            <h3>LAUNCHING THE EXTENSION WITH OSQUERY AS A WINDOWS SERVICE</h3>

            <p>
                osquery can also be installed as a windows service with the help of
                the scripts provided with osquery bundle. The instructions for
                installing osquery as a windows service can be found at <a
                    href="https://osquery.readthedocs.io/en/stable/installation/install-windows/#managing-the-daemon-service"
                    target="_blank">https://osquery.readthedocs.io/en/stable/installation/install-windows/#managing-the-daemon-service</a><br>
                <br> There have been various functional and stability issues been
                observed with auto-loading of external extensions with osquery running
                as a service. Please carefully read the <a href="#"
                                                           onclick="smoothScroll('known_issues')">KNOWN ISSUES</a>
                section.<br>
                <br> To have PolyLogyx Extension loaded as part of the osquery
                service requires that the service be installed with following
                parameters (assuming the flagsfile used with the extension package)
                with the manage-osqueryd.ps1<br>
                <br>
            <ol>
                <li>Launch powershell with administrator privileges</li>
                <li>cd to the osquery root directory ( For e.g
                    C:\ProgramData\osquery)
                </li>
                <li>Run the following commands:</li>
            </ol>


            <pre style="word-wrap: break-word; white-space: pre-wrap;">
PS C:\ProgramData\osquery> .\manage-osqueryd.ps1 -h
Usage: manage-osqueryd.ps1 (-install|-uninstall|-start|-stop|-help)

Only one of the following options can be used. Using multiple will result in
options being ignored.
-install Install the osqueryd service
-startupArgs Specifies additional arguments for the service (only used with -install)
-uninstall Uninstall the osqueryd service
-start Start the osqueryd service
-stop Stop the osqueryd service

-help Shows this help screen

PS C:\ProgramData\osquery> .\manage-osqueryd.ps1 -install -startupArgs "--flagfile C:\\ProgramData\\osquery\\flagsfile"
Installed 'osquery daemon service' system service.

Status Name DisplayName
------ ---- -----------

PS C:\ProgramData\osquery> .\manage-osqueryd.ps1 -start
'osquery daemon service' system service is started.
</pre>
            <p>At this point, osquery is installed and running as windows
                service, which will get automatically started with every reboot.</p>
            <h3>QUERY AND QUERY PACKS</h3>


            <p>osquery can be made to run scheduled queries as well as
                collection of queries in packs. The folder plgx_extn_sample_packs
                provides a variety of sample query configurations and packs that can
                be run against the additional set of tables created by the extension.</p>

            <pre style="word-wrap: break-word; white-space: pre-wrap;">
C:\ProgramData\osquery\plgx_win_extn\plgx_extn_sample_packs>dir
 Volume in drive C has no label.
 Volume Serial Number is 9659-5622
</pre>

            <p>Directory of
                C:\ProgramData\osquery\plgx_win_extn\plgx_extn_sample_packs</p>
            <pre style="word-wrap: break-word; white-space: pre-wrap;">


15-12-2017  11:53    DIR          .
15-12-2017  11:53    DIR          ..
15-12-2017  11:53               380 osquery.hosts.conf
15-12-2017  11:53               305 osquery.powershell-monitor.conf
15-12-2017  11:53               247 osquery.proc-monitor.conf
15-12-2017  11:53               763 osquery.win-fim.conf
15-12-2017  11:53    DIR          packs
</pre>


            <p>

                For e.g. to run the 'osquery.hosts.conf' query in the above explained
                setup, replace the osquery.conf in the root folder with
                osquery.hosts.conf and rename osquery.hosts.conf to osquery.conf and
                so on for other query types. <br>
                <br> To run the packs, use the osquery.conf provided in the
                query-packs directory along with the query configurations.


            </p>

            <pre style="word-wrap: break-word; white-space: pre-wrap;">

C:\ProgramData\osquery\plgx_win_extn\plgx_extn_sample_packs\packs>dir
 Volume in drive C has no label.
 Volume Serial Number is 9659-5622

</pre>

            <p>Directory of
                C:\ProgramData\osquery\plgx_win_extn\plgx_extn_sample_packs\packs</p>
            <pre style="word-wrap: break-word; white-space: pre-wrap;">
15-12-2017  11:53    DIR          .
15-12-2017  11:53    DIR          ..
15-12-2017  11:53               360 fim-pack.conf
15-12-2017  11:53               366 msr-pack.conf
15-12-2017  11:53             1,164 osquery.conf
15-12-2017  11:53               389 pe_events-pack.conf
15-12-2017  11:53               396 removable-media-pack.conf
15-12-2017  11:53               450 script-execution-pack.conf
15-12-2017  11:53               360 windows-event-pack.conf
    </pre>
            The details on how to run queries and query-packs with osquery are
            available at <br>
            <br>
            <br>
            <a
                    href="https://osquery.readthedocs.io/en/stable/deployment/configuration/"
                    target="_blank">https://osquery.readthedocs.io/en/stable/deployment/configuration/</a>
            <p id="known_issues">If the output of 'dir' command on your system
                shows different filesizes/date-times etc than what is shown in this
                guide, don't panic. Its completely possible as we keep modifying the
                packs across various extension bundles but may not change the
                DeploymentGuide.txt every time unless a new file is added in, or
                removed from, bundle.</p>
            <br>

            <h3>KNOWN ISSUES</h3>
            <ol>

                <li>At one time the extension should be launched only via daemon,
                    the shell or the service. Simultaneous launch via the 2 can cause
                    unexpected behavior.
                </li>
                <li>When installing it as a service, the extension doesn't get
                    launched with the default installation procedure. Post the procedure
                    (and before the reboot), following needs to be done
                    <ol type="a">
                        <li>From 'Run' or administrator command prompt, run
                            'services.msc'
                        </li>
                        <li>Scroll down to 'osquery daemon service'</li>
                        <li>Select the entry, right click and goto 'Properties'</li>
                        <li>Change the 'Startup Type' from 'Automatic' to 'Automatic
                            (Delayed Start)'.
                        </li>
                    </ol>
                </li>
                <li>The osquery.db is a special folder locked by osquery through
                    very specific ACLs. But sometimes when osquery is used across its
                    various form factors (shell, daemon or service), and a smooth
                    transition does not happen from one to another, the folder can get
                    locked which causes osquery not to start. This typically leads to
                    following error conditions: "osqueryd initialize failed: Could not
                    initialize database" <br>
                    <br> and/or <br>
                    <br> "Extension socket not available: \\.\pipe\shell.em" <br>
                    <br> The details on how the user land in such a situation is
                    still not very well understood but once this happens, the best
                    workaround to get out of it would be:
                    <ol type="a">
                        <li>Open the flagsfile</li>
                        <li>Change the following entry
                            --database_path=C:\programdata\osquery\osquery.db to something like
                            --database_path=C:\programdata\osquery\osquery2.db (or any other
                            folder, basically to a location that doesnt exist)
                        </li>
                        <li>Re-run</li>
                    </ol>
                </li>


                <li>The extension stores all the events in a local DB (like the main osquery). When the event count in a
                    table
                    hits 50000, the extension starts removing the event entries that are older than an hour (3600
                    seconds) from
                    the current time. In future releases, this will be made configurable. During this window, if the
                    extension
                    is stopped and re-started, the entries of previous capture may remain in the DB and the new entries
                    get on
                    top of them.
                </li>
                <li>To optimize the event captures, the win_image_load_events table captures the entry of an image load
                    only
                    once. If the same image is loaded again, then the event is discarded. Duplicate entries, however,
                    will be
                    seen if between 2 loads of the same image, the extension was stopped.
                </li>
                <li>The unload of osquery may not cleanly unload the extension
                    and therefore the system may remain unclean due to the files created
                    by the extension. To clean the system up, run _cleanup.bat available
                    under plgx_win_extn
                </li>
                <li>The CREATE events in file tables do not have any MD5 value
                    with them because the file is just being created. If the content is
                    also written at the same time, the create will immediately be
                    followed by WRITE and CLOSE events which will have the MD5 hashes
                </li>
                <li>The win_include_paths and win_exclude_paths require full path
                    to the file or folder and should be \\ terminated for folder paths.
                    Specifying a folder will also include/exclude its sub-folders.
                    Between exclusions and inclusions, the exclusions are matched first
                    and given the preference.
                </li>
                <li>Events are not generated on ejection of Removable Media.</li>
                <li>Running multiple queries against the same table can give
                    confusing results. The reason is that we remove the results from our
                    cached DB as soon as they are returned in response to a query. In the
                    next query, the results will be the new events captured since the
                    last query was returned. Look at the sample query packs to see the
                    recommended way to design queries.
                </li>
                <li>If ctr-c is used to kill osquerd.exe, make sure to run
                    _cleanup.bat before launching another instance of osquery.
                </li>
                <li>Under heavy stress, the system memory resources get
                    stretched. It is best to design the queries optimally to avoid such a
                    situation.
                </li>
                <li>The kernel module of the extension is Windows mini-filter
                    driver that shares its "filter manager altitude" with the "minispy"
                    driver given with Windows DDK. In case you have minispy.sys running
                    on your system, please unload it.
                </li>
                <li>Non-English versions of Windows have not been tested and may
                    not work.
                </li>


            </ol>
            </p>


            <h4>For any other issue:</h4>
            <ol>


                <li>Email to <a href="mailto:open@polylogyx.com" target="_blank">open@polylogyx.com</a>

                </li>
                <li>Check out osquery's Windows slack channel</li>
            </ol>
        </main>
            </div>
        </div>
    </div>
</div>
{% endblock %}
