{% extends "layout.html" %}
{% block page_title %}
PolyLogyx - Hunt
{% endblock %}

{% block content %}

<script src="/static/js/plugins_search.js?ver=sdd"></script>
<script src="/static/js/filereader.js"></script>
<style>
   div.dataTables_wrapper {
    width: 100%;
    margin: 0 auto
  }
  .nav-background {
    background-color: ghostwhite;
  }
  .custom-input-file {
	  width: 100%;
		color: #495057;
		line-height: 1.5;
		padding: 0.65rem 1rem;
		font-weight: 400;
		border: 1px solid #ebedf2;
		border-radius: 4px;
	}
</style>
<!-- begin:: Content -->
<div class="kt-content kt-grid__item kt-grid__item--fluid">
  <div class="kt-portlet kt-portlet--mobile kt-portlet--responsive-mobile">
    <div class="kt-portlet__head">
      <div class="kt-portlet__head-label">
        <span class="kt-portlet__head-icon">
          <i class="kt-font-brand fa fa-crosshairs"></i>
        </span>
        <h3 class="kt-portlet__head-title">
          Hunt
        </h3>
      </div>
      <div class="kt-portlet__head-toolbar">
        <div class="kt-portlet__head-wrapper">
          <div class="">
            <a href="javascript:void(0);" onclick="goBack()" class="btn btn-clean btn-sm" data-skin="dark" data-toggle="kt-tooltip" data-placement="top" title="Back to Previous Page">
              <i class="fas fa-chevron-left"></i>
              Back
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="kt-portlet__body">

      <!--begin::Portlet-->
			<ul class="nav nav-pills nav-fill nav-background" role="tablist">
        {% for key, value in indicators.items() %}

				<li class="nav-item">
					<a class="nav-link {% if loop.first  %}active{% endif %}" data-toggle="tab" href="#div_{{ key }}">{{ value }}</a>
				</li>

        {% endfor %}
			</ul>

			<div class="tab-content">
        {% for key, value in indicators.items() %}

          <div class="tab-pane{% if loop.first %} active   {% endif %}" id="div_{{ key }}" role="tabpanel">
          <h3>{{ value }}</h3>
          <form class="form form-horizontal"  method="POST" role="form" id="form_{{ key }}" enctype="multipart/form-data">
            <input type="hidden" name="csrf_token" value="{{csrf_token()}}" id="csrf_token">
            <input type="hidden" name="search_column" value="{{ key }}">

            <div class="form-group row">
              <div class="col-5 col-form-label">
                <h6>Upload indicators using file separated by newline:</h6>
              </div>
              <div class="col-5 col-form-label">
                <input type="file" class="custom-input-file" name="indicator_file" id="">
              </div>
              <div class="col-2">
                <button type="submit" class="btn btn-primary submit"  >
                  <i class="fas fa-file-upload"></i>Upload
                  <span class="spinner-border spinner-border-sm" id="loader" style="display: none; margin-left: 10px" role="status" aria-hidden="true"></span>
                </button>
              </div>
            </div>
          </form>
          <!-- <div id="loader" class="cube-wrapper" style="display:none; margin-left:-200px">
            <div class="cube-folding">
                <span class="leaf1"></span>
                <span class="leaf2"></span>
                <span class="leaf3"></span>
                <span class="leaf4"></span>
            </div>
            <span class="loading" id="loading_text" data-name="Loading">Searching..</span>
          </div> -->
          <div id="text">

          </div>
          <div id="results_{{ key }}">

				</div>


          </div>
        {% endfor %}


			<!--end::Portlet-->

    </div>

  </div>
</div>
<!-- end:: Content -->
<script type="text/javascript">

    function isEmpty(str) {
        return (!str || 0 === str.length);
    }

    var list_indicators = [];
    $.fn.dataTable.ext.errMode = 'none';
    $(document).ready(function () {

        $(function () {
            if (window.FileReader) {
                $("input[name*='indicator_file']").on('change', function (fileLoadedEvent) {
                    var file = fileLoadedEvent.target.files[0];
                    var reader = new FileReader();
                    reader.onload = function (fileLoadedEvent) {
                        var textFromFileLoaded = fileLoadedEvent.target.result;

                        if (textFromFileLoaded.match(/[^\u0000-\u007f]/)) {
                            alert('ERROR: non-ASCII file "' + file.name + '"');
                        } else {
                            var lines = textFromFileLoaded.split('\n');
                            for (var line = 0; line < lines.length; line++) {
                                if (!isEmpty(lines[line])) {
                                    list_indicators.push(lines[line]);
                                }
                            }
                        }
                    }
                    reader.readAsText(file);
                });
            } else {
                console.log("no support");
            }
        });



        $(".submit").click(function (event) {

            event.preventDefault();

            var submit_btn = $(event.target);
            var form_id = submit_btn.parents('form').prop('id');
            var search_column = document.getElementById(form_id).elements["search_column"].value;

            var form = $('#' + form_id)[0];


            var form_data = new FormData(form);
            form_data.append('csrf_token', '{{csrf_token()}}');
            form_data.append('indicators', list_indicators);
            if (list_indicators.length == 0) {
                alert('No valid indicators provided')
                return

            }
            $("#loader").show();

            $.ajax({
                type: "POST",
                enctype: 'multipart/form-data',
                url: "/manage/ajax/indicator/search",
                data: form_data,
                processData: false,
                contentType: false,
                cache: false,
                timeout: 600000,
                success: function (data) {
                    console.log('success');
                    populateNodeData(data, search_column, list_indicators);
                    $("#loader").hide();
                    $("#btnSubmit").prop("disabled", false);
                },
                error: function (e) {

                    $("#result").text(e.responseText);
                    console.log("ERROR : ", e);
                    $("#btnSubmit").prop("disabled", false);

                }
            });

        });

    });


    function populateNodeData(data, searchColumn, indicators) {
        var nodes = data.nodes;
        var search_data = data.node_search_data;
        var id="results"+"_"+searchColumn;
        if ($.isEmptyObject(search_data)) {
            $("#"+id).html('No results found');
        } else {
              $("#"+id).html('');
        }
        for (var key in search_data) {

            var node_h3 = $("<h3></h3>").attr('style', 'color:#007bff')
            node_h3.html(nodes[key]);
              $("#"+id).append(node_h3);
            var node_data = search_data[key];
            populate_tables(key, node_data, searchColumn, nodes[key], indicators,id);

        }
    }

    function populate_tables(node_id, node_data, searchColumn, system_name, indicators,id) {
        var div_row = $("<div></div>")
            .addClass("row");
        var div_col_md = $("<div></div>")
            .addClass("col-md-12");
        var div_container = $("<div></div>")
            .addClass("container");
        var div_tab_wrap = $("<div></div>")
            .attr("id", "node_tab_" + node_id)
            .addClass("tab-wrap");



        for (var key in node_data) {
            var div_tab_content = $("<div></div > ").addClass("tab__content");
            var h3_elem = $("<h3></h3>");

            h3_elem.html(key);
            var div_table = $("<table></table>")
                .attr("id", node_id + key + "_table")
                .attr("style", "margin-left:auto;width:100%;overflow-x: scroll")
                .attr("width", "100%;")

                .addClass("table table-striped- table-hover table-checkable display dt-body-left");

            div_tab_content.append(h3_elem);
            div_tab_content.append(div_table);
            div_tab_wrap.append(div_tab_content);
        }
        div_container.append(div_tab_wrap);
        div_col_md.append(div_container);
        div_row.append(div_col_md);

          $("#"+id).append(div_row);
        for (var key in node_data) {

            fetchFromServer(key, node_id, '{{csrf_token()}}', searchColumn, system_name, indicators);
        }

    }


    function fetchFromServer(name, node_id, csrf_token, searchColumn, system_name, indicators) {
        console.log(indicators);

        var requestData = {}
        requestData['name'] = name;
        requestData['node_id'] = node_id;

        requestData['search_column'] = searchColumn;
        requestData['indicators'] = indicators.toString();


        requestData['csrf_token'] = csrf_token;

        $.ajax({
            type: 'POST',
            url: '/manage/ajax/indicator/node/query/search',
            data: requestData,
            success: function (data) {


                var keys = data.columns;
                var toFindColumn = 'md5';
                var toFindColumn1 = 'url';
                var toFindColumn2 = 'domain_name';
                var toFindColumn3 = 'sha1';


                var columnPosition;
                var colExist = false;
                var col1Exist = false;
                var col2Exist = false;
                var col3Exist = false;

                var counter = 0;

                keys.forEach(function (key) {
                    if (key.data == toFindColumn) {
                        colExist = true;
                        columnPosition = counter;

                    } else if (key.data == toFindColumn1) {
                        col1Exist = true;
                        columnPosition = counter;
                    } else if (key.data == toFindColumn2) {
                        col2Exist = true;
                        columnPosition = counter;
                    } else if (key.data == toFindColumn3) {
                        col3Exist = true;
                        columnPosition = counter;
                        console.log(col3Exist);

                    }
                    counter++;
                });

                var table_id = node_id + name.replace(/ /g, '\\ ') + "_table";
                table_id = table_id.replace(/\//g, '\\/');

                var table = $('#' + table_id).addClass("display nowrap");


                table.DataTable({
                    "processing": true,
                    "serverSide": true,
                    'iTotalRecords': data.iTotalRecords,
                    'iTotalDisplayRecords': data.iTotalDisplayRecords,
                    "aaData": data.aaData,
                    "aoColumns": data.columns,
                    "scrollY": 300,
                    "scrollX": true,
                    "searching": false,
                    "sPaginationType": "full_numbers",
                    "ordering": false,

                    "ajax":

                        {
                            "url": "/manage/ajax/indicator/node/query/search",
                            "type": "POST",
                            data: requestData
                        },
                    "bJQueryUI": true,
                    dom: 'Bfrtip',
                    "buttons": [{
                        extend: 'csvHtml5',
                        title: 'export',
                        action: function (e, dt, node, config) {
                            var currentDate = new Date();
                            $.ajax({
                                "url": "/manage/ajax/hunt/search/csv",
                                "type": 'POST',

                                "data": requestData,
                                "success": function (res, status, xhr) {
                                    var csvData = new Blob([res], {type: 'text/csv;charset=utf-8;'});
                                    var csvURL = window.URL.createObjectURL(csvData);
                                    var tempLink = document.createElement('a');
                                    tempLink.href = csvURL;
                                    tempLink.setAttribute('download', name + '_' + system_name + '_' + currentDate.getTime());
                                    tempLink.click();
                                }
                            });
                        }
                    }],


                    columnDefs: [
                        {
                            render: function (data, type, full, meta) {
                                if (type === 'display') {
                                    if (colExist) {
                                        return '<div class="text-wrap width">' + '<a target="_blank" style="color:blue"  href="https://www.virustotal.com/#/file/' + data + '/detection' + '";>' + data + "</a></div>";

                                    } else if (col1Exist) {

                                        return '<div class="text-wrap width">' + '<a href="#" style="color:blue"  onclick="window.open(SHA256(' + "'" + data + "'" + '))";>' + data + "</a>" + "</div>";

                                    } else if (col2Exist) {
                                        return '<div class="text-wrap width">' + '<a target="_blank" style="color:blue" href="https://www.virustotal.com/#/domain/' + data.substring(1, data.length) + '";>' + data + "</a></div>";


                                    } else if (col3Exist) {
                                        return '<div class="text-wrap width">' + '<a target="_blank" style="color:blue"  href="https://www.virustotal.com/#/file/' + data + '/detection' + '";>' + data + "</a></div>";
                                    }
                                } else {
                                    return "<div class='text-wrap width'>" + data + "</div>";
                                }
                            },
                            targets: columnPosition
                        }
                    ],

                });
            }
        });
    }

</script>

<script type="text/javascript">
    function message_upload() {
        Swal.fire({
            title: '',
            text: 'Uploading...',
            timer: 4000,
            onOpen: function () {
                swal.showLoading()
            }
        }).then(function (result) {
            if (result.dismiss === 'timer') {
                console.log('Sucessfully Uploaded')
            }
        })
    }
</script>

{% endblock %}
