{% extends "layout.html" %}
{% block page_title %}
PolyLogyx - Pack
{% endblock %}

{% block content %}

<div class="kt-content kt-grid__item kt-grid__item--fluid" id="kt_content">
  <div class="row">
    <div class="col-lg-12">
                {% if pack is defined %}
                <h1>{{ pack.name }}</h1>

                {% include "_pack.html" %}

                {% else %}

                {% include "forms/pack.html" %}

                {% endif %}

            </div>
        </div>
    </div>

{% endblock %}
