{% extends "layout.html" %}
{% block page_title %}
PolyLogyx - Rule
{% endblock %}

{% block content %}
<style type="text/css">
  .active {
    background-color: #f7f8fa;
  }
  .no-mar-botom{
    margin-bottom: 0px;
  }
  .desc-background_rules {
    font-size: 100%;
    color: #e83e8c;
    word-break: break-word;
    font-family: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
  }
  .head-table {
    font-weight: 600 !important;
  }
  .portlet-body_align {
    height: 680px;
    margin-bottom:0px;
    border: 15px solid #ebedf2;
    padding: 10px;
  }
  .portlet-body_align__table {
    margin-bottom:0px;
    border: 15px solid #ebedf2;
  }
</style>

<link href="/static/css/pack.css" rel="stylesheet" type="text/css">
<div class="kt-content kt-grid__item kt-grid__item--fluid">
  <div class="kt-portlet kt-portlet--mobile kt-portlet--responsive-mobile" style="margin-bottom: 0px;">
    <div class="kt-portlet__head kt-portlet__head--lg">
      <div class="kt-portlet__head-label">
        <span class="kt-portlet__head-icon">
          <i class="kt-font-brand fa fa-clipboard-list"></i>
        </span>
        <h3 class="kt-portlet__head-title">
          Rules
        </h3>
      </div>
      <div class="kt-portlet__head-toolbar">
        <div class="kt-portlet__head-wrapper">
          <div class="">
            <a href="{{ url_for('manage.add_rule') }}" class="btn btn-outline-success btn-icon-sm">
              <i class="fa fa-plus-square"></i>
              Add Rule
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="kt-portlet__body">
      {% if rules %}
      <!--Begin:: Content -->
      <div class="kt-content">
        <div class="row">
          <div class="col-md-4">
            <!--begin::Portlet-->
            <div class="kt-portlet no-mar-botom portlet-body_align">
              <div class="kt-portlet__body" style="padding: 0px;">
                <!--begin: Search Table -->
                <div class="">
                  <div class="kt-input-icon kt-input-icon--left" style="margin-bottom: 10px;">
                    <input type="text" class="form-control" placeholder="Search Rules here..." id="search_rule_name">
                    <span class="kt-input-icon__icon kt-input-icon__icon--left">
                      <span><i class="la la-search"></i></span>
                    </span>
                  </div>
                </div>
                <!--end: Search Table -->

                <!--begin::Notifications-->
                <div class=""  style="height: 565px; overflow-x:scroll; margin-bottom:25px;">
                  {% for rule in rules | sort (attribute='name') %}
                  <div class="kt-notification conf-div" id="rule" style="cursor:pointer;" data-skin="dark" data-toggle="kt-tooltip" data-placement="top" title="{{rule.name}}">
                    <a data-target="{{rule.id}}" class="kt-notification__item conf-link">
                      <div class="kt-notification__item-icon">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" class="kt-svg-icon">
                          <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <rect id="bound" x="0" y="0" width="24" height="24" />
                            <path
                              d="M10.5,5 L20.5,5 C21.3284271,5 22,5.67157288 22,6.5 L22,9.5 C22,10.3284271 21.3284271,11 20.5,11 L10.5,11 C9.67157288,11 9,10.3284271 9,9.5 L9,6.5 C9,5.67157288 9.67157288,5 10.5,5 Z M10.5,13 L20.5,13 C21.3284271,13 22,13.6715729 22,14.5 L22,17.5 C22,18.3284271 21.3284271,19 20.5,19 L10.5,19 C9.67157288,19 9,18.3284271 9,17.5 L9,14.5 C9,13.6715729 9.67157288,13 10.5,13 Z"
                              id="Combined-Shape" fill="#000000" />
                            <rect id="Rectangle-7-Copy-2" fill="#000000" opacity="0.3" x="2" y="5" width="5" height="14" rx="1" />
                          </g>
                        </svg>
                      </div>
                      <div class="kt-notification__item-details">
                        <div class="kt-notification__item-title">
                          {{rule.name}}
                        </div>
                      </div>
                    </a>
                  </div>
                  {% else %}

                  {% endfor %}
                </div>
                <!--End::Notifications-->

              </div>
            </div>
            <!--end::Portlet-->
          </div>
          <!-- <div class="kt-separator"></div> -->
          <div class="col-md-8">
            <!--begin::Portlet-->
            {% for rule in rules %}
            <div class="right-conf kt-portlet no-mar-botom portlet-body_align__table" id="{{rule.id}}">
              <div class="kt-portlet__head">
        				<div class="kt-portlet__head-label">
        					<span class="kt-portlet__head-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" class="kt-svg-icon">
                      <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <rect id="bound" x="0" y="0" width="24" height="24" />
                        <path
                          d="M10.5,5 L20.5,5 C21.3284271,5 22,5.67157288 22,6.5 L22,9.5 C22,10.3284271 21.3284271,11 20.5,11 L10.5,11 C9.67157288,11 9,10.3284271 9,9.5 L9,6.5 C9,5.67157288 9.67157288,5 10.5,5 Z M10.5,13 L20.5,13 C21.3284271,13 22,13.6715729 22,14.5 L22,17.5 C22,18.3284271 21.3284271,19 20.5,19 L10.5,19 C9.67157288,19 9,18.3284271 9,17.5 L9,14.5 C9,13.6715729 9.67157288,13 10.5,13 Z"
                          id="Combined-Shape" fill="#000000" />
                        <rect id="Rectangle-7-Copy-2" fill="#000000" opacity="0.3" x="2" y="5" width="5" height="14" rx="1" />
                      </g>
                    </svg>
        					</span>
        					<h3 class="kt-portlet__head-title">
        						{{rule.name}}
        					</h3>
        				</div>
        				<div class="kt-portlet__head-toolbar">
        					<div class="kt-portlet__head-actions">
                    <a href="{{ url_for('manage.rule', rule_id=rule.id) }}" class="btn btn-clean btn-sm btn-icon btn-icon-md" data-skin="dark" data-toggle="kt-tooltip" data-placement="top" title="Edit Rule">
                      <i class="far fa-edit"></i>
                    </a>
                    <!-- <a href="#" class="btn btn-clean btn-sm btn-icon btn-icon-md" data-skin="dark" data-toggle="kt-tooltip" data-placement="top" title="Delete Rule">
                      <i class="far fa-trash-alt"></i>
                    </a> -->
        						<!-- <a href="#" class="btn btn-clean btn-sm btn-icon btn-icon-md">
        							<i class="flaticon-more-1"></i>
        						</a> -->
        					</div>
        				</div>
        			</div>
              <div class="kt-portlet__body right-conf-card" style="height: 565px; overflow-x:scroll; margin-bottom:25px; padding: 1.25rem;">
                <table class="table table-striped- table-bordered table-hover table-checkable">
                  <tbody>
                    <tr>
                      <td class="head-table">Description</td>
                      <td class="conf-table-val">
                        <div class="sql hljs desc-background_rules">
                          <span class="hljs-keyword truncate_rules">{{rule.description}}</span>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td class="head-table">Alerters</td>
                      <td class="conf-table-val">
                        <div class="desc-background_rules">{{ rule.alerters | join(', ') }}</div>
                      </td>
                    </tr>
                    <tr>
                      <td class="head-table">Severity</td>
                      <td class="conf-table-val">
                        <div class="desc-background_rules">{{ rule.severity }}</div>
                      </td>
                    </tr>
                    <tr>
                      <td class="head-table">Status</td>
                      <td class="conf-table-val">
                        {% if rule.status=='ACTIVE' %}
                        <div class="desc-background_rules"><i class="fa fa-check"></i></div>
                        <!-- <span class="col-md-1"></span> -->
                        {% else %}
                        <div class="desc-background_rules"><i class="fa fa-times"></i></div>
                        <!-- <span class="col-md-1"></span> -->
                        {% endif %}
                      </td>
                    </tr>
                    {% if rule.conditions %}
                    <tr>
                      <td class="head-table">Conditions</td>
                      <td>
                        <div class="desc-background_rules truncate_rules">
                          {{ rule.conditions.condition }}
                          <ul>
                            {% set group = rule.conditions %}
                            {% for item in group.rules recursive %}
                            <li>
                              {% if item.rules %}
                              {{ item.condition }}<br />
                              <ul>{{ loop(item.rules) }}</ul>
                              {% else %}
                              {% if item.operator.startswith('column_') and not item.operator.endswith('_empty') %}
                              Column "{{ item.value[0] }}" {{ item.operator[7:] | pretty_operator }} "{{ item.value[1] }}"
                              {% elif item.operator.startswith('column_') and item.operator.endswith('_empty') %}
                              Column "{{ item.value }}" {{ item.operator[7:] | pretty_operator }}
                              {% else %}
                              {{ item.id | pretty_field }} {{ item.operator | pretty_operator }} "{{ item.value }}"
                              {% endif %}
                              {% endif %}
                            </li>
                            {% endfor %}
                          </ul>
                        </div>
                      </td>
                    </tr>
                    {% endif %}
                    {% if rule.type %}
                    <tr>
                      <td class="head-table">Type</td>
                      <td>{{ rule.type }}</td>
                    </tr>
                    {% endif %}
                    {% if rule.technique_id %}
                    <tr>
                      <td class="head-table">Technique id</td>
                      <td>{{ rule.technique_id }}</td>
                    </tr>
                    {% endif %}
                    {% if rule.tactics %}
                    <tr>
                      <td class="head-table">Tactics</td>
                      <td>{{ rule.tactics | array_to_string}}</td>
                    </tr>
                    {% endif %}
                  </tbody>
                </table>
              </div>
            </div>
            {% endfor %}
            <!--end::Portlet-->
          </div>
        </div>
      </div>
      {% else %}
       <div class="kt-content">
         <div class="container">
           <div class="row">
             <p style="margin-top:50px;">No rules created. Click on add rule to create one</p>
           </div>
         </div>
       </div>
      <!--Begin:: Content -->
      {% endif %}
    </div>
  </div>
</div>
<!-- end:: Content -->

<script type="text/javascript">
  $(document).ready(function() {
    $(".right-conf").first().addClass('show');
    $('.conf-box').first().addClass('box-clicked');

    (function() {
      var showChar = 300;
      var ellipsestext = "...";

      $(".truncate_rules").each(function() {
        var content = $(this).html();
        if (content.length > showChar) {
          var c = content.substr(0, showChar);
          var h = content;
          var html = '<div class="truncate-text" style="display:block">' + c + '<span class="moreellipses">' + ellipsestext + '&nbsp;<a href="" class="kt-link moreless more">Read More</a></span></span></div><div class="truncate-text" style="display:none">' + h + '<a href="" class="kt-link moreless less">&nbsp;Read Less</a></span></div>';
          $(this).html(html);
        }
      });

      $(".moreless").click(function() {
        var thisEl = $(this);
        var cT = thisEl.closest(".truncate-text");
        var tX = ".truncate-text";

        if (thisEl.hasClass("less")) {
          cT.prev(tX).toggle();
          cT.slideToggle();
        } else {
          cT.toggle();
          cT.next(tX).fadeToggle();
        }
        return false;
      });
    })();

  });

  $('.conf-link').on('click', function() {
      $('.conf-div').removeClass('active');
    $(this).parent().addClass('active');

    var div_id = "#" + $(this).data('target');
    $('.right-conf').removeClass('show');
    $('div.conf-box').removeClass('show');
    $(div_id).addClass('show');
    $('.conf-box').removeClass('box-clicked');

    $(this).find("div.conf-box").addClass('show').addClass('box-clicked');
  });



  $( ".conf-div" ).first().addClass('active');


</script>
<script>
$(document).ready(function(){
  $("#search_rule_name").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#rule *").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});
</script>

{% endblock %}
