{% extends "layout.html" %}
{% block page_title %}
PolyLogyx - Uploaded YARA File
{% endblock %}

{% block content %}
<!-- begin:: Content -->
      <div class="kt-content  kt-grid__item kt-grid__item--fluid" id="kt_content">

        <div class="kt-portlet kt-portlet--mobile kt-portlet--responsive-mobile">
          <div class="kt-portlet__head kt-portlet__head--lg">
            <div class="kt-portlet__head-label">
              <span class="kt-portlet__head-icon">
                <i class="kt-font-brand fa fa-user-cog"></i>
              </span>
              <h3 class="kt-portlet__head-title">
                Uploaded a yara  file
              </h3>
            </div>
            <div class="kt-portlet__head-toolbar">
              <div class="kt-portlet__head-wrapper">
                <div class="kt-portlet__head-actions">
                  <button type="button" class="btn btn-outline-success btn-icon-sm" data-toggle="modal" data-target="#add_yara" aria-haspopup="true" aria-expanded="false">
  		              <i class="flaticon2-plus"></i>
  									&nbsp;
  									<span>Add YARA's</span>
  		            </button>
                  <!--Begin:: Modal-->
                  <div class="modal fade" id="add_yara" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" style="display: none; position: fixed; background-color: hsla(0, 0%, 0%, 0.45)">
  		             <form class="kt-form" id="kt_form" method="POST"  enctype="multipart/form-data">
  		              <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
  		                <div class="modal-content">
  		                  <div class="modal-header">
                          <h3 class="">Add YARA File</h3>
  												<button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
  		                  </div>
  		                   <div class="modal-body kt-scroll" data-scroll="true" data-height="" data-scrollbar-shown="true">
  											 <!--begin:: Widgets/Tasks -->

                                 {{ form.csrf_token() }}
                              <div class="row">
                                <div class="col-xl-2"></div>
                                  <div class="col-xl-8">
                                    <div class="kt-section kt-section--first">
                                      <div class="kt-section__body">
                                        <div class="form-group row">
                                          <label class="col-3 col-form-label">Upload File</label>
                                          <div class="custom-file col-9">

                                                {{ form.yara(placeholder="Path to yara file", id="customFile",class_="custom-file-input") }}
                														<label class="custom-file-label" for="customFile">Choose a yara file</label>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                <div class="col-xl-2"></div>
                              </div>

							            <!--end:: Widgets/Tasks -->
  		                    </div>
	                        <div class="modal-footer align-center">
	                            <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Cancel</button>
	                            <button type="submit" class="btn btn-success">Upload</button>
	                        </div>
  		                  </div>
  		                </div>
                           </form>
  		            </div>
                    <!--End:: Modal-->
                </div>
              </div>
            </div>
          </div>
          <div class="kt-portlet__body">
            <!--begin: Search Form -->
            <div class="kt-form kt-form--label-right kt-margin-t-20 kt-margin-b-10">
              <div class="row align-items-center">
                <div class="col-xl-8 order-2 order-xl-1">
                  <div class="row align-items-center">
                    <div class="col-md-4 kt-margin-b-20-tablet-and-mobile">
                      <div class="kt-input-icon kt-input-icon--left">
                        <input type="text" class="form-control" placeholder="Search..." id="generalSearch">
                        <span class="kt-input-icon__icon kt-input-icon__icon--left">
                          <span><i class="la la-search"></i></span>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>

            <!--end: Search Form -->
          </div>
          <div class="kt-portlet__body kt-portlet__body--fit">

            <!--begin: Datatable -->
            <table class="table table-hover table-checkable" id="node_table">
              <thead>

                <tr>
                  <th title="">Filename</th>
                  <th title="">Type</th>
                </tr>
              </thead>
              <tbody>
                {% for file_name in file_list %}
                    {% if file_name and file_name !='list.txt' %}
                    <tr>
               <td><a  class="name">{{ file_name}}</a></td>

			<td><a >Eicar File</a></td>
                    </tr>
                    {% endif %}
              {% endfor %}

              </tbody>
            </table>

            <!--end: Datatable -->
          </div>
        </div>
      </div>
      <!-- end:: Content -->


    <div class="body-content">
        <div class="row">
            <div class="col-md-9">



                {% include "forms/yara.html" %}



            </div><!--./col-md-9-->
        </div><!--./row-->
    </div><!--./body-content-->

{% endblock %}
