<!--begin::Portlet-->
<div class="kt-grid kt-grid--hor kt-grid--root">
  <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--ver kt-page">
    <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor kt-wrapper" id="kt_wrapper">


<div class="kt-portlet kt-portlet--last kt-portlet--responsive-mobile" id="kt_page_portlet">
<div class="kt-portlet__head kt-portlet__head--lg">
<div class="kt-portlet__head-label">
<h3 class="kt-portlet__head-title txt-fmly">

  <i class="kt-font-brand fa fa-plus-square"></i>
  Add Query
  <!-- {% endif %} -->
</h3>
&nbsp;

</div>
<div class="kt-portlet__head-toolbar">
<div class="kt-portlet__head-wrapper">
  <a href="javascript:void(0)" (click)="goBack()" class="btn btn-clean btn-sm" data-skin="dark" data-toggle="kt-tooltip" data-placement="top" title="Back to Previous Page">
    <i class="fas fa-chevron-left back_icon_align"></i>
    Back
  </a>
</div>
</div>
</div>
<div class="kt-portlet__body txt-fmly">
  <form class="kt-form" [formGroup]="addQuery" (ngSubmit)="onSubmit()">
      <div class="row">
          <div class="col-xl-2"></div>
          <div class="col-xl-12">
              <div class="kt-section kt-section--first">
                  <div class="kt-section__body">

                      <div class="form-group row required">

                        <div class="col-2 col-form-label">

                          <label class="required">Name:</label>

                          </div>

                          <div class="col-10">
                            <input type= "text" class="form-control" name="name" id="name" [(ngModel)]="addQueryObj.name" formControlName="name" [ngClass]="{ 'is-invalid': submitted && f.name.errors }" />
                            <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                         <div *ngIf="f.name.errors.required">Name is required</div>
                         </div>


                          </div>
                      </div>
                      <div class="form-group row required">
                         <div class="col-2 col-form-label">
                           <label class="required">Query:</label>

                           </div>

                          <div class="col-10">
                            <input type="hidden" formControlName="sql" name="sql" id="sql" value="" [(ngModel)]="addQueryObj.sql" [ngClass]="{ 'is-invalid': submitted && f.sql.errors }">
                            <div class="query-editor">
                              <section class="query-editor__wrapper">
                                <div id="js-query-editor" class="query-editor__flex-editor" style="flex-basis: calc((25vh));">
                                  <!-- <div class="query-editor__editor ace_editor ace_focus" id="live-query-editor"></div> -->
                                  <ace-editor
                                    #editor style="height:70px;">
                                  </ace-editor>
                                </div>
                              </section>
                            </div>
                            <div *ngIf="submitted && f.sql.errors" class="invalid-feedback">
                              <div *ngIf="f.sql.errors.required">Query is required</div>
                              </div>
                            <!-- <div class="query-editor form-control query-editor__wrapper">
                              <div id="js-query-editor" class="query-editor__flex-editor">
                                <div class="query-editor__editor ace_editor ace_focus" id="live-query-editor"></div>
                              </div>
                            </div> -->
                            <!-- <input type= "text" class="form-control" name="query" id="sql" [(ngModel)]="addQueryObj.query" formControlName="query" [ngClass]="{ 'is-invalid': submitted && f.query.errors }"/>
                            <div *ngIf="submitted && f.query.errors" class="invalid-feedback">
                            <div *ngIf="f.query.errors.required">query is required</div>
                            </div> -->
                            <!-- <ace-editor [(text)]="text" #editor [mode]="'sql'" formControlName="query"  [theme]="'eclipse'" [autoUpdateContent]="true" [readOnly]="false" id ="live-query-editor" style="height:100px;" [ngClass]="{ 'is-invalid': submitted && f.query.errors }"></ace-editor>
                            <div *ngIf="submitted && f.query.errors" class="invalid-feedback">
                             <div *ngIf="f.query.errors.required">Query is required</div>
                           </div> -->
                            <span class="description_ex">Example: select * from processes;</span>


                          </div>
                      </div>
                      <div class="form-group row required">
                          <div class="col-2 col-form-label">
                            <label class="required">Interval:</label>
                            </div>

                                 <!-- {{ form.interval.label(class_="col-2 col-form-label") }} -->
                          <div class="col-10">
                           <input type= "number"   class="form-control" min="1" name="interval" id="interval" [(ngModel)]="addQueryObj.interval" formControlName="interval" [ngClass]="{ 'is-invalid': submitted && f.interval.errors }"  />
                         
                            <div *ngIf="submitted && f.interval.errors" class="invalid-feedback">
                            <div *ngIf="f.interval.errors.required">interval field is required</div>

                            </div>

                           
                          </div>
                      </div>

                      <div class="form-group row required">
                        <label class="col-2 col-form-label" for="platform">Platform</label>
                        <div class="col-10">

                         <select  class="form-control r-selectpicker" id="platform" name="platform" placeholder="select platform" formControlName="platform" class="form-control" [(ngModel)]="addQueryObj.platform" >
                          <option value="all">All</option>
                          <option value="darwin">Darwin</option>
                          <option value="linux">Linux</option>
                          <option value="freebsd">FreeBSD</option>
                          <option value="posix">POSIX Compatible</option>
                          <option value="windows">Windows</option>
                          </select>
                          <!-- <div *ngIf="submitted && f.platform.errors" class="invalid-feedback">
                            <div *ngIf="f.platform.errors.required">platform field is required</div>
                          </div> -->
                         </div>
                       </div>
                      <div class="form-group row">
                        <label class="col-2 col-form-label">
                          Version
                        </label>


                          <div class="col-10">
                            <input type= "text" class="form-control" name="version" id="version" [(ngModel)]="addQueryObj.version" formControlName="version"/>


                          </div>
                      </div>
                      <div class="form-group row">
                        <label class="col-2 col-form-label">
                          Description
                        </label>

                          <div class="col-10">
                            <textarea class="form-control" rows="3" name="description" id="description" [(ngModel)]="addQueryObj.description" formControlName="description" ></textarea>

                          </div>
                      </div>
                      <div class="form-group row">
                          <label class="col-2 col-form-label">Value</label>
                          <div class="col-10">
                              <textarea class="form-control" rows="3" name="value" [(ngModel)]="addQueryObj.value" formControlName="value"></textarea>
                          </div>
                      </div>
                    

                      <div class="form-group row">
                        <label class="col-2 col-form-label">packs</label>
                        <div class="col-10">
                          <angular2-multiselect [data]="dropdownPacknameList" [(ngModel)]="selectedPacknameItems" formControlName="packs"
                              [settings]="dropdownPacknameSettings" 
                              (onSelect)="onItemSelect($event)" 
                              (onDeSelect)="OnItemDeSelect($event)"
                              (onSelectAll)="onSelectAll($event)"
                              (onDeSelectAll)="onDeSelectAll($event)">
                          </angular2-multiselect>
                          <!-- <select  class="browser-default custom-select" id="alerters"  name="alerters" [(ngModel)]="addRuleObj.alerters" formControlName="alerters">
                            <option value="" selected="">Nothing Selected</option>
                            <option value="Rsyslog">Rsyslog</option>
                            <option value="Email">Email</option>  
                         </select> -->
                        </div>
                      </div>


               
                      

                      <!-- <div class="form-group row">
                        <label class="col-2 col-form-label" for="packs">Packs</label>
                        <div class="col-10">
                          <label for="exampleFormControlSelect1"></label>

                         <select  class="form-control r-selectpicker" id="packs" name=packs formControlName="packs" class="form-control" [(ngModel)]="addQueryObj.packs" [ngClass]="{ 'is-invalid': submitted && f.packs.errors }" multiple>
                          <option value="all-events-pack">all-events-pack</option>
                          <option value="binary-monitoring-pack">binary-monitoring-pack</option>
                          <option value="forensic-pack">forensic-pack</option>
                          <option value="hardware-monitoring">hardware-monitoring</option>
                          <option value="incident-response">incident-response</option>
                          <option value="it-compliance">it-compliance</option>
                          <option value="user-creation-updation-pack">user-creation-updation-pack</option>
                          <option value="unwanted-chrome-extensions">unwanted-chrome-extensions</option>
                          <option value="osquery-monitoring">osquery-monitoring</option>
                          <option value="vuln-management">vuln-management</option>
                          <option value="windows-attacks">windows-attacks</option>
                          <option value="windows-hardening">windows-hardening</option>
                          </select>

                           </div>
                         </div> -->
                      <div class="form-group row">
                        <div class="col-2 col-form-label">
                          Tags
                          </div>


                          <div class="col-10">
                            <textarea class="form-control" rows="3" name="tags" placeholder="One tag per line" [(ngModel)]="addQueryObj.tags" formControlName="tags"></textarea>

                          </div>
                      </div>
                      <div class="form-group row">
                        <label class="col-2 col-form-label">Query Options</label>

                          <div class="col-10">
                              <div class="kt-checkbox-inline">


                                  <div class="checkbox col-sm-5">
                                      <label>

                                        <input formControlName="snapshot" type="checkbox" [(ngModel)]="snapshot" >

                                        Snapshot

                                     </label>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>


              <div class="kt-portlet__foot txt-fmly">
                <div class="mandary ">
                    <span class="" style="color: #e32;">*</span><span style="font-size: smaller;color: #646c9a;"> Mandatory Fields</span>
                  </div>
                <div class="kt-form__actions kt-form__actions--center">

                  <button type="submit" class="btn btn-success"><i class="fa fa-plus"></i>Add</button>


                  <button type="reset" style="margin-left:5px;" style="margin-left:5px;" class="btn btn-secondary">Clear</button>
                </div>

              </div>
          </div>
          <div class="col-xl-2"></div>
      </div>
  </form>
</div>
</div>
</div>
</div>
</div>



<!--end::Portlet-->
