.right-content-conf {
    border-left: 0px dotted lightgray;
    }
    pre {
    background-color: #F0F0F0;
    color: crimson;
    /* overflow-y: scroll; */
    }
    .form--label {
    color: #22282c;
    font-weight: 500;
    padding-top: 0.65rem;
    padding-bottom: .65rem;
    }
    .form--p {
    color: #22282c;
    word-break: break-all;
    padding-top: 0.65rem;
    padding-bottom: .65rem;
    }
    .nav-background {
    background-color: ghostwhite;
    }
    .p_table {
    border: none;
    }
    .p_tag {
    font-size: 13px;
    font-weight: 300;
    font-family: Poppins;
    }
    .txt-clr{
    color: indianred;
    text-align: center;
    /* margin-bottom: 0px; */
    font-weight: 400;
    }
    .dataTables_filter {
    /* width: 200px; */
    float: right;
    }
   
    .kt-notification .conf-div .active {
    background-color: #f7f8fa;
    }
    .no-mar-botom{
    margin-bottom: 0px;
    }
    .desc-background-query {
    font-size: 100%;
    color: #e83e8c;
    word-break: break-word;
    font-family: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
    }
    .head-table {
    font-weight: 600 !important;
    }
    .portlet-body_align {
    height: 637px;
    margin-bottom:0px;
    border: 15px solid #ebedf2;
    padding: 10px;
    }
    .portlet-body_align__table {
    margin-bottom:0px;
    border: 15px solid #ebedf2;
    }


    .style-accordion-background {
    height: 50px;
    padding: 15px;
    cursor: pointer;
    background-image: linear-gradient(to right, #b8bccc , #ffffff)!important;
    color: #282829;
    font-size: 15px;
    font-family: monospace;
    }
    .desc-background_packs {
    font-size: 100%;
    color: #e83e8c;
    word-break: break-word;
    font-family: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
    }
    /* .right-conf {
    display: none;
    } */
    .right-conf-query {
    display: none;
    }
    .show {
    display: block;
    }

    .overflow {
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.overflow:hover {
  overflow: visible;
}

.overflow:hover span {
  position: relative;
  background-color: white;
  //box-shadow: 0 0 4px 0 black;
  border-radius: 1px;
  z-index: 99;
  padding-right: 10px;
  //padding: 8px;
}
.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0; // remove the gap so it doesn't close
 }
 .host_name{
   margin: 9px;color: #0000ffc7;margin-right:-5px;margin-left:10px;
 }
 .hw_mdl{
   margin: 9px;color: #0000ffc7;margin-right:5px;margin-left:17px;
 }
 .cpu_cores{
   margin: 9px;color: #0000ffc7;margin-right:5px
 }
 .ph_memory{
   margin: 9px;color: #0000ffc7;margin-right:2px
 }
 .last_ip{
   margin-left:3px;margin-right:3px;margin-top:5px
 }
 .rs_action{
   margin: 9px; color: #0000ffc7;margin-right:5px;
 }
 .serial{
   margin: 9px;color: #0000ffc7;margin-right:5px
 }
 .qr_version{
   width: 15px;height: 17px;margin-top: 9px;margin-left: 10px;margin-right: 4px;color: #0000ffc7;
 }
 .ex_version{
   height: 18px;padding-left: 6px;margin-top: 9px;margin-right:5px
 }
 .enrolled{
   margin: 12px;color: #0000ffc7;margin-left:8px;margin-right:9px
 }
 .lastseen{
   color: #0000ffc7;padding-right: 5px;margin-top:13px; padding-left:6px;
 }
 .lastseen_menu{
   margin-top: -17px;width: 260px;
 }
 .sub_menu_wd{
   padding:8px 16px !important;cursor:default;
 }


 .alerts-color-otx:hover .kt-widget26__desc {
 color: #78c351 !important;
 }
 .kt-portlet__body-alerts:hover .table-inner-delete {
 visibility:visible;
 }
 .kt-portlet__body-alerts:hover .text-overlap {
 width: 140px;
 }
 .kt-portlet__body-alerts:hover .text-overlap-text {
 height: 50px;
 width: 100px;
 overflow: hidden;
 text-overflow: ellipsis;
 }
 .kt-portlet__body-alerts:hover .text-overlap-img {
 height: 30px;
 width: 30px;
 margin-top: -10px;
 margin-left: -58px;
 }

 .kt-portlet__body-alerts:hover .severity-dash {
 position: absolute;
 top: 0px;
 float: right;
 right: -5px;
 z-index: 50;
 padding: 0px;
 -webkit-transform: translate(-10px, 0);
 -moz-transform: translate(-10px, 0);
 -ms-transform: translate(-10px, 0);
 -o-transform: translate(-10px, 0);
 transform: translate(-10px, 0);
 background: rgba(255, 255, 255, 0.4);
 }
 .kt-portlet__body-alerts:hover .severity-dash {
 display: block;
 margin: 5px;
 background: rgba(255, 255, 255, 0.4);
 width: 45%;
 height: 78%;
 text-align: left;
 padding: 10px;
 -webkit-box-shadow: 0 0 50px 0 rgba(82,63,105,0.15);
 box-shadow: 0 0 50px 0 rgba(82,63,105,0.15);
 -webkit-border-radius: 4px 0 0 4px;
 -moz-border-radius: 40px 0 0 4px;
 border-radius: 4px 0 0 4px;
 /* -webkit-transition: all 1s;
 -moz-transition: all 1s;
 -ms-transition: all 1s;
 -o-transition: all 1s;
 transition: all 1s; */
 animation-duration: 1s;
 animation-name: slideout;
 }
 .table-inner-delete {
 visibility:hidden;
 }
 .body-fluid {
     height: 120px !important;
 }
 .alerts-color-ibm:hover .kt-widget26__desc {
 color: #91d9f6 !important;
 }
 .alerts-color-rule:hover .kt-widget26__desc {
 color: #e87373 !important;
 }
 .alerts-color-virus:hover .kt-widget26__desc {
 color: #3c5ff6 !important;
 }
 .Kt-lbl-sz{
   font-size: 1.0rem !important;
 }
 #divchart1{
     position: relative;
     //margin: auto;
     height: 230px;
     width: 100%;
 }

    @import "~node_modules/ngx-chips/core/styles/core/_core.scss";
$foundation-primary: #30B0A4;
$foundation-primary-dark: darken($foundation-primary, 10%);
$font-family: "Poppins", sans-serif !important;

// this is the container's theme
$foundation-theme: (
    font-family: $font-family,
    container-border-bottom: 1px solid $foundation-primary
);

// this is the tag's theme
$foundation-tag-theme: (
    font-family: $font-family,
    background: $foundation-primary,
    background-focused: $foundation-primary-dark,
    background-active: $foundation-primary-dark,
    background-hover: $foundation-primary-dark,
    color: #fff,
    color-hover: #fff,
    border-radius: 2px,
    height: 25px,
    line-height: 23px,
    font-size: 12px,
   font-weight: 700
);

// this is the delete icon's theme
$foundation-icon-theme: (
    fill: #fff,
    fill-focus: #eee,
    transition: all 0.35s
);

// apply theme to the container
::ng-deep tag-input .ng2-tag-input.foundation-theme {
    @include tag-input-theme($foundation-theme);
}

// apply theme to the tags
::ng-deep tag-input .ng2-tag-input.foundation-theme tag {
    @include tag-theme($foundation-tag-theme);
}

// apply theme to the delete icon
::ng-deep tag-input .ng2-tag-input.foundation-theme tag delete-icon {
    @include icon-theme($foundation-icon-theme);
}
::ng-deep tag-input .ng2-tag-input.foundation-theme{
    border-bottom: 2px solid  #fff;
  }
  ::ng-deep tag-input .ng2-tag-input.foundation-theme tag delete-icon svg {
    height: 25px;
  }

.form--label {
    color: #22282c;
    font-weight: 500;
    padding-top: 0.65rem;
    padding-bottom: 1.7rem;
}


.col-md-3 {
 max-width: 25%;}

.form--p {
     color: #22282c;
    word-break: break-all;
     padding-top: 0.65rem;
    padding-bottom: .65rem;
    }
.col-md-9 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;}
    .active_data {
        background-color: #f7f8fa;
        } 
