<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.6/ace.js"></script> -->

<link href="/static/css/query-builder.default.css" rel="stylesheet" type="text/css">

<!-- <link href="/static/css/jsoneditor/jsoneditor.min.css" rel="stylesheet" type="text/css">

<link href="/static/css/jsoneditor/jsoneditor.min.css" rel="stylesheet" type="text/css">
<script src="/static/js/jsoneditor/jsoneditor-minimalist.min.js"></script>
<script src="/static/js/filereader.js"></script> -->
<style>

  .rule-actions {
    margin: 4px;
  }

</style>
<!--begin::Portlet-->
<div class="kt-portlet kt-portlet--last kt-portlet--responsive-mobile" id="kt_page_portlet">
    <div class="kt-portlet__head kt-portlet__head--lg">
        <div class="kt-portlet__head-label">
            <h3 class="kt-portlet__head-title">
                {% if rule is defined %}
                <i class="kt-font-brand fas fa-pen-square"></i>
                Update Rule
                {% else %}
                <i class="kt-font-brand fas fa-plus-square"></i>
                Add Rule
                {% endif %}
            </h3>
            &nbsp;
            {% if rule is defined %}
            <h4 class="kt-portlet__head-title">{{ rule.name }}</h4>
            {% endif %}
        </div>
        <div class="kt-portlet__head-toolbar">
            <div class="kt-portlet__head-wrapper">
              <a href="javascript:void(0);" onclick="goBack()" class="btn btn-clean btn-sm" data-skin="dark" data-toggle="kt-tooltip" data-placement="top" title="Back to Previous Page">
                <i class="fas fa-chevron-left"></i>
                Back
              </a>
            </div>
        </div>
    </div>
    <div class="kt-portlet__body">
        <form class="kt-form" id="kt_form" method="post">
          <div class="row">
              <div class="col-xl-2"></div>
              <div class="col-xl-8">
                  <div class="kt-section kt-section--first">
                      <div class="kt-section__body">
                          {{ form.csrf_token() }}
                          <div class="kt-section__body">
                              <div class="form-group row">
                                  <label class="col-2 col-form-label">Rule Name </label>
                                  <div class="col-10">
                                      {{ form.name(class_="form-control") }}
                                  </div>
                              </div>
                              <div class="form-group row">
                                  <label class="col-2 col-form-label">Description</label>
                                  <div class="col-10">
                                      {{ form.description(class_="form-control") }}
                                      <h6 style="margin-top: 10px;"><span style="color: #cc1313;">Note:</span> Rule names and descriptions may
                                          be treated as
                                          <a target="_blank"
                                              href="https://docs.python.org/dev/library/string.html#template-strings">Template
                                              strings</a>
                                          for some alerters.
                                          Valid placeholders may include column keys returned in query results and/or
                                          host attributes(i.e., host_identifier, enrolled_on).
                                          A missing placeholder will result in the original placeholder to appear in
                                          the resulting string intact.
                                      </h6>
                                  </div>
                              </div>
                              <div class="form-group row">
                                  <label class="col-2 col-form-label">Alerters</label>
                                  <div class="col-10">
                                      {{ form.alerters(class_="form-control kt-selectpicker") }}

                                  </div>
                              </div>
                              <div class="form-group row">
                                  <label class="col-2 col-form-label">Conditions</label>
                                  <div class="col-10">
                                    <div id='query-builder'></div>
                                      {{ form.conditions(id='rules-hidden') }}
                                  </div>
                              </div>
                              <div class="form-group row">
                                  <label class="col-2 col-form-label">Status</label>
                                  <div class="col-10">
                                      {{ form.status(class="form-control kt-selectpicker") }}

                                  </div>
                              </div>
                              <div class="form-group row">
                                  <label class="col-2 col-form-label">Severity</label>
                                  <div class="col-10">
                                      {{ form.severity(class="form-control kt-selectpicker") }}

                                  </div>
                              </div>
                              <div class="form-group row">
                                  <label class="col-2 col-form-label">Type</label>
                                  <div class="col-10">
                                      {{ form.type(**{"onchange":"showHideMitreFields();","id":"type","class":"form-control kt-selectpicker"}) }}

                                  </div>
                              </div>
                              <div id="mitre">
                                  <div class="form-group row">
                                      <label class="col-2 col-form-label">Technique Id</label>
                                      <div class="col-10" id="technique_id_loading">
                                          {{ form.technique_id(**{"oninput":"getTechniqueDetails(this);","class":"form-control"}) }}

                                      </div>
                                  </div>


                                  <div class="form-group row">
                                      <label class="col-2 col-form-label">Tactics</label>
                                      <div class="col-10">
                                          {{ form.tactics(class="form-control kt-selectpicker") }}

                                      </div>
                                  </div>
                              </div>

                          </div>

                          <div style="display: none">
                              <div class="form-group">
                                  <label class="col-sm-12 control-label">Recon Queries</label>
                                  <div id="jsoneditor"></div>
                              </div>
                              <div class="form-group" style="display:none">

                                  {{ form.recon_queries(id='recon_queries') }}
                              </div>
                          </div>
                      </div>
                      <!-- <div class="kt-separator kt-separator--border-dashed kt-separator--space-lg"></div> -->

                      <div class="kt-portlet__foot">
                          <div class="kt-form__actions kt-form__actions--center">
                              <!-- <a href="{{ url_for('manage.rules') }}" class="btn btn-outline-success btn-sm">
                            <i class="la la-long-arrow-left"></i>
                            Back
                        </a> -->
                              <!-- <input class="btn btn-success" id="submit-button" type="submit" value="{% if rule is defined %}Update{% else %}Add{% endif %}"> -->
                              <!-- <button type="reset" class="btn btn-success" style="margin-left: 1em;" value="{% if query is defined %}update{% else %}add{% endif %} query"></button> -->
                              {% if rule is defined %}
                              <button type="submit" id="submit-button" class="btn btn-success"><i
                                      class="fa fa-sync-alt"></i>Update</button>
                              {% else %}
                              <button type="submit" id="submit-button" class="btn btn-success"><i
                                      class="fa fa-plus"></i>Add</button>
                              {% endif %}
                              <button type="reset" class="btn btn-secondary">Clear</button>
                          </div>
                      </div>
                  </div>
                  <div class="col-xl-2"></div>
              </div>
          </div>
        </form>

    </div>
</div>
<!--end::Portlet-->

<script>
    var container = document.getElementById('jsoneditor');
    var options = {
        modes: ['text', 'code', 'tree', 'form', 'view'],
        mode: 'code',
        ace: ace
    };
    var json;
    {% if not rule %}
    json = {
        "scheduled_queries": [{
            "name": "win_file_events",
            "before_event_interval": 30,
            "after_event_interval": 60
        },
        {
            "name": "win_process_events",
            "before_event_interval": 30,
            "after_event_interval": 60
        }, {
            "name": "win_registry_events",
            "before_event_interval": 30,
            "after_event_interval": 60
        }, {
            "name": "win_socket_events",
            "before_event_interval": 30,
            "after_event_interval": 60
        }, {
            "name": "win_http_events",
            "before_event_interval": 30,
            "after_event_interval": 60
        }
        ],
        "live_queries": [{
            "name": "win_epp_table",
            "query": "select * from win_epp_table;"
        }]
    };
    {% else %}
    json = '{{rule.recon_queries}}';
    if (json != '') {
        json = json.replace(/\&#34;/g, '"');
        json = JSON.parse(json);
    }

    {% endif %}


    var editor = new JSONEditor(container, options, json);

    function saveReconQueries(form) {

        try {
            var json = editor.get();
            var blob = new Blob([editor.getText()], {
                type: 'application/json;charset=utf-8'
            });

            var reader = new FileReader();

            reader.onload = function () {
                document.getElementById('recon_queries').value = reader.result;
            }
            reader.readAsText(blob);

            setTimeout(function () {
                form.submit();
            }, 1000);
        } catch (err) {
            alert('JSON is invalid');
        }


        return false;

    }



    function getTechniqueDetails(elem) {


        var technique_ids = elem.value.split(",");
        var matched = true;
        var patt = new RegExp("T1[0-9][0-9][0-9]");

        for (var i = 0; i < technique_ids.length; i++) {
            if (patt.test(technique_ids[i]) !== true) {
                matched = false;
                break;
            }
        }
        if (matched === true) {
          var technique_id_loading = $("#technique_id_loading");
          technique_id_loading.addClass("kt-spinner kt-spinner--sm kt-spinner--success kt-spinner--right kt-spinner--input");

            console.log('matched');
            var url = "{{ url_for('manage.get_technique_details') }}";
            var data = {};
            data['csrf_token'] = '{{ csrf_token() }}';
            data['technique_ids'] = elem.value;
            $.ajax({
                type: "POST",
                url: url,
                data: data,

                success: function (data) {
                  technique_id_loading.removeClass("kt-spinner kt-spinner--sm kt-spinner--success kt-spinner--right kt-spinner--input");

                    if (data.hasOwnProperty('status') && data['status'] == 'success') {
                        $('select[name="tactics"]').val(data['data']['tactics']);
                        $('textarea[name="description"]').val(data['data']['description']);

                        $('select[name="tactics"]').selectpicker('refresh')

                    }
                }
            });
        }
    }

    function showHideMitreFields() {
        var type = $("#type").val();
        if (type === 'MITRE') {
            $("#mitre").show();
        } else {
            console.log('hiding');

            $("#mitre").hide();

        }
    }

    $(document).ready(function () {
        showHideMitreFields();

    });
</script>
