.back_icon_align {
    vertical-align: unset !important;
  }
  .kt-portlet .kt-portlet__head .kt-portlet__head-label .kt-portlet__head-title {
     margin: 0;
     padding: 0;
     font-size: 1.2rem;
     font-weight: 500;
     color:  #464457;
  }
  label{
   color: #646c9a;
  }
