<!-- begin:: Content -->
<div class="kt-grid kt-grid--hor kt-grid--root">
  <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--ver kt-page">
    <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor kt-wrapper" id="kt_wrapper">
      <!--begin::Portlet-->
      <div class="kt-portlet kt-portlet--last kt-portlet--responsive-mobile" id="kt_page_portlet">
        <div class="kt-portlet__head kt-portlet__head--lg">
          <div class="kt-portlet__head-label">
            <span class="kt-portlet__head-icon">
              <i class="kt-font-brand fab fa-whmcs"></i>
            </span>
            <h3 class="kt-portlet__head-title">
              Email Settings
            </h3>
          </div>
          <div class="kt-portlet__head-toolbar">
            <div class="kt-portlet__head-wrapper">
              <a href="javascript:void(0);" (click)="goBack()" class="btn btn-clean btn-sm" data-skin="dark"
                data-toggle="kt-tooltip" data-placement="top" title="Back to Previous Page">
                <i class="fas fa-chevron-left back_icon_align"></i>
                Back
              </a>
            </div>
          </div>
        </div>
        <div class="kt-portlet__body">
          <button *ngIf="Updated" style=" position: fixed; z-index: 10; left: 50%; " type="button"
            class="btn btn-success">Updated !!!</button>
          <form class="kt-form" id="kt_form" [formGroup]="ConfigureEmail" (ngSubmit)="onSubmit()">
            <div class="form-group" style="display: none">
              <input id="setting" name="setting" type="text" value="">
            </div>
            <div class="row">
              <div class="col-xl-11">
                <div class="kt-section kt-section--first">
                  <div class="kt-section__body">
                    <h3 class="kt-section__title kt-section__title-lg" style="font-size: 1rem;">Configure sender's email and recipient's email
                      address for receiving alerts.</h3>

                    <div class="form-group row required">
                      <label class="col-sm-2 col-form-label form--label">
                        Sender's email
                      </label>
                      <div class="col-10">
                        <input type="text" id="idEmailAddress" name="nameEmailAddress" [(ngModel)]="conf_email_data"
                          formControlName="senderEmail" class="form-control" value="{{conf_email_data}}"
                          [ngClass]="{ 'is-invalid': submitted && f.senderEmail.errors }" />
                        <div *ngIf="submitted && f.senderEmail.errors" class="invalid-feedback">
                          <div *ngIf="f.senderEmail.errors.required">Error On Sender's email Field</div>
                        </div>
                      </div>
                    </div>

                    <div class="form-group row required">
                      <label class="col-sm-2 col-form-label form--label">
                        Sender's password
                      </label>
                      <div class="col-10">
                        <input type="password" id="idEmailPassword" name="nameEmailPassword"
                          [(ngModel)]="conf_password_data" formControlName="senderPassword" class="form-control"
                          value="{{conf_password_data}}"
                          [ngClass]="{ 'is-invalid': submitted && f.senderPassword.errors }" />
                        <div *ngIf="submitted && f.senderPassword.errors" class="invalid-feedback">
                          <div *ngIf="f.senderPassword.errors.required">Error On Sender's password Field</div>
                        </div>
                      </div>
                    </div>

                    <div class="form-group row required">
                      <label class="col-sm-2 col-form-label form--label">
                        SMTP Server
                      </label>
                      <div class="col-10">
                        <input type="text" placeholder="Eg: smtp.gmail.com" id="smtpAddress"
                          [(ngModel)]="conf_server_data" formControlName="smtpServer" class="form-control"
                          value="{{conf_server_data}}" [ngClass]="{ 'is-invalid': submitted && f.smtpServer.errors }" />
                        <div *ngIf="submitted && f.smtpServer.errors" class="invalid-feedback">
                          <div *ngIf="f.smtpServer.errors.required">Error On SMTP Server Field</div>
                        </div>
                      </div>
                    </div>

                    <div class="form-group row required">
                      <label class="col-sm-2 col-form-label form--label">
                        SMTP Port
                      </label>
                      <div class="col-10">
                        <input type="text"  (keypress)="numberOnly($event)" name="smtpPort" value="{{conf_port_data}}" id="smtpPort"
                          [(ngModel)]="conf_port_data" formControlName="smtpPort" class="form-control"
                          [ngClass]="{ 'is-invalid': submitted && f.smtpPort.errors }" />
                        <div *ngIf="submitted && f.smtpPort.errors" class="invalid-feedback">
                          <div *ngIf="f.smtpPort.errors.required">Error On SMTP Port Field</div>
                        </div>
                      </div>
                    </div>

                    <div class="form-group row required">
                      <label class="col-sm-2 col-form-label form--label">
                        Email Recipients
                      </label>
                      <div class="col-10">
                        <textarea rows="4" formControlName="emailRecipients" [(ngModel)]="conf_recipient_data"
                          value="{{conf_recipient_data}}" class="form-control" required name="emailRecipients"
                          [ngClass]="{ 'is-invalid': submitted && f.emailRecipients.errors }"
                          id="emailRecipients"></textarea>
                        <div *ngIf="submitted && f.emailRecipients.errors" class="invalid-feedback">
                          <div *ngIf="f.emailRecipients.errors.required">Error On Email Recipients Field</div>
                        </div>
                      </div>
                    </div>

                    <div class="form-group row required">
                      <label class="col-sm-2 col-form-label form--label">Connection Security</label>
                      <div class="col-10">
                        <div class="kt-radio-inline">
                          <label class="kt-radio">
                            <input type="radio" (change)="sslConnection = true;tlsConnection=false"  [checked]="sslConnection"  name="Connectiontype" >
                            <label for="network_action-1">SSL</label>
                            <span></span>
                          </label>
                          <label class="kt-radio">
                            <input type="radio" (change)="sslConnection = false;tlsConnection=true"  [checked]="tlsConnection"  name="Connectiontype" >
                            <label>TLS</label>
                            <span></span>
                          </label>
                          <label class="kt-radio">
                            <input type="radio"  (change)="sslConnection = false;tlsConnection=false" [checked]="noneConnection" name="Connectiontype" value="none">
                            <label>None</label>
                            <span></span>
                          </label>
                        </div>
                          <!-- <input type="checkbox"  name="ssl"  formControlName="ssl" [(ngModel)]="use_ssl"
                          value="{{use_ssl}}" style="vertical-align: middle;min-height:3em;">&nbsp;<span style="vertical-align: middle;">Use SSL</span> -->
                      </div>
                    </div>


                  </div>
                </div>

                <div class="kt-portlet__foot ">
                  <div class="kt-form__actions kt-form__actions--center">
                    <button type="submit" class="btn btn-success" style="margin-left: 5px;">
                      <i class="fa fa-sync-alt"></i>
                      <span>Update</span>
                    </button>
                    <button type="button" (click)="testEmail(ConfigureEmail)" class="btn btn-info"
                      style="margin-left: 5px;">Test
                    </button>

                    <button type="reset" class="btn btn-secondary" style="margin-left: 5px;"
                      (click)="clearForm()">Cancel</button>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
      <!--end::Portlet-->
    </div>
  </div>
</div>
<!-- end:: Content -->