.right-content-conf {
  border-left: 0px dotted lightgray;
}

.txt-clr {
  color: indianred;
  text-align: center;
  /* margin-bottom: 0px; */
  font-weight: 400;
}

.kt-notification .conf-div .active {
  background-color: #f7f8fa;
}

.no-mar-botom {
  margin-bottom: 0px;
}

.desc-background-query {
  font-size: 100%;
  color: #e83e8c;
  word-break: break-word;
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

.head-table {
  font-weight: 600 !important;
}

.portlet-body_align_pack {
  height: 705px;
  margin-bottom: 0px;
  border: 15px solid #ebedf2;
  padding: 10px;
}

.portlet-body_align {
  height: 680px;
  margin-bottom: 0px;
  border: 15px solid #ebedf2;
  padding: 10px;
}

.portlet-body_align__table {
  margin-bottom: 0px;
  border: 15px solid #ebedf2;
}

.style-accordion-background {
  height: 50px;
  padding: 15px;
  cursor: pointer;
  background-image: linear-gradient(to right, #b8bccc, #ffffff) !important;
  color: #282829;
  font-size: 15px;
  font-family: monospace;
}

.desc-background_packs {
  font-size: 100%;
  color: #e83e8c;
  word-break: break-word;
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

.txt-fmly {
  font-family: Poppins;
}

table {
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  -webkit-border-horizontal-spacing: 10px;
  -webkit-border-vertical-spacing: 10px;
  border-collapse: collapse;
  white-space: normal;
  line-height: normal;
  font-weight: normal;
  font-size: medium;
  font-style: normal;
  color: -internal-quirk-inherit;
  text-align: start;
  font-variant: normal;
  display: table;
  border-color: grey;
}

.back_icon_align {
  vertical-align: unset !important;
}

.kt-portlet h2:hover {
  color: #518c24;
}

.kt-portlet .kt-portlet__head .kt-portlet__head-label .kt-portlet__head-title {
  margin: 0;
  padding: 0;
  font-size: 1.1rem;
  font-weight: 600;
  color: #464457;
}