.required label:after {
  color: #e32;
  content: ' *';
  display:inline;
}
.back_icon_align {
  vertical-align: unset !important;
}
.kt-portlet .kt-portlet__head .kt-portlet__head-label .kt-portlet__head-title {
   margin: 0;
   padding: 0;
   font-size: 1.2rem;
   font-weight: 600;
   color:  #464457;
}
.description_ex {
  color: #9da2bf;
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  font-family: system-ui;
}
.form-group {
  margin-bottom: 1.3rem !important;
}
.rule-actions {
  margin: 4px;
}

#query-builder {
    border: 1px solid #DCC896;
    position: relative;
    margin: 4px 0;
    border-radius: 5px;
    padding: 10px;
    padding-bottom: 6px;
    border: 1px solid #EEE;
    background: rgba(252, 252, 252);
}
.lbl-clr{
  color:#66629e
}
