
<style type="text/css">
  .query-editor {
    border-bottom: 4px solid #4e4e5287;
    padding-bottom:11px;
    min-height: 0;
  }
  .query-editor__flex-editor {
    flex-basis: calc((25vh));
  }
  .form-actions {
    margin-top: 10px;
  }
  .dataTables_filter {
    width: 200px;
    float: right;
  }

</style>

<!-- begin:: Content -->
  <div class="kt-portlet kt-portlet--mobile kt-portlet--responsive-mobile">
    <form id="distributed_query_form" class="form-horizontal simple_form js-live-query-form" novalidate method="POST" accept-charset="UTF-8">
      {{ form.csrf_token() }}
      <div class="kt-portlet__head kt-portlet__head--lg">
        <div class="kt-portlet__head-label">
          <span class="kt-portlet__head-icon">
            <i class="kt-font-brand fa fa-laptop-code"></i>
          </span>
          <h3 class="kt-portlet__head-title">
            Live Query Builder
          </h3>
        </div>
        <div class="kt-portlet__head-toolbar">
          <div class="kt-portlet__head-wrapper">
            &nbsp;
            <!--begin::Section-->
  					<div class="">
  						<div class="kt-section__content">

  							<div class="btn-group">
                  {{ form.nodes(class_="form-control select-picker-nodes",required=true, **{"data-actions-box":"true"}) }}
  							</div>
                <div class="btn-group">
                  {{ form.tags(class_="form-control select-picker-tags" ,required=true, **{"data-actions-box":"true"}) }}
  							</div>
  						</div>
  					</div>
  					<!--end::Section-->
          </div>
        </div>
      </div>
      <!--begin:: Widgets/Body-->
      <div class="kt-portlet__body ">
        <!--begin:: Widgets/Form-->
          <input type="hidden" name="sql" id="sql">
          <label for="">Type your query here...</label>
          <div class="query-editor">
            <section class="query-editor__wrapper">
              <div id="js-query-editor" class="query-editor__flex-editor">
                <div class="query-editor__editor ace_editor ace_focus" id="live-query-editor"></div>
              </div>
            </section>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-actions form-group">
                <button id="run_query" type="submit" class="btn btn-success btn-sm"><i class="fa fa-code"></i>Run Query
                  <span class="spinner-border spinner-border-sm" id="loader" style="display: none; margin-left: 10px" role="status" aria-hidden="true"></span>
                </button>
              </div>
            </div>
          <div class="col-md-6">
            <div class="form-actions form-group" id="query_progress_div">
              <div style="display: none; " id="query_progress"
                   class="progress-bar bg-success progress-bar-striped progress-bar-animated" role="progressbar"
                   style="width: 0%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">0%
              </div>
            </div>
          </div>
          </div>

        <!--begin:: Widgets/Form-->
      </div>
      <!--end:: Widgets/Body-->
    </form>
  </div>
  <script type="text/javascript">
    var ranOnNodes = 0;
    $(document).ready(function () {
      setTimeout(function() {
        if (sql != '' && sql != 'None') {
          console.log(sql);
          ace.edit("live-query-editor").$blockScrolling = Infinity;
          ace.edit("live-query-editor").getSession().setValue(sql);
      }
      $("#error-alert").hide();    }, 0);

    });

    $("#distributed_query_form").submit(function (e) {
      $('#query_progress').hide();
      $('#query_progress_div').hide();
      setTimeout(() => {
        $('#run_query').removeAttr('disabled');
      }, 7000);
      ranOnNodes = 0;

      $("#results").html("");
      $("#loader").show().delay(60000).fadeOut();

      var editor = ace.edit("live-query-editor");

      $('#sql').val(editor.getSession().getValue());
      var url = "/manage/ajax/queries/distributed/add";
      var request_data = $("#distributed_query_form").serialize();
      $.ajax({
          type: "POST",
          url: url,
          data: request_data,
          success: function (data) {
              var totalOnlineNodes = data['onlineNodes'];

              if (data['errors'] != null && data['errors']['sql'] != null) {
                  $("#error_message").html(data['errors']['sql']);
                  $("#error-alert").fadeTo(1000, 500).slideUp(2000, function () {
                      $("#error-alert").slideUp('close');
                  });
                  $("#loader").hide()

              } else {
                $('#run_query').attr('disabled','disabled');
                  $('#query_progress').width('0%');

                  $('#query_progress').show();
                  $('#query_progress_div').show();
                  $('#query_name').html(data['sql']);
                  startWebsocketConnection(data['id'], totalOnlineNodes);
              }
              document.getElementsByName('sql')[0].value = '';

          }
      });

        e.preventDefault(); // avoid to execute the actual submit of the form.
    });



  </script>

<script type="text/javascript">
  // $(".bootstrap-tagsinput").tagsinput({
  //      tagClass: "label label-info",
  //      trimValue: true
  //  });

  $('.select-picker-nodes').selectpicker({
    noneSelectedText: '<i class="fa fa-desktop"></i>Select Hosts',
    countSelectedText: function (numSelected, numTotal) {
      return (numSelected == 1) ? '{0} host selected' : '{0} hosts selected';
    },
    selectedTextFormat: 'count',
    width: '170px',
    liveSearch: true,
    liveSearchPlaceholder: "Search host here...",
    selectAllText: 'Select All',
    deselectAllText: 'Deselect All',
    dropdownAlignRight: true,
    actionsBox: true,
    showContent: true

  });

  $('.select-picker-tags').selectpicker({
    noneSelectedText: '<i class="fa fa-tags"></i>Select Tags',
    countSelectedText: function (numSelected, numTotal) {
      return (numSelected == 1) ? '{0} tag selected' : '{0} tags selected';
    },
    selectedTextFormat: 'count',
    width: '170px',
    liveSearch: true,
    liveSearchPlaceholder: "Search tag here...",
    selectAllText: 'Select All',
    deselectAllText: 'Deselect All',
    showContent: true

  });

//   $('.kt-grid__item.kt-grid.kt-grid--desktop.kt-grid--hor-desktop').hover(function() {
//     if($('.kt-aside__brand-aside-toggler').hasClass('kt-aside__brand-aside-toggler--active')) {
//     console.log('true1111')
//     $(".kt-header--fixed").addClass("kt-aside--minimize-hover");

//     setTimeout(() => {
//       $(".kt-header--fixed").removeClass("kt-aside--minimize-hover");
//       console.log('closing1111')
//     },1500)

//   }
// });

  $('.kt-aside__brand-aside-toggler').click(function() {
    if($('.kt-aside__brand-aside-toggler').hasClass('kt-aside__brand-aside-toggler--active')) {
    console.log('true')
    $(".kt-header--fixed").addClass("kt-aside--minimize");
  } else {
    console.log('false')
    $(".kt-header--fixed").removeClass("kt-aside--minimize");
  }


});



</script>

<!-- End:: Content -->
