<form style="overflow-y: scroll" class="form form-horizontal" method="POST" role="form" enctype="multipart/form-data">

    <div class="card">
        <div class="card-header">
                        <strong>Upload a query Pack</strong>

            <div class="card-body card-block">

                <fieldset>
                    {{ form.csrf_token() }}

                    <p>Learn how to format your query packs <a
                            href="https://osquery.readthedocs.org/en/stable/deployment/configuration/#query-packs">here</a>.
                    </p>


                     <div class="form-group">
                        <!-- {{ form.pack.label(class_="col-md-2 form-control-label") }} -->
                         <label class="control-label">Select a category</label>
                         <div class="row">
                        {{ form.category(placeholder="Select a category", class_="form-control col-md-4") }}
                             <div class="col-md-2"></div>
                           {{ form.pack(placeholder="Path to osquery pack", class_="form-control col-md-4") }}
                             </div>
                    </div>

                    <div class="form-group">
                        <!-- {{ form.pack.label(class_="col-md-2 form-control-label") }} -->

                    </div>


                    <div class="card-footer">
                        <button type="submit" class="btn btn-primary btn-sm">
                            <i class="fa fa-dot-circle-o"></i> Upload query Pack
                        </button>

                    </div>



                </fieldset>
            </div>
        </div>
    </div>

</form>
