
<style type="text/css">
  .query-editor {
    min-height: 0;
  }
  .query-editor__flex-editor {
    flex-basis: calc((10vh));
  }
  .ace_gutter-layer {
    display: none;
  }
  .mandary {
    margin-top: -10px;
    margin-left: 0px;
  }
  .required label:after {
    color: #e32;
    content: ' *';
    display:inline;
  }
  .description_ex {
    color: #9da2bf;
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    font-family: system-ui;
  }
  .form-group {
    margin-bottom: 1.3rem !important;
  }
  .show>.btn.btn-default, .btn.btn-default.active, .btn.btn-default:active, .btn.btn-default:hover {
    color: #48465b;
    background: #ffffff;
    border-color: #9aabff;
  }
</style>
<!--begin::Portlet-->
<div class="kt-portlet kt-portlet--last kt-portlet--responsive-mobile" id="kt_page_portlet">
  <div class="kt-portlet__head kt-portlet__head--lg">
    <div class="kt-portlet__head-label">
      <h3 class="kt-portlet__head-title">
        {% if query is defined and query.id is defined %}
        <i class="kt-font-brand fas fa-pen-square"></i>
          Update Query -
        {% else %}
        <i class="kt-font-brand fas fa-plus-square"></i>
          Add Query
        {% endif %}
      </h3>
      &nbsp;
      {% if query is defined %}
      <h4 class="kt-portlet__head-title">{{ query.name }}</h4>
      {% endif %}
    </div>
    <div class="kt-portlet__head-toolbar">
      <div class="kt-portlet__head-wrapper">
        <div style="cursor: pointer;" onclick="goBack()" class="btn btn-clean btn-sm" data-skin="dark" data-toggle="kt-tooltip" data-placement="top" title="Back to Previous Page">
          <i class="fas fa-chevron-left"></i>
          Back
        </div>
      </div>
    </div>
  </div>
  <div class="kt-portlet__body">
    <form class="kt-form" id="kt_form" method="post">
      <div class="row">
      <div class="col-xl-2"></div>
       <div class="col-xl-8">
         <div class="kt-section kt-section--first">
           <div class="kt-section__body">
             {{ form.csrf_token() }}
             <div class="form-group row required">
               {{ form.name.label(class_="col-2 col-form-label") }}
               <div class="col-10">
                 {{ form.name(class_="form-control") }}
               </div>
             </div>
             <div class="form-group row required">
               {{ form.sql.label(class_="col-2 col-form-label") }}
               <div class="col-10">
                 <!-- {{ form.sql(class_="form-control") }} -->
                 <input type="hidden" name="sql" id="sql">
                 <div class="query-editor form-control query-editor__wrapper">
                   <!-- <section class="query-editor__wrapper"> -->
                   <div id="js-query-editor" class="query-editor__flex-editor">
                     <div class="query-editor__editor ace_editor ace_focus" id="live-query-editor"></div>
                   </div>
                   <!-- </section> -->
                 </div>
                 <span class="description_ex">Example: select * from processes;</span>
               </div>
             </div>
             <div class="form-group row">
               {{ form.interval.label(class_="col-2 col-form-label") }}
               <div class="col-10">
                 {{ form.interval(class_="form-control", type="number", min="1") }}
               </div>
             </div>
             <div class="form-group row">
               {{ form.platform.label(class_="col-2 col-form-label") }}
               <div class="col-10">
                 {{ form.platform(class_="form-control r-selectpicker") }}
               </div>
             </div>
             <div class="form-group row">
               {{ form.version.label(class_="col-2 col-form-label") }}
               <div class="col-10">
                 {{ form.version(class_="form-control") }}
               </div>
             </div>
             <div class="form-group row">
               {{ form.description.label(class_="col-2 col-form-label") }}
               <div class="col-10">
                 {{ form.description(class_="form-control") }}
               </div>
             </div>
             <div class="form-group row">
               <label class="col-2 col-form-label">Value</label>
               <div class="col-10">
                 <textarea class="form-control" rows="3"></textarea>
               </div>
             </div>

             <div class="form-group row">
               {{ form.packs.label(class_="col-2 col-form-label") }}
               <div class="col-10">
                 {{ form.packs(class_="form-control r-selectpicker") }}
               </div>
             </div>
             <div class="form-group row">
               {{ form.tags.label(class_="col-2 col-form-label") }}

               <div class="col-10">
                 {{ form.tags(placeholder="One tag per line", class_="form-control") }}
               </div>
             </div>
             <div class="form-group row">
               <label class="col-2 col-form-label">Query Options</label>
               <div class="col-10">
                 <div class="kt-checkbox-inline">
                   <!-- <span class="col-md-3">Query Options</span> -->
                   <div class="checkbox col-sm-5">
                     <label>
                       {{ form.snapshot() }} {{ form.snapshot.label.text }}
                     </label>
                   </div>
                 </div>
               </div>
             </div>
           </div>
         </div>
         <!-- <div class="kt-separator kt-separator--border-dashed kt-separator--space-lg"></div> -->

         <div class="kt-portlet__foot">
           <div class="mandary">
             <span class="" style="color: #e32;">*</span><span style="font-size: smaller;"> Mandatory Fields</span>
           </div>
           <div class="kt-form__actions kt-form__actions--center">
             <!-- <a href="{{ url_for('manage.queries') }}" class="btn btn-outline-success btn-sm">
                          <i class="la la-long-arrow-left"></i>
                          Back
                        </a> -->
             <!-- <input class="btn btn-success" type="submit" value="{% if query is defined %}Update{% else %}Add{% endif %}"> -->
             {% if query is defined and query.id is defined %}
             <button type="submit" class="btn btn-success"><i class="fa fa-sync-alt"></i>Update</button>
             {% else %}
             <button type="submit" class="btn btn-success"><i class="fa fa-plus"></i>Add</button>
             {% endif %}
             <button type="reset" class="btn btn-secondary">Clear</button>
           </div>
         </div>
       </div>
       <div class="col-xl-2"></div>
      </div>
    </form>
  </div>
</div>

<script src="/static/js/live_query_bundle.js?ver=1"></script>
<link rel="stylesheet" href="/static/assets/vendors/general/bootstrap-select/dist/css/bootstrap-select.css">
<script type="text/javascript" src="/static/assets/vendors/general/bootstrap-select/dist/js/bootstrap-select.js"></script>

<script type="text/javascript">
  $(document).ready(function () {
    $('.r-selectpicker').selectpicker();
    setTimeout(function() {
    var  sql='{{ query.sql }}';
      if (sql != '' && sql != 'None') {
        console.log(sql);
        ace.edit("live-query-editor").$blockScrolling = Infinity;
        ace.edit("live-query-editor").getSession().setValue(sql);
      }
    });
  });
  $("#kt_form").submit(function () {
    var editor = ace.edit("live-query-editor");
    $('#sql').val(editor.getSession().getValue());

  });
</script>


<!--end::Portlet-->
