{% extends "layout.html" %}
{% block page_title %}
PolyLogyx - Email Settings
{% endblock %}

{% block content %}

<style>
  .kt-section .kt-section__title.kt-section__title-lg {
   font-size: 1rem;
}
</style>
<!-- begin:: Content -->
<div class="kt-content  kt-grid__item kt-grid__item--fluid" id="kt_content">
  <div class="row">
    <div class="col-lg-12">

      <!--begin::Portlet-->
      <div class="kt-portlet kt-portlet--last kt-portlet--responsive-mobile" id="kt_page_portlet">
        <div class="kt-portlet__head kt-portlet__head--lg">
          <div class="kt-portlet__head-label">
            <span class="kt-portlet__head-icon">
              <i class="kt-font-brand fab fa-whmcs"></i>
            </span>
            <h3 class="kt-portlet__head-title">
              Email Settings
            </h3>
          </div>
        </div>
        <div class="kt-portlet__body">
          <form class="kt-form" id="kt_form" onsubmit="return saveSettingJson(this)" method="POST">
            {{ form.csrf_token() }}
            <div class="form-group" style="display: none">{{ form.setting(id='setting') }}</div>
            <div class="row">
              <div class="col-xl-1"></div>
              <div class="col-xl-10">
                <div class="kt-section kt-section--first">
                  <div class="kt-section__body">
                    <h3 class="kt-section__title kt-section__title-lg">Configure sender's email and recipient's email address for receiving alerts.</h3>
                    <div class="form-group row">
                      <label class="col-3 col-form-label">Sender's Email</label>
                      <div class="col-9">
                        <input class="form-control" type="email" required name="nameEmailAddress" id="idEmailAddress">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-3 col-form-label">Sender's Password</label>
                      <div class="col-9">
                        <input class="form-control" type="password" required name="nameEmailPassword"
                          id="idEmailPassword">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-3 col-form-label">SMTP Server</label>
                      <div class="col-9">
                        <input class="form-control" type="text" required name="smtpAddress"
                          placeholder="Eg: smtp.gmail.com" id="smtpAddress">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-3 col-form-label">SMTP Port</label>
                      <div class="col-9">
                        <input class="form-control" type="number" min="1" name="smtpPort" value="465" id="smtpPort">

                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-3 col-form-label">Email Recipients</label>
                      <div class="col-9">
                        <textarea rows="4" class="form-control" required name="emailRecipients"
                          id="emailRecipients"></textarea>
                      </div>
                    </div>
                    <script src="/static/js/base64/jquery.base64.js"></script>

                    <script>
                      var idEmailAddress = document.getElementById('idEmailAddress');
                      var idEmailPassword = document.getElementById('idEmailPassword');
                      var json;
                      var node_setting = '{{setting}}';

                      if (node_setting == '' || node_setting == 'None' || node_setting == null) {

                      } else {
                        json = '{{setting}}';

                        if (json != '') {
                          json = json.replace(/\&#34;/g, '"');
                          console.log(json);
                          json = JSON.parse(json);
                        }

                        document.getElementById('idEmailAddress').value = json.email;
                        document.getElementById('smtpAddress').value = json.smtpAddress;
                        document.getElementById('smtpPort').value = json.smtpPort;
                        document.getElementById('idEmailAddress').value = json.email;
                        document.getElementById('emailRecipients').value = json.emailRecipients;

                        document.getElementById('idEmailPassword').value = window.atob(json.password);

                      }

                      function isEmail(email) {
                        var regex = /^([a-zA-Z0-9_.+-])+\@(([a-zA-Z0-9-])+\.)+([a-zA-Z0-9]{2,4})+$/;
                        return regex.test(email);
                      }

                      function validateEmailRecipients(emailRecipients) {
                        var validEmail = true;
                        var emails = emailRecipients.split(",").map(function (item) {
                          return item.trim();
                        });
                        for (i = 0; i < emails.length; i++) {
                          if (!isEmail(emails[i])) {
                            validEmail = false;
                            break;
                          }
                        }
                        return validEmail;

                      }

                      function saveSettingJson(form) {
                        console.log('done')
                        if (!isEmail(document.getElementById('idEmailAddress').value)) {
                          // alert("Please enter a valid email address");
                          Swal.fire({
                            type: 'warning',
                            title: 'Please enter a valid email address',
                            timer: 2500,
                            showConfirmButton: false
                          })
                          return false;
                        }

                        if (!validateEmailRecipients(document.getElementById('emailRecipients').value)) {
                          // alert("One of your email recipients is invalid. Use comma separated emails");
                          Swal.fire({
                            type: 'warning',
                            title: 'One of your email recipients is invalid. Use comma separated emails',
                            timer: 2500,
                            showConfirmButton: false
                          })
                          return false;
                        }

                        document.getElementById('setting').value = '{ "smtpPort": "' + document.getElementById('smtpPort').value + '", ' + '"emailRecipients": "' + document.getElementById('emailRecipients').value + '", ' + '"smtpAddress": "' + document.getElementById('smtpAddress').value + '", ' + '"email": "' + document.getElementById('idEmailAddress').value + '", ' + '"password": "' + window.btoa(document.getElementById('idEmailPassword').value, true) + '" }';

                        Swal.fire({
                          title: '',
                          text: 'Updating...',
                          // timer: 1000,
                          onOpen: function () {
                            swal.showLoading()
                            Swal.fire({
                              type: 'success',
                              title: 'Successfully Updated',
                              // timer: 2500,
                              showConfirmButton: false
                            })
                            return true;
                          }
                        }).then(function (result) {
                          if (result.value) {
                            Swal.fire()
                          } else if (result.dismiss === 'timer') {
                            Swal.fire({
                              type: 'success',
                              title: 'Successfully Updated',
                              timer: 2500,
                              showConfirmButton: false
                            })
                            return true;

                          }
                        });


                      }


                      function testEmail() {

                        if (!isEmail(document.getElementById('idEmailAddress').value)) {
                          // alert("Please enter a valid email address");
                          Swal.fire({
                            type: 'warning',
                            title: 'Please enter a valid email address',
                            timer: 2500,
                            showConfirmButton: false
                          })
                          return false;
                        }

                        if (!validateEmailRecipients(document.getElementById('emailRecipients').value)) {
                          // alert("One of your email recipients is invalid. Use comma separated emails");
                          Swal.fire({
                            type: 'warning',
                            title: 'One of your email recipients is invalid. Use comma separated emails',
                            timer: 2500,
                            showConfirmButton: false
                          })
                          return false;
                        }

                        var url = "{{ url_for('manage.send_test_email') }}";
                        var data = {};
                        data['csrf_token'] = '{{ csrf_token() }}';
                        data['username'] = idEmailAddress.value;
                        data['password'] = idEmailPassword.value;
                        data['smtp'] = document.getElementById('smtpAddress').value;
                        data['recipients'] = document.getElementById('emailRecipients').value;
                        Swal.fire({
                          title: '',
                          text: 'Checking Email Credentials...',
                          // timer: 1000,
                          onOpen: function () {
                            swal.showLoading()
                          }
                        })
                        $.ajax({
                          url: url,
                          type: 'post',
                          data: data,
                          success: function (response) {
                            if (response.hasOwnProperty('status')) {
                              if (response['status'] === 'success') {
                                // alert('Valid Credentials')
                                Swal.fire({
                                  type: 'success',
                                  title: 'Valid Credentials',
                                  timer: 2500,
                                  showConfirmButton: false
                                })
                                return true;
                              } else {
                                // alert(response['message'])
                                Swal.fire({
                                  type: 'warning',
                                  title: response['message'],
                                  timer: 2500,
                                  showConfirmButton: false
                                })

                              }
                            }
                            console.log(response);
                          },
                          error: function (jqXhr, textStatus, errorThrown) {
                            console.log(errorThrown);
                            Swal.fire({
                              type: 'warning',
                              title: errorThrown,
                              timer: 2500,
                              showConfirmButton: false
                            })
                          }
                        });
                      }


                    </script>
                  </div>
                </div>

                <div class="kt-portlet__foot ">
                  <div class="kt-form__actions kt-form__actions--center">
                    <button type="submit" class="btn btn-success"><i class="fa fa-sync-alt"></i>
                      <span>Update</span>
                    </button>
                    <button type="button" onclick="testEmail()" class="btn btn-info">Test</button>

                    <button type="reset" onclick="goBack()" class="btn btn-secondary">Cancel</button>
                  </div>
                </div>
              </div>
              <div class="col-xl-1"></div>
            </div>
          </form>
        </div>
      </div>
      <!--end::Portlet-->
    </div>
  </div>
</div>
<!-- end:: Content -->


{% endblock %}
