
{% block content %}

	<!--begin::Page Custom Styles(used by this page) -->
	<link href="/static/assets/app/custom/error/error-v1.default.css" rel="stylesheet" type="text/css" />
	<!--end::Page Custom Styles -->

  <!-- begin:: Page -->
  <div class="kt-grid kt-grid--ver kt-grid--root">
    <div class="kt-grid__item kt-grid__item--fluid kt-grid  kt-error-v1" style="background-image: url(/static/assets/media/bg/bg-3.jpg);">
      <div class="kt-error-v1__container">
        <h1 class="kt-error-v1__number">403</h1>
        <p class="kt-error-v1__desc">
          You are not authorized to perform this action.
        </p>
      </div>
    </div>
  </div>

  <!-- end:: Page -->

{% endblock %}
