<link rel="stylesheet" href="https://mbenford.github.io/ngTagsInput/css/ng-tags-input.min.css" />

<!-- Begin:: Content -->
<div class="kt-grid kt-grid--hor kt-grid--root">
    <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--ver kt-page">
    <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor kt-wrapper" id="kt_wrapper">
    <!-- Begin:: Portlet -->
    <div class="kt-portlet kt-portlet--responsive-mobile">
      <!-- Begin:: Head -->
  <div class="kt-portlet__head">
    <div class="kt-portlet__head-label">
    <span class="kt-portlet__head-icon">
    <i class="kt-font-brand fas fa-paper-plane"></i>
    </span>
    <h3 class="kt-portlet__head-title">
      Removed Hosts
    </h3>
    </div>
    <div class="kt-portlet__head-toolbar">
    <div class="kt-portlet__head-wrapper">
      <a href="javascript:void(0)" (click)="goBack()" class="btn btn-clean btn-sm" data-skin="dark" data-toggle="kt-tooltip" data-placement="top" title="Back to Previous Page">
        <i class="fas fa-chevron-left back_icon_align"></i>
        Back
      </a>    </div>
    </div>
    </div>
    <!-- End:: Head -->
          <!-- Begin:: Body -->
  <div class="kt-portlet__body">
        <div class="" style="margin-bottom: 60px;" >
            <!--begin: Datatable -->
            <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-hover table-checkable row-border hover" id="host_table">
              <!-- class="table table-hover table-checkable row-border hover" -->
              <thead>
                <tr>
                  <th>Host Name</th>
                  <th>Operating System</th>
                  <th>IP Address</th>
                  <th class="dt-justify" rowspan="1" colspan="1" style="min-width: 300px;">Tags</th>
                  <th style="min-width: 24px;"></th>
                  <th style="min-width: 24px;"></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let hostdata of hostmainvalue_data" role="row">
								
                    <td >
                        <a *ngIf="hostdata.is_active == true;" [routerLink]="['/hosts', hostdata.id]"
                            class="active" data-skin="dark" data-toggle="kt-tooltip" data-placement="top"
                            title="click -> Host Details"
                            style="color: #518c24">{{hostdata.display_name}}</a>
                        <a *ngIf="hostdata.is_active == false;" [routerLink]="['/hosts', hostdata.id]"
                            class="active" data-skin="dark" data-toggle="kt-tooltip" data-placement="top"
                            title="click -> Host Details"
                            style="color: #f86c6b">{{hostdata.display_name}}</a>
                    </td>
                    <td >
                        <span *ngIf="hostdata.os_info.platform == 'ubuntu'" class='logo-color menu-icon'
                            style='font-weight: 400;'>
                            <img alt='' src='./assets/media/logo/Linux1.svg' height='19px' width='16px' />
                            <span>&ensp;{{hostdata.os_info.name}}</span>
                        </span>
                        <span *ngIf="hostdata.os_info.platform == 'windows'" class='logo-color menu-icon'
                            style='font-weight: 400;'>
                            <img alt='' src='./assets/media/logo/windows.svg' height='19px' width='16px' />
                            <span>&ensp;{{hostdata.os_info.name}}</span>
                        </span>
                        <span *ngIf="hostdata.os_info.platform == 'darwin'" class='logo-color menu-icon'
                            style='font-weight: 400;'>
                            <i class='fab fa-apple' style='font-size: 18px; color: #8e8e93;'></i>
                            <span>&ensp;{{hostdata.os_info.name}}</span>
                        </span>
                        <span *ngIf="hostdata.os_info.platform == 'Ubuntu'" class='logo-color menu-icon'
                            style='font-weight: 400;'>
                            <img alt='' src='./assets/media/logo/Linux1.svg' height='19px' width='16px' />
                            <span>&ensp;{{hostdata.os_info.name}}</span>
                        </span>
                        <span *ngIf="hostdata.os_info.name == 'ubuntu'" class='logo-color menu-icon'
                            style='font-weight: 400;'>
                            <img alt='' src='./assets/media/logo/Linux1.svg' height='19px' width='16px' />
                            <span>&ensp;{{hostdata.os_info.name}}</span>
                        </span>
                        <span *ngIf="hostdata.os_info.platform == 'rhel'" class='logo-color menu-icon'
                            style='font-weight: 400;'>
                            <img alt='' src='./assets/media/logo/Linux1.svg' height='19px' width='16px' />
                            <span>&ensp;{{hostdata.os_info.name}}</span>
                        </span>
                        <span *ngIf="hostdata.os_info.name == 'windows'" class='logo-color menu-icon'
                            style='font-weight: 400;'>
                            <img alt='' src='./assets/media/logo/windows.svg' height='19px' width='16px' />
                            <span>&ensp;{{hostdata.os_info.name}}</span>
                        </span>
                    </td>
                    <td>
                        <div style="color: #25282a" class="text-wrap width">{{hostdata.last_ip}}</div>
                    </td>
                    <td class="dt-justify">                        
                      <tag-input [theme]="'foundation-theme'" [(ngModel)]='hostdata.tags'  [secondaryPlaceholder]="'Add tags here...'" [placeholder]="'Add tags here...'"
                      (onAdd)="hosts_addTag(hostdata.tags,hostdata.id)"
                      (onRemove)="hosts_removeTag($event,hostdata.id)" [modelAsStrings]="true"
                      style="font-family: 'Poppins', sans-serif !important;">
                    </tag-input>
                    </td>
                    <td >
                        <i style="font-size:12px;color: #1bff06;cursor: pointer;" (click) ="addNodes(hostdata.id)" title="Restore Host" class="fa">&#xf058;</i>
                    </td>
                    <td>
                      <i style="font-size:12px;color: #fa0303;cursor: pointer;" (click) ="deleteHost(hostdata.id, hostdata.display_name)" title="Delete Host" class="fa">&#xf057;</i>
                    </td>
                </tr>
              </tbody>
           
            </table>
            <div  *ngIf="hostmainvalue_data?.length === 0">
              <span style=" text-align: center; padding-left: 450px;font-size: larger;font-weight: 600;">
               {{this.errorMessage}}
              </span>
            </div>
            <!--end: Datatable -->
          </div>
    </div>

</div>
</div>
</div>
</div>
