.datatable__search input {
    margin-left: .5em;
    display: inline-block;
    width: auto;
}
.datatable__search label {
    float: right;
    margin-bottom: -12px;
}
.kt-portlet .kt-portlet__head .kt-portlet__head-label .kt-portlet__head-title {
   margin: 0;
   padding: 0;
   font-size: 1.1rem;
   font-weight: 600;
   color:  #464457;
}
.table td {
    padding: 0rem;
    font-family: Poppins;
    font-size: 12px;
}
.table th {
    font-weight: 500;
    // padding: 0rem;
    padding-left: 0px;
    font-family: Poppins;
}
.ng2-tag-input {
    font-family: 'Poppins';
    border-bottom: none;
    padding-bottom: 0rem;
  
  }

@import "~node_modules/ngx-chips/core/styles/core/_core.scss";
$foundation-primary: green;
$foundation-primary-dark: darken($foundation-primary, 10%);
$font-family: "Poppins", sans-serif !important;

// this is the container's theme
$foundation-theme: (
    font-family: $font-family,
    container-border-bottom: 1px solid $foundation-primary
);

// this is the tag's theme
$foundation-tag-theme: (
    font-family: $font-family,
    background: $foundation-primary,
    background-focused: $foundation-primary-dark,
    background-active: $foundation-primary-dark,
    background-hover: $foundation-primary-dark,
    color: #fff,
    color-hover: #fff,
    border-radius: 3px,
    height: auto,
    line-height: 1.5,
    font-size: 11px,
   font-weight: 900
);

// this is the delete icon's theme
$foundation-icon-theme: (
    fill: #fff,
    fill-focus: #eee,
    transition: all 0.35s
);

// apply theme to the container
::ng-deep tag-input .ng2-tag-input.foundation-theme {
    
    @include tag-input-theme($foundation-theme);
    
}

// apply theme to the tags
::ng-deep tag-input .ng2-tag-input.foundation-theme tag {
    @include tag-theme($foundation-tag-theme);
}
::ng-deep tag-input .ng2-tag-input__text-input{
    height: auto !important;
}
// apply theme to the delete icon
::ng-deep tag-input .ng2-tag-input.foundation-theme tag delete-icon {
    @include icon-theme($foundation-icon-theme);
}
::ng-deep tag-input .ng2-tag-input.foundation-theme tag delete-icon svg {
    height: 13px;
}
::ng-deep tag-input .ng2-tag-input.foundation-theme{
    border-bottom: 2px solid  #fff; 
}
table.dataTable {
    background-color:#fff;
    border-bottom: 1px solid #ebedf2;
    // margin-bottom: 0 !important;
}
.dropdown-btn-1 {
    margin-top: -17px;
    margin-left: 21px;
    cursor: pointer;
  }


table.dataTable thead th, table.dataTable thead td {

    border-bottom: 1px solid #ebedf2;}
 ::ng-deep .dataTables_wrapper.no-footer .dataTables_scrollBody {
    border-bottom: 1px solid white;
}
@import "~node_modules/placeholder-loading/src/scss/placeholder-loading.scss";
$ph-bg:                   #fff !default;
$ph-color:                #ced4da !default;
$ph-border-radius:        2px !default;
 
$ph-gutter:               30px !default;
$ph-spacer:               15px !default;
 
$ph-avatar-border-radius: 50% !default;
 
$ph-animation-duration:   .8s !default;