<link rel="stylesheet" href="/static/assets/css/style1.css">

<aside style="position: fixed" id="left-panel" class="left-panel">
    <nav class="navbar navbar-expand-sm navbar-default">

        <div class="navbar-header">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-menu"
                    aria-controls="main-menu" aria-expanded="false" aria-label="Toggle navigation">
                <i name="dummy" class="fa fa-bars"></i>
            </button>
            <a name="dummy" class="navbar-brand" href="/"><h4 name="dummy">PolyLogyx</h4></a>
            <a name="dummy" class="navbar-brand hidden" href="/"><h4 name="dummy">P</h4></a>
        </div>

        <div id="main-menu" class="main-menu collapse navbar-collapse">
            <ul name="dummy" class="nav navbar-nav">

                     <li name="dummy" class="active">
                    <a name="dummy" href="{{ url_for('manage.index') }}"> <i name="dummy"
                                                                             class="menu-icon fa fa-dashboard"></i>Dashboard
                    </a>
                </li>


                <li name="dummy" class="active">
                    <a name="dummy" href="{{ url_for('manage.nodes') }}"> <i name="dummy"
                                                                             class="menu-icon fa fa-laptop"></i>Nodes
                    </a>
                </li>
                                <li name="dummy" class="menu-item-has-children dropdown">
                    <a name="dummy" href="#" class="dropdown-toggle" data-toggle="dropdown"
                       aria-haspopup="true"
                       aria-expanded="false"> <i name="dummy" class="menu-icon fa fa-eye"></i>Management</a>
                    <ul name="dummy" class="sub-menu children dropdown-menu">

                        <li name="dummy">
                            <i name="dummy" class="menu-icon fa fa-cog"></i> <a name="dummy"
                                                                                href="{{ url_for('manage.update_api_keys') }}">Api
                            Keys</a>
                        </li>
                        <li name="dummy">
                            <i name="dummy" class="menu-icon fa fa-cog"></i> <a name="dummy"
                                                                                href="{{ url_for('manage.change_password') }}">Change
                            Password</a>
                        </li>
                        <li name="dummy">
                            <i name="dummy" class="menu-icon fa fa-cog"></i> <a name="dummy"
                                                                                href="{{ url_for('manage.hunt') }}">Hunt</a>
                        </li>
                        <li name="dummy">
                            <i name="dummy" class="menu-icon fa fa-cog"></i> <a name="dummy"
                                                                                href="{{ url_for('manage.add_setting') }}">Additions
                            Settings</a>
                        </li>

                        <li name="dummy">
                            <i name="dummy" class="menu-icon fa fa-laptop"></i> <a name="dummy"
                                                                                   href="{{ url_for('manage.add_option') }}">Options</a>

                        </li>

                        <li name="dummy">
                            <i name="dummy" class="menu-icon fa fa-trash"></i> <a name="dummy"
                                                                                  href="{{ url_for('manage.delete_result') }}">Delete</a>
                        </li>
                        <li name="dummy">
                            <i name="dummy" class="menu-icon fa fa-cog"></i> <a name="dummy"
                                                                                href="{{ url_for('manage.carves') }}">Carves</a>
                        </li>

                    </ul>
                </li>

                            <li name="dummy" class="menu-item-has-children dropdown">
                    <a name="dummy" href="{{ url_for('manage.live_queries') }}" class="dropdown-toggle"
                       data-toggle="dropdown"
                       aria-haspopup="true"
                       aria-expanded="false"> <i name="dummy" class="menu-icon fa fa-plus-square"></i>Add</a>
                    <ul name="dummy" class="sub-menu children dropdown-menu">


                          <li name="dummy">
                            <i name="dummy" class="fa fa-puzzle-piece"></i><a name="dummy" href="{{ url_for('manage.upload_intel') }}">IOC's</a>
                        </li >
                        <li name="dummy">
                            <i name="dummy" class="fa fa-id-badge"></i><a name="dummy" href="{{ url_for('manage.yara_add') }}">YARA</a>
                        </li>
                        <li name="dummy"><i name="dummy" class="fa fa-puzzle-piece"></i><a name="dummy"
                                                                                           href="{{ url_for('manage.add_pack') }}">Pack</a>
                        </li>
                        <li name="dummy"><i name="dummy" class="fa fa-id-badge"></i><a name="dummy"
                                                                                       href="{{ url_for('manage.add_query') }}">Query</a>
                        </li>

                        <li name="dummy"><i name="dummy" class="fa fa-id-badge"></i><a name="dummy"
                                                                                       href="{{ url_for('manage.add_rule') }}">Rule</a>
                        </li>
                        <li name="dummy"><i name="dummy" class="fa fa-share-square-o"></i><a name="dummy"
                                                                                             href="{{ url_for('manage.add_tag') }}">Tag
                        </a></li>

                        <li name="dummy"><i name="dummy" class="fa fa-share-square-o"></i><a name="dummy"
                                                                                             href="{{ url_for('manage.add_config') }}">Config
                        </a></li>


                    </ul>
                <li>

                <li name="dummy" class="menu-item-has-children dropdown">
                    <a name="dummy" href="#" class="dropdown-toggle" data-toggle="dropdown"
                       aria-haspopup="true"
                       aria-expanded="false"> <i name="dummy" class="menu-icon fa fa-eye"></i>View</a>
                    <ul name="dummy" class="sub-menu children dropdown-menu">
                        <li name="dummy"><i name="dummy" class="fa fa-puzzle-piece"></i><a name="dummy"
                                                                                           href="{{ url_for('manage.packs') }}">Packs</a>
                        </li>
                        <li name="dummy"><i name="dummy" class="fa fa-id-badge"></i><a name="dummy"
                                                                                       href="{{ url_for('manage.queries') }}">Queries</a>

                        </li>
                        <li name="dummy"><i name="dummy" class="fa fa-id-badge"></i><a name="dummy"
                                                                                       href="{{ url_for('manage.rules') }}">Rules</a>
                        </li>
                        <li name="dummy"><i name="dummy" class="fa fa-share-square-o"></i><a name="dummy"
                                                                                             href="{{ url_for('manage.tags') }}">Tags
                        </a></li>

                        <li name="dummy"><i name="dummy" class="fa fa-share-square-o"></i><a name="dummy"
                                                                                             href="{{ url_for('manage.configs') }}">Configs
                        </a></li>


                    </ul>
                </li>




                <li name="dummy">

                    <a name="dummy" href="{{ url_for('manage.downloads') }}"> <i name="dummy"
                                                                                 class="menu-icon fa fa-download"></i>Downloads</a>
                </li>

                <li name="dummy">

                                                                                                            <a name="dummy" href="{{ url_for('manage.11') }}"> <i name="dummy"
                                                                              class="menu-icon fa fa-exclamation-triangle"></i>Alerts</a>
                </li>

                <li name="dummy">

                    <a name="dummy" href="{{ url_for('manage.live_queries') }}"> <i name="dummy"
                                                                                    class="menu-icon fa fa-laptop"></i>Live
                        queries</a>
                </li>
        <li name="dummy">
                    <a name="dummy" href="{{ url_for('manage.search_column') }}"> <i name="dummy" class="menu-icon fa fa-search"></i>Search</a>
                </li>
                <li name="dummy">

                    <a name="dummy" href="{{ url_for('manage.readme') }}"> <i
                            class="menu-icon fa fa-book"></i>README</a>
                </li>

                </li>

                <li name="dummy">

                    <a name="dummy" href="{{ url_for('users.logout') }}"> <i class="menu-icon fa fa-sign-out"></i>Logout</a>
                </li>

                      <li name="dummy">
                     <a name="dummy" > <i name="dummy" class="  "></i><h7 >Version : 1.13</h7></a>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </nav>
</aside><!-- /#left-panel -->
